{% extends "aboutus/base.html" %}

{% block head_extra%}
	{{block.super}}
	<!-- Demo CSS -->
	<link rel="stylesheet" href="/media/css/flexslider.css" type="text/css" media="screen" />
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script defer src="/media/js/jquery.flexslider.js"></script>

{% endblock %}

{% block content %}

<div class="well">
	<div class="grid" >
		<h2 style="color: #dc143c;">News</h2>
				<div class="hr"></div>&nbsp;
		<ul class="nav nav-pills">
		{% for y in available_years%} 
			<li  {% if "/aboutus/news/{{y}} in request.path" %}class='active'{% endif %}><a href="{{SITE_URL}}/aboutus/group_photos/{{y}}">{{y}}</a></li>
		{% endfor %}
		</ul>
			<div class="hr"></div>&nbsp;
		<div id="myCarousel" class="carousel slide">

			<!-- Carousel items -->
			<div class="carousel-inner" style="width:80%; margin:auto;">
			
				{% for post in posts %}
					{% if post_id %}
						{% ifequal post_id post.id %}
							<div class="active item">
						{% else %}
							<div class="item">
						{% endifequal %}
					{% else %}
						{%ifequal forloop.counter0 0 %}
							<div class="active item">
						{% else %}
							<div class="item">
						{% endifequal %}
					{% endif %}
					<h4>{{post.title}}</h4>
					<h5>{{post.date}}</h5>
					<div class="hr"></div>
					<p>{{post.content|linebreaks|urlize}}</p>
					{% if post.images.all %}
					<div class="hr"></div>
					</br >
					<h4 align="center">Images</h4>
					<div id="slider{{post.id}}" class="flexslider">
						<ul class="slides">
						{% for photo in post.images.all %}					
							<li>
								<div>
									<img src="{{photo.image.url}}" alt="" />
									<div class="flex-caption">
										<p><strong>Figure {{forloop.counter}}:</strong> {{photo.description}}</p>
									</div>
								</div>
							</li>
						{% endfor %}
						</ul>
					</div> 
					<script type="text/javascript">

						$(window).load(function() {
						   
						  $('#slider{{post.id}}').flexslider({
							animation: "slide",
							controlNav: false,
							animationLoop: false,
							slideshow: true,
						  });
						  
						  // Can also be used with $(document).ready()
							$(window).load(function() {
							  $('.flexslider').flexslider({
								animation: "slide"
							  });
							});
						  
						});

						</script>
						
					{% endif %}
				
					{% if post.files.all %}
					<div class="hr"></div>
					</br >
					<h4 align="center">Files</h4>
					<ul>
						{% for f in post.files.all %}
						 <li><a href="{{f.file_attached.url}}">{{f.title}}</a>: {{f.description}}	</li>
						{% endfor %}
					</ul>
					{% endif %}
					<div class="hr"></div>
					</br >
					</div>
				{% endfor %}
			</div>
					<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
		</div>
	</div>
</div>

{% endblock %}
