{% load i18n %}
<li class='leftmenu-category nav-header'>
    {%trans "Surface Water Body Data Product"%}
</li>
<li>
    <a href="/water/overview/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Overview" %}</p>
    </a>
</li>
<li class='leftmenu-category nav-header'>
    {%trans "Inventory (Data Products)"%}
</li>
<li>
    <a href="/water/CONUS-Water/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{%trans "CONUS-Water"%}</p>
    </a>
</li>
<li>
    <a href="/water/GLOBAL-Water/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{%trans "GLOBAL-Water"%}</p>
    </a>
</li>
<li class='leftmenu-category nav-header'>
    {%trans "Visualization"%}
</li>
<li>
    <a href="/water/33-year-wbfm/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{%trans "33-year Water Body Frequency Map"%}</p>
    </a>
</li>
<li>
    <a href="/modis/visualization/olmap/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{%trans "Annual Water Body Frequency Map"%}</p>
    </a>
</li>
<li>
    <a href="/modis/visualization/olmap/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{%trans "33-year Good Observation Map"%}</p>
    </a>
</li>
<li class='leftmenu-category nav-header'>
    {%trans "Delivery"%}
</li>
<li>
    <a href="/modis/visualization/gmap/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{%trans "Single Site Time-Series"%}</p>
    </a>
</li>
<li>
    <a href="/modis/visualization/multiple_add/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{%trans "Multiple Site Time-Series"%}</p>
    </a>
</li>
<li class='leftmenu-category nav-header'>
    {%trans "Request history"%}
</li>
<li>
    <a href="/modis/visualization/timeseries/single/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Single Site history" %}</p>
    </a>
</li>
