{% extends "water/base.html" %}

{% load i18n %}
{% block title %} {% trans "CEOM Visualization overview" %}{% endblock %}

{% block content %}
<div class="well">
    <h2 style="color: #dc143c;">{% trans "Overview" %}</h2>

    <legend> {% trans "Annual and 33-year water body frequency maps of the contiguous US from 1984 to 2016" %} </legend>
    <p>{% trans "There are 50 5-by-5 degree tiles covering the entire CONUS. In each zipped tile folder, there are 33 annual water body frequency images (e.g. freq_2016_-070_040.tif), one 33-year water body frequency image (e.g. 33YearFreq_1984_2016_-070_040.tif), and one 33-year good observation image (e.g. 33YearGoodObs_1984_2016_-070_040.tif)." %}</p>

    <h5> {% trans "Water body frequency images:" %}</h5>
    <p>{% trans "Annual and 33-year water body frequency are defined as the ratio of water observations to total good observations in a year and in 1984-2016, respectively. The frequency stored in these image is compressed in 8 bits (1-255). To get the frequency in floating point (0-1.0), use the equation: f = (F-1)/254.0, where F is in 8 bits while f is in floating point. " %}</p>

    <h5> {% trans "33-year good observation images:" %}</h5>
    <p>{% trans "For each Landsat image, the CFmask band was used as a quality control band to remove the cloud, cloud shadow, and snow pixels. The solar azimuth and zenith angles of each image were used along with the Shuttle Radar Topography Mission (SRTM) digital elevation model (DEM) to simulate terrain shadows and remove them. The remaining pixels were considered as good observations that can be used for water body detection. The total good observation number during 1984-2016 is stored in the 33-year good observation images."  %}</p>   
    <p> Projection is WGS84, while spatial resolution is 0.000269494585236.

    For additional details, please go to our lab server (http://mangrove.rccc.ou.edu/ceomftp/conus_water_dataset/).
    To use this data, please cite our articles: 
    Zou, Z., Xiao, X., Dong, J., Qin, Y., Doughty, R.B., Menarguez, M.A., Zhang, G., Wang, J. Divergent Trends of Open Surface Water Body Area in the Contiguous United States from 1984 to 2016, PNAS, doi: 10.1073/pnas.1719275115

    Zou, Z., J. Dong, M. A. Menarguez, X. Xiao, Y. Qin, R. B. Doughty, K. V. Hooker, and K. David Hambright (2017), Continued decrease of open surface water body area in Oklahoma during 1984-2015, Sci Total Environ, 595, 451-460, doi: 10.1016/j.scitotenv.2017.03.259.</p>    

    <!-- <legend>{% trans "Wild bird data" %} </legend>
    <p>{% trans "Satellite telemetry of wild birds provides useful information on local movement and seasonal migration of migratory wild birds. Here you can visualize wild bird movement data from satellite telemetry." %} </p>


    <legend>{% trans "Avian influenza data" %}</legend>
    <p>{% trans "Transmission and spillover of avian influenza, specifically highly pathogenic avian influenza (e.g., influenza A subtype H5N1, H7N9) is a major concern of public health. Here you can visualize spatial patterns and temporal dynamics of HPAI H5N1outbreaks in the world." %}</p>
 -->
</div>
{% endblock %}
