{% extends "workshops/base.html" %}

{% load thumbnail %}
{% load extra_template_tags %}

{% load crispy_forms_tags %}
{% block content %}
<!-- <div class="well span12">
    <h1 class="text-center">Photo Gallery <small>{{workshop.name}}</small></h1>

    <div class="hr"></div>
    <br> -->
<!--     {% if photos %}
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            {% for photo in photos %}
            <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}" {% ifequal forloop.counter 1 %}class="active"{% endifequal %}></li>
            {% endfor %}
          </ol>
          
          <div class="carousel-inner">
            {% for photo in photos %}
            <div class="{% ifequal forloop.counter 1 %}active {% endifequal %}item">
                <img src="{{photo.image.url}}" alt="Photo from Workshop: {{workshop.title}}" style="width:80%;margin-right:10%;margin-left:10%">
            {% endfor %}
            </div>
          </div>
          
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

    {% endif %} -->


<!--     <div id="myCarousel" class="carousel slide" style="width:100%; margin:auto;">

            <div class="carousel-inner" style="width:90%; margin:auto;">
                {% for photo in photos %}
                   {% thumbnail photo "600x600" crop="center" as photo.image %}
                      {% if forloop.counter == 1 %}
                      <div class="active item"><div class="pagination-centered"> <a href="/media/{{photo}}"><img src="{{photo.image.url}}"></a></div></div>
                      {% else %}
                      <div class="item"><div class="pagination-centered"><a href="/media/{{photo}}"><img src="{{photo.image.url}}"></a></div></div>
                      {% endif %}
                  {% endthumbnail %}
                {%endfor%}
            </ol>
            </div>

            <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
        </div> -->

<!--     <div class="row-fluid">
              
                  {% for photo in photos %}
                   {% thumbnail photo "600x600" crop="center" as photo.image %}
                      <a href="/media/{{photo}}"><img src="{{photo.image.url}}" class="img-thumb"></a>
                    {% endthumbnail %}
                    
                  {%endfor%}

          </div>   -->  

<!-- </div> -->



<style>
    .img-thumb{
        padding: 4px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 10px;
        width: 200px;
        max-width: 200px;
        height: 150px;
    }
    .carouselArrow {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background: #555;
        border: 2px solid #fff;
        color: #fff;
        text-align: center;
    }

    .carouselArrowInterior {
        position: relative;
        color: white;
        font-size: 36pt;
        line-height: 41%;
    }

    .carousel-img {
        height: 300px;
    }

    .carousel-item {
        transition: transform 1s ease, opacity .5s ease-out;
    }

    @media screen and (min-width: 1250px) {
                #title {
                  font-size: 3vw;
                }

                #subtitle {
                  font-size: 1.5vw;
                }

                #carouselExampleIndicators {
                  width: 80%;
                }

                #items {
                  width: 80%;
                }
        	}
        
        	@media screen and (min-width: 1110px) and (max-width: 1250px) {
                #title {
                  font-size: 2.8vw;
                }

                #subtitle {
                  font-size: 1.8vw;
                }

                #carouselExampleIndicators {
                  width: 85%;
                }

                #items {
                  width: 85%;
                }
            }
            
            @media screen and (min-width:575px) and (max-width: 1110px) {
                #title {
                  font-size: 2.9vw;
                }

                #subtitle {
                  font-size: 2vw;
                }

                #carouselExampleIndicators {
                  width: 90%;
                }

                #items {
                  width: 90%;
                }
            }

            @media screen and (max-width:575px) {
                #title {
                  font-size: 4vw;
                }

                #subtitle {
                  font-size: 3vw;
                }

                #content {
                  margin-left: -60px;
                  margin-right: 20px;
                }

                #carouselExampleIndicators {
                  width: 95%;
                }

                #items {
                  width: 95%;
                  height: 90%;
                }
            }
</style>

<div class="well">
  <div class="grid" >
    <h1 id="title" class="text-center">Photo Gallery <small id="subtitle">{{workshop.name}}</small></h1>
    
    <div class="hr"></div>
    <br>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="display: inline-block">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for photo in photos %}
          {% if forloop.counter == 1 %}
            <li data-target="#carouselExampleIndicators" data-slide-to=forloop.counter-1 class="active"></li>
          {% else %}
            <li data-target="#carouselExampleIndicators" data-slide-to=forloop.counter-1 ></li>
          {% endif %}
        {% endfor%}
      </ol>
      <!-- Carousel items -->
      <div id="items" class="carousel-inner" style="margin:auto; height: 34vw">
          {% for photo in photos %}
              {% thumbnail photo "600x600" crop="center" as photo.image %}
                {% if forloop.counter == 1 %}
                <div class="carousel-item active"><div class="pagination-centered"><img class="d-block w-100" src="{{photo.image.url}}"></div></div>
                {% else %}
                <div class="carousel-item"><div class="pagination-centered"><img class="d-block w-100" src="{{photo.image.url}}"></div></div>
                {% endif %}
            {% endthumbnail %}
          {%endfor%}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <div class="carouselArrow" aria-hidden="true">
          <div class="carouselArrowInterior">&lsaquo;</div>
        </div>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <div class="carouselArrow" aria-hidden="true">
          <div class="carouselArrowInterior">&rsaquo;</div>
        </div>
        <span class="sr-only">Next</span>
      </a>
    </div> 
    <!-- Photos after carousel -->
    <div class="row-fluid">
          
      {% for photo in photos %}
        {% thumbnail photo "600x600" crop="center" as photo.image %}
          <a href="/media/{{photo}}"><img src="{{photo.image.url}}" class="img-thumb"></a>
        {% endthumbnail %}
        
      {%endfor%}

      </div>
    </div>
</div>
{% endblock %}
