{% extends "workshops/base.html" %}
{% load i18n %}

{% block content %}
	<div class="well">
		<h1 class="text-center">{% trans "Workshops" %}</h1>
		<div class="hr"></div>

        <hr>
        <ul class="nav nav-pills">            
            <li {% if not year_selected %}class='active'{% endif %}>
                <a href="/workshops/past">All <span class="badge"> {{total_workshops}}</span></a>
            </li>
        {% for year in years %} 
            <li {% ifequal year_selected year.year|floatformat:-1 %}class='active'{% endifequal %}>
                <a href="/workshops/past/{{year.year|floatformat:-1}}">{{year.year|floatformat:-1}} <span class="badge"> {{year.count}}</span></a>
            </li>
        {% endfor %}
        </ul>
		<ul>
		{% for workshop in workshops %}	
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" style="width:64px;height:64px" src="{{workshop.category.image.url}}" alt="{{workshop.category.name}}">
              </a>
              <div class="media-body ">
                <h4 class="media-heading"><a href="/workshops/content/{{workshop.id}}">{% trans workshop.name %}</a></h4>
                {% trans workshop.description %}      
              </div>
            </div>
		{% endfor %}
		</ul>
	</div>
{% endblock %}
