{% extends "aboutus/base.html" %}

{% load i18n %}
{% block title %} {% trans "CEOM Research projects" %}{% endblock %}

{% block content %}
<div class="well">
	<div class="grid" >
		<h2 style="color: #dc143c;">{% trans "Projects" %}</h2>
		<div class="hr"></div>&nbsp;
		<h3>{% trans "Funded Grants (a total of " %} ~$72,195,299)</h3>
		<p>&nbsp;</p>
		<p><strong>51. Adapting socio-ecological systems to increased climate variability</strong> , State of Oklahoma, Regents for High Education, 06/01/2013 &ndash; 05/31/2018, $4,000,000</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p><strong>50. Adapting socio-ecological systems to increased climate variability</strong> , National Science Foundation, IIA (Office of International and Integrated Activities, 06/01/2013 &ndash; 05/31/2018, $20,000,000</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>49. Remote sensing of water quality and harmful algae in Oklahoma&rsquo;s </strong>Oklahoma Water Resources Research Institute (fund from the USGS and Oklahoma Water Resources Board, 03/01/2013 &ndash; 02/28/2014, $50,000</p>
		<p>&nbsp;</p>
		<p><strong>48. Effects of anthropogenic habitat perturbation on rodent population dynamics and risk of rodent-borne diseases</strong>, Inter-American Institute for Global Change Research, 11/01/2012 &ndash; 10/31/2016 , $30,000</p>
		<p>&nbsp;</p>
		<p><strong>47. Comparative spillover dynamics of avian influenza in endemic countries, </strong>&nbsp; NIH Fogarty International, 09/17/2012 &ndash; 09/16/2013, $77,438</p>
		<p>&nbsp;</p>
		<p><strong>46. Resilience and vulnerability of beef cattle production in the Southern Great Plains under changing climate, land use and market, </strong>USDA&ndash;NIFA&ndash;AFRI, 09/01/2012 &ndash; 08/31/2017, &nbsp;$1,927,475<strong></strong></p>
		<p>&nbsp;</p>
		<p><strong>45. Acquisition of a COSMOS instrument for continuous measurements of soil moisture at landscape scale</strong>, 06/1/2012 &ndash; 12/31/2012, $15,000<strong></strong></p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>44. Optimizing grassland bird conservation in an era of biofuel production, </strong>06/15/2012 &ndash; 11/14/2015, $466,535</p>
		<p>&nbsp;</p>
		<p><strong>43. Collaborative Research: IDBR: Enhancing and disseminating miniaturized tracking technology for widespread use on small migratory songbirds, </strong>NSF Instrumentation Development for Biological Research, 02/01/2012 &ndash; 8/31/2014, $302,603</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p><strong>42. OU University Strategic Organization (USO): South &ndash; Central Climate Science Center, </strong>10/1/2011 &ndash; 9/30/2016, $750,000<strong></strong></p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>41. DOI USGS South &ndash; Central Climate Science Center</strong> , Department of Interior, 10/1/2011 &ndash; 9/30/2016, $1,484,681<strong></strong></p>
		<p>&nbsp;</p>
		<p><strong>40. Dynamics of cross-species influenza transmission: A multi-national collaboration: China, Cameroon and Egypt, </strong>NIH/FIC, 10/1/2011 &ndash; 9/30/2012, $200,000<strong></strong></p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>39. Integrating Earth observation and satellite telemetry of wild birds for decision support system of avian influenza , </strong>USGS, FAO/UN, NASA Applied Science Program &ndash; Public Health, 4/1/2011 &ndash; 3/30/2013, $149,943&nbsp;</p>
		<p><strong>38. Quantifying changes in agricultural intensification, expansion and gross primary production in monsoon Asia during 2000-</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NASA Land Cover and Land Use Change Program, 5/1/2011 &ndash; 4/30/2014, $606,458&nbsp;</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>37. Ecology-based risk assessment and early warning of highly pathogenic avian influenza H5N1 in Asia (Year 2 supplement), </strong>NIH/FIC,10/1/2010 &ndash; 9/30/2011, $212,500</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>36. International workshop on community-based data synthesis, analysis and modeling of avian influenza in Asia, </strong>10/1/2010 &ndash; 9/30/2011, $150,000</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>35. Acquisition of extensible Petascale storage for data intensive research, </strong>NSF Major Research Instrument, 10/1/2010 &ndash; 9/30/2013, $792,925</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>34. The Oklahoma Optical Initiative </strong>NSF 09-569 EPSCoR RII C2, 9/1/2010 &ndash; 8/30/2012, $1,176,470</p>
		<p>&nbsp;</p>
		<p><strong>33. Modeling impacts of climate change on carbon dynamics in northern high latitude wetlands , </strong>NASA ROSE2008, 9/1/2009 &ndash; 6/30/2013, $39,100</p>
		<p>&nbsp;</p>
		<p><strong>32. Understanding Transmission and Dynamics of Highly Pathogenic Avian Influenza H5N1: Geospatial Datasets and Modeling at Multiple Scales, </strong>10/1/2009 &ndash; 9/30/2010, $200,000</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>31. Web-based data sharing and integration for surveillance and ecology of zoonotic infectious, </strong>National Institutes of Health, Fogarty International Center, 9/1/2009 &ndash; 8/30/2011, $60,000</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>30. Seasonal migration of wild waterfowl and its role in transmission of avian, </strong>National Institutes of Health, Fogarty International, 9/1/2009 &ndash; 8/30/2011, $240,000</p>
		<p>&nbsp;</p>
		<p><strong>29. Collaborative Research: EPSCoR Track 2 Oklahoma and Kansas: A CyberCommons for ecological forecasting, </strong>National Science Foundation, 9/1/2009 &ndash; 8/31/2012, $3,000,000<strong></strong></p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>28. Collaborative Research: EPSCoR Track 2 Oklahoma and Kansas: A CyberCommons for ecological forecasting, </strong>State of Oklahoma, Regents for Higher Education, 9/1/2009 &ndash; 8/31/2012, $300,000</p>
		<p><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong></strong></p>
		<p><br /> <strong>27. Cooperative Agreement: Ecology of wild migratory birds and avian influenza, </strong>USGS, 8/27/2008 &ndash; 8/26/2013, $88,134&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p><strong>26. International workshops for community-based data synthesis, analysis and modeling of highly pathogenic avian influenza H5N1 in Asia, </strong>National Institutes of Health, Fogarty International Center, 7/1/2008 &ndash; 6/30/2009, $149,898</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p><strong>25. Quantifying agro-ecological risk factors of highly pathogenic avian influenza in Java, Indonesia, </strong>National Institutes of Health, Fogarty International Center, 7/1/2008 &ndash; 6/30/2009, $149,998</p>
		<p>&nbsp;</p>
		<p><strong>24. Developing land cover data products in monsoon Asia over the period of 2004-2007 through integration of Landsat and multi-temporal ALOS/PALSAR images </strong>&nbsp;&nbsp;&nbsp;&nbsp; NASA ROSE2007-A2 Land Cover and Land Use Change, 6/1/2008 &ndash; 5/31/2010, $690,255</p>
		<p>&nbsp;&nbsp;</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>23. Quantifying leaf chlorophyll content, light absorption by chlorophyll and gross primary production</strong>, NASA ROSES-EOS Data Analysis, 1/1/2008 &ndash; 12/31/2010, $540,946</p>
		<p>&nbsp;&nbsp;</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>22. Enhancing research and education capacity for integration of Earth observations, infectious disease ecology and public health in New Hampshire, </strong>NASA CAN EPSCoR, 1/1/2008 &ndash; 12/31/2010, $749,222 (plus additional $518,475 matching-fund)</p>
		<p>&nbsp;</p>
		<p><strong>21. Northern Eurasia Landscape: Interactions between humans, hydrology, land cover and land use, </strong>NASA ROSE2007-A2 Land Use and Land Cover Change, 6/1/2008 &ndash; 5/31/2011, $672,476</p>
		<p><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
		<p><strong>20. Integrating satellite- and ground-based data products to support geospatial visualization, analysis and modeling, </strong>USAID and Wildlife Conservation Society, 7/1/2007 &ndash; 5/10/2008 (extension to 5/10/2009), $187,174</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>19. US-Japan Workshop on Monsoon Asia Tropical Forest Carbon Dynamics and Sustainability, </strong>National Science Foundation, 10/1/2007 &ndash; TBD, $49,797</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>18. Advancing our understanding of the Earth system through coupled carbon-climate modeling and </strong><strong>modeling, </strong>NAS, 4/1/2007 &ndash; 3/31/2010, $978,151</p>
		<p>&nbsp;</p>
		<p><strong>17. Remote sensing based avian influenza risk assessment, </strong>The Food and Agriculture Organization of United Nations, 5/1/2006 &ndash; 4/30/2007, $168,500</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>16. &nbsp;Ecology-based risk assessment and early warning of highly pathogenic avian influenza in Asia, </strong>National Institutes of Health, Fogarty International Center, 9/15/2006 &ndash; 9/14/2010, $1,557,579&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p>&nbsp;</p>
		<p><strong>15. The role of land cover and land use change in the hydrology of the Eurasia pan-Arctic, </strong>NASA , 1/1/2006 &ndash; 12/31/2008, $599,375</p>
		<p>&nbsp;</p>
		<p><strong>14. Contribution of changes in land use land cover, water use and climate to the hydrological cycle across the central Asian states, </strong>NASA, 6/1/2005 &ndash; 5/31/2008, $598,725</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>13. Synthesis and integration of ecological research within the Large-Scale Biosphere-Atmosphere Experiment in Amazon (LBA) and Science Support for LBA-ECO, </strong>NASA , 1/1/2005 &ndash; 12/31/2007, $899,000</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>12.&nbsp; Northern Eurasia carbon &ndash; land Use &ndash; climate interaction in the semi-arid, </strong>NASA Land Use and Land Cover Change Program, 1/1/2005 &ndash; 12/31/2007, $201,600</p>
		<p>&nbsp;</p>
		<p><strong>11. Quantifying CO<sub>2</sub> fluxes from boreal forests in Northern Eurasia: An integrated analysis of flux tower data, remote sensing data and biogeochemical modeling, </strong>NASA Land Use and Land Cover Change Program, 1/1/2005 &ndash; 12/31/2007, $654,680</p>
		<p>&nbsp;</p>
		<p><strong>10. Scaling and evaluation of ecosystem carbon uptake through integration of multi-scale remote sensing with AmeriFlux and NACP field observations, </strong>NASA Terrestrial Ecology Program, 1/1/2005 &ndash; 12/31/2007, $835,096</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>9. Understanding the changing carbon, nitrogen and water cycles in the Earth System</strong>, NASA Terrestrial Ecology Program, 2004-2006 (2007 no-cost extension), $1,482,239</p>
		<p>&nbsp;</p>
		<p><strong>8. Improving estimation of terrestrial gross primary, </strong>NASA Education Program, 2003-2006, $72,000</p>
		<p>&nbsp;</p>
		<p><strong>7. Assessing the influence of Asian rice paddies on the growth rate of atmospheric methane 1980-2020</strong>, NASA Terrestrial Ecology Program, 2002-2005, $432,000</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>6. Predicting</strong> <strong>changes in regional and global biogeochemical cycles, </strong>NASA Terrestrial Ecology Program, 2001-2004, $2,525,000</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>5. Land use change in temperate East Asia: Land cover changes impacts on carbon fluxes and land productivity, </strong>NASA Land Use and Land Cover Change Program, 2001-2004, $224,600</p>
		<p><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
		<p><strong>4. Quantifying the Atmospheric Impacts of Paddy Rice Agriculture in China</strong>, NASA/NSF/DOE/USDA/EPA TECO Program, 1997-2001, $845,000</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>3. Modeling the Biogeochemical System of the Terrestrial Amazon: Issues for Sustainability</strong>, NASA, 1997-2000, $566,000</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>2. Terrestrial biospheric responses to atmospheric deposition and application to integrated Assessment</strong>, NSF, 1997-2000, $63,064</p>
		<p><strong>&nbsp;</strong></p>
		<p><strong>1. Center of Excellence for Application of Remote Sensing to Regional and Global Integrated Environmental Assessment</strong>, NASA, 1997-1998, $396,000</p>
	</div>
</div>
{% endblock %}
