{% extends "maps/base.html" %}
{% load static %}
{% load i18n %} 
{% block title %} {% trans "Upload Maps" %} {% endblock %}
{% block head_extra %}
		<style>
		#map_form {
			font-size: x-large;
    		font-family: serif;
    		font-style: normal;
		}
		</style>
{% endblock %}
	{% block content %}
	{% if SuccessForm %}
		<span style="color:maroon;">You have successfully uploaded your map.</span>
	{% endif %}
	<h3 style="color:maroon;">Upload your map</h3>
	<span class="span3">
	<form id="map_form" action=. method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ map_form.as_table }}<br/>
		<input type="submit" class="btn btn-primary" value="Click here to upload">
	</form>
	</span>
	<script type="text/javascript">$("#map_form > input").prop('required',true);
	$("#map_form > #id_map_image_legend").prop('required', false);
	</script>
	{% endblock %}
