{% extends "maps/base.html" %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Upload Maps" %} {% endblock %}
{% block head_extra %}
	<style>
			#map_form {
				font-size: x-large;
			font-family: serif;
			font-style: normal;
			}
	</style>
{% endblock %}
{% block content %}
	<h3 style="color:maroon;" class="span12">{{x.title}}</h3>
	<small>Submitted by : <b>{{x.name_uploader}}</b></small><br/>
	<hr/>
	<div class="span12">
		
		<div class="span6">
			<span><h5 style="color:maroon;">Map:</h5></span><br/>
			<img src=/media/{{ x.map_image }} alt="{{x.title}}"/><br/>
			<span class="span6">
			<span><h5 style="color:maroon;">Legend:</h5></span><br/>
			<img src=/media/{{ x.map_image_legend }} alt="{{x.title}}"/><br/>
			</span>
		</div>
		<div class="span6">
			<span><h5 style="color:maroon;">Description:</h5></span><br/>
			<span>{{x.description}}</span><br/>
			<h5 style="color:maroon;">Comments:</h5>
			<div class="span12" style="overflow:scroll;width:100%;height:400px;">
			{% for y in comments %}
				<div class="span7 offset4" style="text-align:justify;margin:15px">
					
					<span class="span12 addcolo">
					{{y.name_comment}} on {{y.created}} said: {{y.Comment_text}}<br/></span>
				</div>
			{% endfor %}
			<!-- the div is given this id so that it should not be coincided with anythind -->
			<!-- <div class="span12" style="text-align:justify;" id="123456">
					
			</div> -->
		</div>
		</div>
		<!-- <div class="span4">
			<span><h5 style="color:maroon;">Legend:</h5></span><br/>
			<img src=/media/{{ x.map_image_legend }} alt="{{x.title}}"/><br/>
		</div> -->
		<hr/>
		
		<div class="span6 offset6">
		<br/><h4 style="color:maroon;">Submit a comment:</h4>
			<form id="map_form" action="/maps/detail_map_gallery/{{x.id}}" method="POST">
				{% csrf_token %}
				{{form.as_table}}<br/>
				<input type="submit" class="btn btn-primary" value="Click here to submit">
			</form>
		</div>
	</div>
	<!-- <span class="span3">
				<form id="map_form" action=. method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								{{ map_form.as_table }}<br/>
								<input type="submit" class="btn btn-primary" value="Click here to upload">
				</form>
	</span> -->
	<script type="text/javascript">$("#map_form > input").prop('required',true);
	$("#map_form > #id_map_image_legend").prop('required', false);
	</script>
	<style>
	.addcolo{
	background-color: lightblue;
	width: 100%;
	/*border: 5px;
	border-left: 30px;
	border-right: 30px;*/
	margin: auto;
	margin-right:auto;
	margin-left:25px;
	padding: 5px;
	padding-right: 15px;
	text-align: justify;
	border-radius: 5px;
	}
	</style>
{% endblock %}