{% load i18n %}
<ul>
    <li class='nav-header'><strong>Area's and point's of interest</strong></li>
    <ul>
        <li><a href="/maps/poi/">{% trans "POIs" %}</a></li>
        <li><a href="/maps/roi/">{% trans "ROIs" %}</a></li>
        <li><a href="/maps/view_pois/">{% trans "View/Download POIs" %}</a></li>
        <li><a href="/maps/view_rois/">{% trans "View/Download ROIs" %}</a></li>
    </ul>
    <li class='nav-header'><strong>Map evaluation</strong></li>
    <ul>
        <li><a href="/maps/map_gallery/">{% trans "Map gallery" %}</a></li>
        <li><a href="/maps/add_map_gallery/">{% trans "Upload your map" %}</a></li>
    </ul>
</ul>
