{% extends "maps/base.html" %}
<!-- This is for the ROI's map -->
<!-- Hi i am working -->
{% load i18n %} {% block title %} {% trans "Download ROIs" %} {% endblock %} {% block head_extra %}
<style>
.roi_poi_table {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #3f7f00;
    
    -moz-border-radius-bottomleft:15px;
    -webkit-border-bottom-left-radius:15px;
    border-bottom-left-radius:15px;
    
    -moz-border-radius-bottomright:15px;
    -webkit-border-bottom-right-radius:15px;
    border-bottom-right-radius:15px;
    
    -moz-border-radius-topright:15px;
    -webkit-border-top-right-radius:15px;
    border-top-right-radius:15px;
    
    -moz-border-radius-topleft:15px;
    -webkit-border-top-left-radius:15px;
    border-top-left-radius:15px;
}.roi_poi_table table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.roi_poi_table tr:last-child td:last-child {
    -moz-border-radius-bottomright:15px;
    -webkit-border-bottom-right-radius:15px;
    border-bottom-right-radius:15px;
}
.roi_poi_table table tr:first-child td:first-child {
    -moz-border-radius-topleft:15px;
    -webkit-border-top-left-radius:15px;
    border-top-left-radius:15px;
}
.roi_poi_table table tr:first-child td:last-child {
    -moz-border-radius-topright:15px;
    -webkit-border-top-right-radius:15px;
    border-top-right-radius:15px;
}.roi_poi_table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:15px;
    -webkit-border-bottom-left-radius:15px;
    border-bottom-left-radius:15px;
}.roi_poi_table tr:hover td{
    
}
.roi_poi_table tr:nth-child(odd){ background-color:#95c663; }
.roi_poi_table tr:nth-child(even)    { background-color:#ffffff; }.roi_poi_table td{
    vertical-align:middle;
    
    
    border:1px solid #3f7f00;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:12px;
    font-size:17px;
    font-family:Times New Roman;
    font-weight:normal;
    color:#000000;
}.roi_poi_table tr:last-child td{
    border-width:0px 1px 0px 0px;
}.roi_poi_table tr td:last-child{
    border-width:0px 0px 1px 0px;
}.roi_poi_table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.roi_poi_table tr:first-child td{
        background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
    background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");  background: -o-linear-gradient(top,#5fbf00,3f7f00);

    background-color:#5fbf00;
    border:0px solid #3f7f00;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:21px;
    font-family:Times New Roman;
    font-weight:bold;
    color:#ffffff;
}
.roi_poi_table tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
    background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");  background: -o-linear-gradient(top,#5fbf00,3f7f00);

    background-color:#5fbf00;
}
.roi_poi_table tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.roi_poi_table tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
</style>
{% endblock %} {% block content %}
<!-- <input type="button" id="btnExport" value=" Export Table data into Excel " /> -->
<h3 style="color:maroon;">View ROIs</h3>
<div class="span11">
    <hr/>
</div>
<div id="dvData">
    <table class="roi_poi_table" id="print_tab">
        <tr>
            <th>
                ID
            </th>
            <th>
                Date
            </th>
            <th>
                Latitude
            </th>
            <th>
                Longitude
            </th>
            <th>
                Landcover(IGBP)
            </th>
            <th>
                Field notes
            </th>
            <th>
                Pixel size(m)
            </th>
            <th>
                MODIS Tile
            </th>
            <th>
                Column
            </th>
            <th>
                Row
            </th>
            <th>
                Interpretor
            </th>
        </tr>
        {% for x in rois %}
        <tr>
            <td>
                {{x.id}}
            </td>
            <td>
                {{x.created|date:"d/m/y"}}
            </td>
            <td>
                {{x.lat}}
            </td>
            <td>
                {{x.lon}}
            </td>
            <td>
                {{x.category.name}}
            </td>
            <td>
                {{x.description}}
            </td>
            <td>
                {{x.pixelsize}}
            </td>
            <td>
                {{x.tile}}
            </td>
            <td>
                {{x.col}}
            </td>
            <td>
                {{x.row}}
            </td>
            <td>
                {{x.user.username}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<script type="text/javascript">
function fnExcelReport() {
    var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
    var textRange;
    var j = 0;
    tab = document.getElementById('print_tab'); // id of table

    for (j = 0; j < tab.rows.length; j++) {
        tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
        //tab_text=tab_text+"</tr>";
    }

    tab_text = tab_text + "</table>";
    tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, ""); //remove if u want links in your table
    tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
    tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");

    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) // If Internet Explorer
    {
        txtArea1.document.open("txt/html", "replace");
        txtArea1.document.write(tab_text);
        txtArea1.document.close();
        txtArea1.focus();
        sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
    } else //other browser not tested on IE 11
        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

    return (sa);
} //sumith code
</script>
<iframe id="txtArea1" style="display:none"></iframe>
<div class="span11">
    <hr/>
</div>
<div class="span12">
    <div class="span3 offset1">
        <button id="btnExport" class="btn btn-primary" onclick="fnExcelReport();">Export as CSV</button>
    </div>
    <div class="span3 offset1">
        <a href="/maps/download_rois">
            <button class="btn btn-primary">Export as KML</button>
        </a>
    </div>
    <div class="span3 offset1">
        <a href="/maps/filter_rois">
            <button class="btn btn-primary">Filter and download as KML</button>
        </a>
    </div>
</div>
<div class="span11">
    <hr/>
</div>
<div class="span5 offset4">
    <table style="border: 1px solid black;">
        <tr>
            <th>
                Code
            </th>
            <th>
                Classification type
            </th>
        </tr>
        {% for z in classif %}
        <tr>
            <td>
                {{z.id}}
            </td>
            <td>
                {{z.name}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<script>
var latlon2sin = function(lat, lon, npix) {
    var cons = (36.0 * npix) / (2.0 * Math.PI);
    var yg = 9.0 * npix - radians(cons * lat);
    var xg = radians(cons * lon * Math.cos(radians(lat))) + 18.0 * npix;
    var ih = Math.floor(xg / npix);
    var iv = Math.floor(yg / npix);
    var x = xg - ih * npix;
    var y = yg - iv * npix;
    var xi = Math.floor(x);
    var yi = Math.floor(y);
    return {
        h: ih,
        v: iv,
        x: xi, //col
        y: yi //row
    };
};
</script>
{% endblock %}
