{% extends "aboutus/base.html" %}
{% load i18n %}
{% block content %}

<div class="card bg-light shadow-sm p-4">
	<div class="card-body grid">
		<h2 style="color: #dc143c;">{% trans "News" %}</h2>
				<div class="hr"></div>&nbsp;

		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
			{% for post in posts %}
				<li {% ifequal forloop.counter 1 %}class=" active"{% endifequal %}>
					<a href="#tab{{forloop.counter}}" data-toggle="tab"> {{post.date|date}}</a>
					
				</li>
			{% endfor %}
			 </ul>
			 <div class="tab-content">
				{% for post in posts %}
					<div class="tab-pane {% ifequal forloop.counter 1 %} active{% endifequal %}" id="tab{{forloop.counter}}">
					<h4>{% trans post.title %}</h4>
					<h5>{{post.date}}</h5>
					<div class="hr"></div>
					<p>{{ post.content }}</p>
					{% if post.images.all%}
					<div class="hr"></div>
					</br >
					<h4 align="center">{% trans "Images" %}</h4>
						<div id="myCarousel{{forloop.counter}}"  class="carousel slide">
						<div class="carousel-inner"; style="margin-left:auto;margin-right:auto;text-align:center">	
							{% for photo in post.images.all %}	
								<div class="{% ifequal forloop.counter 1 %} active {% endifequal %} item" style=" margin-left:auto;margin-right:auto; max-width: 80%">
									<a href="{{photo.image.url}}"><img src="{{photo.image.url}}" width=100% /></a>
									<div class="carousel-caption">
										<p>{{photo.description|linebreaks|urlize}}</p>
									</div>
								</div>
							{% endfor %}
						</div>
						{% if post.images.all|length > 1 %}
						<a id="nav{{forloop.counter}}-l" class="carousel-control left" href="#myCarousel{{forloop.counter}}" data-slide="prev">‹</a>
						<a id="nav{{forloop.counter}}-r" class="carousel-control right" href="#myCarousel{{forloop.counter}}" data-slide="next">›</a>
						{% endif %}
						</div>	

					{% endif %}
				
					{% if post.files.all %}
					<div class="hr"></div>
					</br >
					<h4 align="center">{% trans "Files" %}</h4>
						<ul>
							{% for f in post.files.all %}
							 <li><a href="{{f.file_attached.url}}">{{f.title}}</a>:{{f.description}}	</li>
							{% endfor %}
						</ul>
					{% endif %}
					</br >
					</div>
				{% endfor %}
				</div><!--tab-content-->
				
		</div><!--tabbable -->
		{% lorem 50%}
	</div>
	
</div>
{% endblock %}
