{% extends "aboutus/base.html" %}
{% load i18n %}
{% block title %} CEOM Publications  {% endblock %}

{% block content %}

<div class="well">
	<div class="grid" >
 {% if request.GET.type == 'jour'%}<h2 style="color: #dc143c;">{% trans "Referred Journal Publications" %} </h2>{%endif%}
 {% if request.GET.type == 'chap'%}<h2 style="color: #dc143c;"> {% trans "Books and Book Chapters" %} </h2>{%endif%}
 {% if request.GET.type == 'pres'%}<h2 style="color: #dc143c;"> {% trans "Presentations" %} </h2>{%endif%}
	<div class="hr"></div>&nbsp;
 {% if section_list %}
<div id='list'>
    {% for name, pub_list in section_list.items reversed %}
        <div id='{{name}}'><h3>{{ name }}</h3></div>
        <ol>
        {% for p in pub_list %}
            <li style="margin-bottom: 1em">
             {{ p.authorship }},
             {% if p.year %} {{ p.year }}, {% endif %}
             <b>{{ p.title }}</b>
			 {% if p.venue %}, {{p.venue}}, {{p.date}} {% endif %}
             {% if p.book_title %}
                . {% if p.editors %}In: {{p.editors}} (Eds.),{% endif %}
				  {% if p.book_title %} {{p.book_title}}, {% endif %}
				  {% if p.publisher %} {{p.publisher}}, {% endif %}.
				  {{p.pages}}.
             {% else %}
                {% if p.journal %}, {{ p.journal }}, {% endif %}
                {% if p.volume %}
                    {{p.volume}}{% if p.issue %}({{p.issue}}){% endif %}{% if p.pages %}:{{p.pages}},{% endif %}
                {% endif %}
            {% endif %}
             {% if p.file %}
                [<a href='{{ p.file.url }}'>pdf</a>]
             {% else %}
                {% if p.link %}[<a href='{{ p.link }}'>pdf</a>]{% endif %}
             {% endif %}
            </li>
        {% endfor %}
        </ol>
    {% endfor %}
</div>
{% else %}
 {% if request.GET.type == 'jour' %} <p>{% trans "No Journals are available." %}</p>{% endif %}
 {% if request.GET.type == 'chap'%}<p> {% trans "No Books and Book Chapters are available." %}</p> {% endif %}
 {% if request.GET.type == 'pres'%}<p> {% trans "No Presentations are available" %} </p>{% endif %}
{% endif %}
	</div>
</div>
{% endblock %}
