Django==2.2.13
psycopg2-binary==2.8.5
django-grappelli==2.13.4
django-filebrowser==3.12.1
sorl-thumbnail==12.6.3
django-simple-captcha==0.5.12
django-autotranslate==1.1.1
django-chunked-upload==2.0.0
django-localflavor==3.0.1
django-tinymce==3.0.1
django-crispy-forms==1.9.2
GDAL==2.4