{% extends "visualization/base.html" %}
{% load i18n %}
{% block title %} {% trans "CEOM MODIS timeseries Single Site" %} {% endblock %}

{% block head_extra %}
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo98LuzUr-aVpxRZPFHkBl2m4ogHeROGQ&callback=init"></script>



{% endblock %}

{% block body_tag %}

<body bgcolor="#FFFFFF">{% endblock %}
    {% block content %}


<div id="accordion">
    <h3 style="color:#999900;"><strong>{% trans "Instructions" %}</strong></h3>

    <p>{% trans "Here you can retrieve time series MODIS data for a single study site, in other words, the time series MODIS data from one MODIS pixel that contains your study site. The data you get are in ASCII text file and Microsoft Excel *.csv file." %} </p>
    <ol>
        <li>
            <p>{% trans "<strong>Define the location </strong> of your study site" %}</p>
            <ul>
                <li>
                    <p>{% trans "Enter an address (e.g., street address, or city, or state)" %}</p>
                </li>
                <li>
                    <p>{% trans "Enter latitude and longitude of your study using Degree, Minute and Second Units" %}</p>
                </li>
                <li>
                    <p>{% trans "Enter latitude and longitude of your study using Decimal degree Unit" %}</p>
                </li>
            </ul>
            <p><b>(OR)</b></p>
            <p><strong>{% trans "Zoom-in the Google map</strong> and then <strong>click on a point</strong> of interest to adjust the location if required." %}<br \>
                    <small>{% trans "Note: The rectangle in Google Map is the boundary of one MODIS pixel, and the red dot is the location of your study site within the MODIS pixel." %}</small>
            </p>
        </li>
        <li>
            <p><strong>{% trans "Select product and year(s)" %}</strong><br \>
                <small>{% trans "You may choose one MODIS product over one year or several years." %}</small> </p>
        </li>
        <li>
            <p>{% trans "<strong> Submit</strong> your request. <small> Note: Upon submitting make sure you have done all previous steps or an error message will appear </small>" %} </p>
        </li>
    </ol>

</div>
<h2 style="color: #dc143c;">{% trans "Retrieve time series MODIS data for a single study site" %}</h2>

<legend><strong>{% trans "1a.Select an address or a Point on the Map" %}</strong> </legend>

<div id="div_address">
    <div class="row">
        <label class="col-sm-2 my-1">Enter the address:</label>
        <input class="form-control col-sm-3 mx-2 my-1" id="Taddress" type="text" name="address">
        <button class="btn btn-light btn-outline-secondary col-sm-1 mx-2 my-1" id="addresGo" onclick="showAddress();" style="border-width: 1.6px;">{% trans "Go" %}</button>
        <script type="text/javascript">
            $.get("https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyBo98LuzUr-aVpxRZPFHkBl2m4ogHeROGQ", function( data ) {
                console.log( "Data Loaded: " + data );
            });
        </script>
    </div>
</div>
<p><b>(OR)</b></p>
<div>
    <legend class="pt-2"><strong>{% trans "1b.Enter the latitude & longitude information" %}</strong> </legend>
    <div class="row">
        <label class="col-sm-2"></label>
        <label class="col-sm-2 mx-2" style="text-align:center">Degrees</label>
        <label class="col-sm-2 mx-2" style="text-align:center">Minutes</label>
        <label class="col-sm-2 mx-2" style="text-align:center">Seconds</label>
    </div>
    <div class="row">
        <label class="col-sm-2 my-1 pt-1">Latitude:</label> <!-- DMS Lat -->
        <input id="LAT_DEG" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="1" placeholder="Degrees">
        <input id="LAT_MIN" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="1" placeholder="Minutes">
        <input id="LAT_SEC" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="any" placeholder="Seconds">
    </div>

    <div class="row">
        <label class="col-sm-2 my-1 pt-1">Longitude:</label> <!-- DMS Lon -->
        <input id="LON_DEG" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="1" placeholder="Degrees">
        <input id="LON_MIN" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="1" placeholder="Minutes">
        <input id="LON_SEC" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="any" placeholder="Seconds">
        <button class="btn btn-light btn-outline-secondary col-sm-1 mx-2 my-1" onclick="enterCoordsDMS();" style="border-width: 1.6px;">{% trans "Go" %}</button>
    </div>
    <label class="pt-2 my-1">or enter <strong>Decimal degrees</strong> below:</label> <!-- decimal degrees -->
    <div class="row">
        <label class="col-sm-2 my-1 pt-1">Latitude:</label>
        <input id="LAT_DEC" class="DECField form-control col-sm-2 mx-2 my-1 offset1" type="number" step="any" placeholder="Latitude">
        <label class="col-sm-2 my-1 mx-2 pt-1">Longitude:</label>
        <input id="LON_DEC" class="DECField form-control col-sm-2 mx-2 my-1 offset1" type="number" step="any" placeholder="Longitude">
        <button class="btn btn-light btn-outline-secondary col-sm-1 mx-2 my-1" id="RedirectControl" onclick="enterCoordsLatLon();" name="RedirectControl" style="border-width: 1.6px;">Go</button>
    </div>
</div>

<div class="pt-2">
    <p><b>(OR)</b></p>
</div>
<legend class="text-left"><strong>{% trans "1c. Zoom-in the map and then click on a point of interest" %} </strong></legend>

<div id="map" class="mr-auto" style="width: 90%; height: 450px"></div>

<div class="row">
    <div class="col-sm-3">
        <input type="checkbox" id="auto_zoom" name="auto_zoom" checked /> Zoom to Modis Pixel</div>
    <div class="col-sm-3" id="resolution_disp" style="color:navy;"><label style="background-color:white;">Current Resolution:</label></div>
    <div class="col-sm-5">
        <small>
            <label style="color:blue;">Blue pixel : 250 M</label> |
            <label style="color:red;">Red pixel : 500 M</label> |
            <label style="color:green;">Green pixel : 1000 M/1 KM</label>
        </small>
    </div>
</div>
<legend class="text-left"><strong>{% trans "2. Select a product and year(s)" %} </strong></legend>
<div>
    <div class="row">
        <div class="col-lg">
            <label class="col-sm-1">{% trans "Dataset" %}</label>
            <select id="datasetPane" class="form-control col-sm-6" size="4" disabled>
                {% for d in datasets %}
                <option value="{{d|lower}}" npix="{{d.xdim}}" title="{{d.long_name}}">{{d|upper}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="Modis_long">

        </div>
        <div class="col-lg">
            <label class="col-sm-1">{% trans "Year" %}</label>
            <select id="yearsPane" class="form-control col-sm-6" multiple="multiple" disabled>
                {% for y in years %}
                <option value="{{y}}">{{y}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <legend class="text-left mt-2"><strong>{% trans "3. Submit your request" %}</strong></legend>

    <div align="center" class="mr-5">
        <button class="btn btn-primary" onclick="showResults();">{% trans "Submit" %}</button>
        <button class="btn btn-info" onclick="resetValues();">{% trans "Reset" %}</button>
    </div>
</div>



{% if photoRedirect %}
<input id="lonRedirect" type=hidden value={{lonRedirect}}></input>
<input id="latRedirect" type=hidden value={{latRedirect}}></input>
<script type="text/javascript">
    autoRedirectWork();
</script>
<input id="conditionReload" type=hidden value="true"></input>
{%endif%}
<script>
    $(document).ready(function () {
        //if($("#LON_DEC").value!=null){
        // enterCoordsLatLon();
        //}
        $("#datasetPane").change(function () {
            self = this;
            var newpix = $(this).find("option:selected").attr("npix");
            var newname = $(this).find("option:selected").attr("value");
            var longname = $(this).find("option:selected").attr("title");
            console.log(newpix);
            if (newpix == 1200.00) {
                $("#resolution_disp").html("<span style=\"background-color:white;\">Current Resolution: 1 KM</span>")
            } else if (newpix == 2400.00) {
                $("#resolution_disp").html("<span style=\"background-color:white;\">Current Resolution: 500 M</span>")
            } else if (newpix == 4800.00) {
                $("#resolution_disp").html("<span style=\"background-color:white;\">Current Resolution: 250 M</span>")
            }
            $("#Modis_long").html("<b>About:</b><br/>" + longname + "<br/>For more infomation click on this link<br/><a href=https://lpdaac.usgs.gov/dataset_discovery/modis/modis_products_table/" + newname + ">" + newname + "<a/>");
            handlefeatures(newpix);
        })
    })
</script>
<script>
    function toDMS(decimalVal) {
        var degree = Math.trunc(decimalVal);
        var minute = Math.trunc((decimalVal - degree) * 60);
        var second = Math.trunc(((decimalVal - degree) * 60 - minute ) * 60);

        return [degree, minute, second];
    }
    
    var startLocation = {
        lat: 0,
        lng: 0
    };

    function init() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: startLocation,
            gestureHandling: 'cooperative',
            mapTypeId: 'satellite',
        });

        var marker = new google.maps.Marker({
            position: startLocation,
            map: map,
            draggable: true,
        });

        google.maps.event.addListener(marker, 'dragend', function (evt) {
            let lat = evt.latLng.lat().toFixed(3);
            let lon = evt.latLng.lng().toFixed(3);
            //.val instead of .html for the inputs here

            let dms_lat = toDMS(lat);
            let dms_lon = toDMS(lon);

            $('#LAT_DEG').val(dms_lat[0])
            $('#LAT_MIN').val(dms_lat[1])
            $('#LAT_SEC').val(dms_lat[2])

            $('#LON_DEG').val(dms_lon[0])
            $('#LON_MIN').val(dms_lon[1])
            $('#LON_SEC').val(dms_lon[2])

            $('#LAT_DEC').val(lat)
            $('#LON_DEC').val(lon)
        });

        $(".DMSField").change(function() {
            //... get new DMS coords (just reading from the fields, not using (this.value)...
            let lat_deg = parseFloat($('#LAT_DEG').val() || 0);
            let lat_min = parseFloat($('#LAT_MIN').val() || 0);
            let lat_sec = parseFloat($('#LAT_SEC').val() || 0);
            let lon_deg = parseFloat($('#LON_DEG').val() || 0);
            let lon_min = parseFloat($('#LON_MIN').val() || 0);
            let lon_sec = parseFloat($('#LON_SEC').val() || 0);

            //... update Decimal degrees fields... // Remember to use JQuery $().value to update the Decimal Degrees field.
            let lat_dec = lat_deg + parseFloat(parseFloat(lat_min + (lat_sec / 60)) / 60);
            let lon_dec = lon_deg + parseFloat(parseFloat(lon_min + (lon_sec / 60)) / 60);
            $('#LAT_DEC').val(lat_dec.toFixed(3))
            $('#LON_DEC').val(lon_dec.toFixed(3))
            //...update map...
            marker.setPosition({ lat: lat_dec, lng: lon_dec });
        });

        $(".DECField").change(function() {
            let lat_dec = parseFloat($('#LAT_DEC').val() || 0);
            let lon_dec = parseFloat($('#LON_DEC').val() || 0);

            let dms_lat = toDMS(lat_dec);
            let dms_lon = toDMS(lon_dec);

            $('#LAT_DEG').val(dms_lat[0])
            $('#LAT_MIN').val(dms_lat[1])
            $('#LAT_SEC').val(dms_lat[2])
            $('#LON_DEG').val(dms_lon[0])
            $('#LON_MIN').val(dms_lon[1])
            $('#LON_SEC').val(dms_lon[2])

            marker.setPosition({ lat: lat_dec, lng: lon_dec});
        });



        map.setCenter(marker.position);
        marker.setMap(map);
    }
    
    
    

    
</script>
{% endblock %}