<h1> Serach Form </h1>
<div class="span12">
Enter Username: <input type="text"></input><br/>
Enter Landcover: <input type="text"></input><br/>
</div>
<div class="span12">
Enter a location to see how many photos were taken over time <input type="text" placeholder="location_details"></input><br/>
Enter a Group name or keyword to see how many photos are uploaded over time <input type="text" placeholder="cocarahs"></input><br/>
</div>
<div class="span12">
<input type="submit" value="submit"></input>
<input type="submit" value="reset"></input>
</div>