
{% load photos_tags %}
{% load thumbnail %}
{% ifequal photos|length 1 %}
    <script type="text/javascript">
        $(function () {
            {% if photo.file|photoexists %}
            {% thumbnail photos.0.file "300x300" as im %}
            selectPicture('{{ im.url}}','{photos.0.basename}}','{{photos.0.lon}}','{{photos.0.lat}}','{{photos.0.id}}');
            {% endthumbnail %}
            {% else %}
             selectPicture('','Image not available','{{photos.0.lon}}','{{photos.0.lat}}','{{photos.0.id}}');
            {% endif %}
    });
    </script>
{% endifequal %}
<div class='row-fluid'>
    <div class='span2'>
        <div class="pull-left">{{paginator.count}} photos</div>
    </div>
    <div class='span8'>
        <div class="pagination pagination-small pagination-centered">
            <ul>
                {% if photos.has_previous %}
                    <li><a href="javascript:onChangePage(1,{{ppp}})" >&laquo;&laquo;</a></li>
                    <li><a href="javascript:onChangePage({{ photos.previous_page_number }},{{ppp}})">&laquo;</a></li>
                    
                {% endif %}
                {% for n in page_range %}
                    {% if photos.number != n %}
                        <li><a href="javascript:onChangePage({{ n }},{{ppp}})">{{n}}</a></li>
                    {% else %}
                        <li class="active"><a href='#'>{{n}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if photos.has_next %}
                    <li><a href="javascript:onChangePage({{ photos.next_page_number }},{{ppp}})">&raquo;</a></li>
                    <li><a href="javascript:onChangePage({{ paginator.num_pages }},{{ppp}})"> &raquo;&raquo; </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class='span2'>
        <div class='pull-right'>
            <form class="form-horizontal"> 
                <div class="control-group">
                    <label class="control-label" style='padding-left: 0px;' for='ppp'>Per page</label>
                    <div class='controls'>
                        <select class="input-mini" id='ppp' onChange="onChangePPP(this.options[selectedIndex].text)">
                            <option {% if ppp == "25" %}selected{%endif%}>25</option>
                            <option {% if ppp == "50" %}selected{%endif%}>50</option>
                            <option {% if ppp == "100" %}selected{%endif%}>100</option>
                            <!--<option {% if ppp == "all" %}selected{%endif%}>All</option>-->
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid">
    {% for photo in photos %}
        {% include "photos/photo_tile_reduced.html" %}
    {% endfor %}
</div>
{% if checkbox %}
Select All <input type="checkbox" name="selector" value="Off" onclick="selectAll(event);">
<br/>

<div style="padding-bottom:5px;"></div>

{% endif %}

<script type="text/javascript">
    
var onChangePPP = function(ppp) {
    displayGallery(selectedFeature,1,ppp);
}

function onChangePage(page,ppp) {
    current_page = parseInt(page);
    displayGallery(selectedFeature,page,ppp);
}
</script>