{% load i18n %}
<style>
	a {
		font-size: 11pt;
		color: #4f85d1;
	}

	a > p {
		font-size: 11pt;
		color: #4f85d1;
	}

	.nav-header {
        color: #999999;
		font-weight: bold;
		font-size: 8pt;
		text-transform: uppercase;
		margin: 1.5em 0em 0.25em 1.5em;
    }
</style>
<li class='nav-header'>
    {% trans "Photos Actions" %}
</li>
<li> 
    <a href='/photos/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="mx-4 m-0 text-left">{% trans "Overview" %}</p>
    </a>
</li>
<li> 
    <a href='/photos/browse/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="mx-4 m-0 text-left">{% trans "Browse" %}</p>
    </a>
</li>
<li> 
    <a href='/photos/map/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="mx-4 m-0 text-left">{% trans "Map" %}</p>
    </a>
</li>
{% if request.user.is_authenticated %}
    <li> 
        <a href='/photos/user/' class="btn btn-light btn-block rounded-0 p-0">
            <p class="mx-4 m-0 text-left">{% trans "My Photos" %}</p>
        </a>
    </li>
    <li> 
        <a href='/photos/upload/' class="btn btn-light btn-block rounded-0 p-0">
            <p class="mx-4 m-0 text-left">{% trans "Upload" %}</p>
        </a>
    </li>

    {% if request.session.workset %}
        <li> 
            <a href='/photos/workset/' class="btn btn-light btn-block rounded-0 p-0">
                <p class="mx-4 m-0 text-left">{% trans "Working Photos" %}</p>
            </a>
        </li>
    {%endif%}

    <li> 
        <a href='/accounts/logout/' class="btn btn-light btn-block rounded-0 p-0">
            <p class="mx-4 m-0 text-left">{% trans "Log out" %}</p>
        </a>
    </li>

{% else %}

    <li> 
        <a href='/accounts/login/?next={{request.path}}' class="btn btn-light btn-block rounded-0 p-0">
            <p class="mx-4 m-0 text-left">{% trans "Log in" %}</p>
        </a>
    </li>
    <li> 
        <a href='/accounts/register/' class="btn btn-light btn-block rounded-0 p-0">
            <p class="mx-4 m-0 text-left">{% trans "Register" %}</p>
        </a>
    </li>
{% endif %}

{% if user.is_staff %}
<li>
    <a href="/admin/photos/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="mx-4 m-0 text-left">{% trans "Admin Site" %}</p>
    </a>
</li>
{% endif %}
