{% load i18n %}
<nav class="card bg-light ml-5 mt-3 shadow-sm">
	<ul class="p-0" style="list-style: none;">
		<li class='leftmenu-category nav-header'>
		    {% trans "Crowdsourcing and Citizen Science Projects" %}
		</li>

		<li>
		    <a href='https://picturepost.ou.edu/index.jsp' class="btn btn-light btn-block rounded-0 p-0">
		        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "PicturePost" %}</p>
		    </a>
		</li>
		<li> 
		    <a href='/photos/FieldPhoto' class="btn btn-light btn-block rounded-0 p-0">
		        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Field Photo Weekend" %}</p>
		    </a>
		</li>
		<li> 
		    <a href='https://americaview.org/program-areas/education/earth-observation-day/' class="btn btn-light btn-block rounded-0 p-0">
		        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Earth Observation Day" %}</p>
		    </a>
		</li>
	</ul>
</nav>