<style>
    .img-thumbnail:hover {
        border-color: #0088cc;
    }
    .tileButton {
        height:25px; 
        width:26%; 
        font-size:small; 
        display:inline-flex; 
        align-items:center;
        justify-content: center;
    }
    
    #modis {
        height:25px; 
        width:26%; 
        font-size: xx-small; 
        display:inline-flex; 
        align-items:center;
        justify-content: center 
    }

    .photo-tile {
        position: relative;
        height: 280px;
    }

    #tile-container {
        position: absolute;
        bottom: 42%;
        display: flex;
        justify-content: center;
    }

    .portrait {
        height: 160px;
        width: 120px;
        box-shadow: 0px 1px 3px #d7d7d7;
    }

    .landscape {
        width: 160px;
        height: 120px;
        box-shadow: 0px 1px 3px #d7d7d7;
    }

    .noImage {
        width: 150px;
        height: 150px;
        box-shadow: 0px 3px 3px #bbbbbb;
    }

    .description {
        position: absolute;
        bottom: 0;
    }

    .category-label {
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: block;
        width: 150px;
    }
</style>

{% load photos_tags %}

{% load i18n %}

{% load thumbnail %}
<div class='photo-tile'>
    <div class='row-fluid container' id="tile-container">
        <div class="row pull-left" style="padding-bottom: 2px;">
            <a href='/photos/view/{{photo.pk}}/' {% if '/photos/photos.html' in request.path %} target="_blank" {%endif%} class="thumbnail" >

                {% if photo.file|photoexists %}
                    {% thumbnail photo.file "150x150" as im %} 
                    
                    {% if im.height > im.width %}
                        <img src='{{im.url}}' alt='{{photo.basename}}' class="img-thumbnail portrait"/>
                    {% else %}
                        <img src='{{im.url}}' alt='{{photo.basename}}' class="img-thumbnail landscape"/>
                    {%endif%}
                    {% empty %}
                    {% trans "Image file missing" %}
                    {% endthumbnail %}
                {% else %}
                    <img src='' alt='{% trans "Image not available" %}' class="noImage"/>
                {% endif %}
            </a>
        </div>
        {% if checkbox %}
            <div class='row photo-checkbox justify-content-start'>
                <input style="width: 15px; margin-left: 15px;" type="checkbox" id="{{photo.pk}}" name="ids" value="{{photo.pk}}" onClick="check(event)"/>
            </div>
        {% endif %}
    </div>
    
    <div class='row-fluid pull-left description'>
        <div class>
            <ul class="list-unstyled">
                <li>{{photo.takendate}}</li>
                {% if photo.lon and photo.lat %}
                <li>{{photo.point|point2str}}</li>
                {% endif %}
                {% if photo.category %}
                <li class='category-label'>{% trans photo.category.name %}</li>
                {% else %}
                <li>{% trans "Category not set" %}</li>
                {% endif %}
                <li style="padding-top:4px">
                    {% if modis_timeseries %}
                        {% if photo.user == request.user or request.user.is_superuser %}
                        <a id="modis" class="btn btn-light btn-small btn-outline-dark btn3d" href="/modis/visualization/gmap/{{photo.lat}}_{{photo.lon}}" onclick='timeSeries({{photo.lon}},{{photo.lat}}); return true'>
                            <abbr title="{% trans 'View MODIS data for this photo. Click on this button and scroll down to the bottom of the page and to select appropriate dataset and year' %}">MODIS</abbr>
                        </a>
                     
                        <a class='btn btn-light btn-outline-secondary btn-small tileButton' href="/photos/edit/?ids={{photo.id}}">{% trans "Edit" %}</a>
                        <a class='btn btn-danger btn-small tileButton' onclick="return confirm('Are you sure, you want to delete?');" href="/photos/delete/{{photo.id}}/?next={{request.get_full_path|urlencode}}">{% trans "Delete" %}</a>
                        
                        {% else %}
                            <a id="modis" class="btn btn-light btn-small btn-outline-dark btn3d" href="/modis/visualization/gmap/{{photo.lat}}_{{photo.lon}}" onclick='timeSeries({{photo.lon}},{{photo.lat}}); return true'>
                                <abbr title="{% trans 'View MODIS data for this photo. Click on this button and scroll down to the bottom of the page and to select appropriate dataset and year' %}">MODIS</abbr>
                            </a>
                        {% endif %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>