{% load i18n %}
<script>
    var geocoder1 = null;
    var gotAddress = null;
    geocoder1 = new google.maps.Geocoder();

    function getBoundarieslong() {
        gotAddress = String(document.getElementById("address_get").value)
        var LatD = document.getElementById("LAT_DEG").value;
        var LatM = document.getElementById("LAT_MIN").value;
        var LatS = document.getElementById("LAT_SEC").value;
        var LonD = document.getElementById("LON_DEG").value;
        var LonM = document.getElementById("LON_MIN").value;
        var LonS = document.getElementById("LON_SEC").value;
        var LatD1 = document.getElementById("LAT_DEG1").value;
        var LonD1 = document.getElementById("LON_DEG1").value;
        console.log(gotAddress);
        if (gotAddress.length != 0) {
            console.log("ifPArt");
            if (geocoder1) {
                geocoder1.geocode({
                    'address': gotAddress
                }, addSearchAttrib);
            }
        } else if ((LatD.length != 0 && LatM.length != 0 && LatS.length != 0 && LonD.length != 0 && LonM.length != 0 &&
                LonS.length != 0) || (LonD1.length != 0 && LatD1.length != 0)) {
            console.log("elsePArt");
            var Latnew, Lonnew;
            if (LatD.length != 0 && LatM.length != 0 && LatS.length != 0 && LonD.length != 0 && LonM.length != 0 && LonS
                .length != 0) {
                Latnew = DMStoDD(LatD, LatM, LatS);
                Lonnew = DMStoDD(LonD, LonM, LonS);
            } else {
                Latnew = LatD1;
                Lonnew = LonD1;
            }
            console.log(Latnew, Lonnew);
            var variance = document.getElementById("precise").value;
            $('#lat_min').val(parseFloat(Latnew - (variance / 2)).toFixed(6));
            $('#lat_max').val(parseFloat(Latnew + (variance / 2)).toFixed(6));
            $('#lon_min').val(parseFloat(Lonnew - (variance / 2)).toFixed(6));
            $('#lon_max').val(parseFloat(Lonnew + (variance / 2)).toFixed(6));
            $('#search').submit();
        } else {
            console.log("Iam Here in all null/no geo locate");
            $('#search').submit();
        }
    }

    var DMStoDD = function (deg, min, sec) {
        if (deg < 0) {
            var azi = -1.0 * deg + 1.0 * min / 60.0 + 1.0 * sec / 3600.0;
            return -1.0 * azi;
        } else {
            var azi = 1.0 * deg + 1.0 * min / 60.0 + 1.0 * sec / 3600.0;
            return azi;
        }
    }

    function addSearchAttrib(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            console.log(results[0]);
            var lon = results[0].geometry.location.lng();
            var lat = results[0].geometry.location.lat();
            var vplat1 = results[0].geometry.viewport.Ba.j;
            var vplat2 = results[0].geometry.viewport.Ba.k;
            var vplng1 = results[0].geometry.viewport.ua.j;
            var vplng2 = results[0].geometry.viewport.ua.k;
            console.log(vplat1, vplat2, vplng1, vplng2);
            if (vplat1 > vplat2) {
                $('#lat_min').val(parseFloat(vplat2).toFixed(6));
                $('#lat_max').val(parseFloat(vplat1).toFixed(6));
            } else {
                $('#lat_min').val(parseFloat(vplat1).toFixed(6));
                $('#lat_max').val(parseFloat(vplat2).toFixed(6));
            }
            if (vplng2 > vplng1) {
                $('#lon_min').val(parseFloat(vplng1).toFixed(6));
                $('#lon_max').val(parseFloat(vplng2).toFixed(6));
            } else {
                $('#lon_min').val(parseFloat(vplng2).toFixed(6));
                $('#lon_max').val(parseFloat(vplng1).toFixed(6));
            }
        }
        $('#address_get').val(gotAddress);
        $('#search').submit();
        console.log("ifPArt");
    }

    function allReset() {
        $('#lat_min').val(null);
        $('#lat_max').val(null);
        $('#lon_min').val(null);
        $('#lon_max').val(null);
        $('#id_date_min').val(null);
        $('#id_date_max').val(null);
        $('#id_category').val(null);
        $('#id_user').val(null);
        $('#id_country').val(null);
        $('#id_continent').val(null);
        $('#keywords').val(null);
        $('#address_get').val(null);
        $('#LAT_DEG').val(null);
        $('#LAT_MIN').val(null);
        $('#LAT_SEC').val(null);
        $('#LON_DEG').val(null);
        $('#LON_MIN').val(null);
        $('#LON_SEC').val(null);
        $('#precise').val(null);
        $('#LAT_DEG1').val(null);
        $('#LON_DEG1').val(null);
        $('#search').submit();
    }

    function runScript(e) {
        if (e.keyCode == 13) {
            getBoundarieslong();
            return false;
        } else {
            return true;
        }
    }
</script>
<style>
    .menu-button {
        font-size:small; 
        padding-left: 0px; 
        padding-right: 0px;
    }
</style>
<form id='search' class="mx-3 mt-3" action="." method="post" name="searchform" onkeypress="return runScript(event)">{% csrf_token %}
    <fieldset>
        {{ search.non_field_errors }}
        <legend class="text-center mb-0">{% trans "Search By:" %}</legend>
        <hr />

        <label data-toggle="collapse" data-target="#LandCover">
            <h6>{% trans "1. Land Cover Type" %}</h6>
        </label>
        <div id="LandCover" class="collapse">
            <div class="pt-2 pb-3">
                {{search.category.errors}}
                {{search.category}}
            </div>
        </div>

        
       {{search.keywords.errors}}
       <label for="keywords" data-toggle="collapse" data-target="#metadata">
           <h6>{% trans "2. Keywords In Metadata" %}</h6>
       </label>
       <div id="metadata" class="collapse">
           <div class="pt-2 pb-3">
               <input class="form-control form-control-sm" type="text" placeholder="EX: cocorahs" id="keywords" name="keywords" value="{%if search.keywords.value%}{{search.keywords.value}}{% endif %}">
           </div>
       </div>
        
        
        
        {{ search.date_min.errors }}
        <label data-toggle="collapse" data-target="#date">
            <h6>{% trans "3. Time Period" %}</h6>
        </label>
        <div id="date" class="collapse">
            <div class="pt-2 pb-3">
                <label><b>{% trans "Date from" %}</b></label>
                {{ search.date_min }}
                {{ search.lat_max.errors }}
                <label><b>{% trans "Date to" %}</b></label>
                {{ search.date_max }}
            </div>
        </div>

        
        <label data-toggle="collapse" data-target="#geoLocation" font-size:.9em;>
            <h6>{%trans "4. Geographic Location"%}</h6>
        </label>
        <div id="geoLocation" class="collapse">
            <div class="pt-2 pb-3">

                <div class="py-3">
                    <input class="form-control form-control-sm" placeholder="Street, City, State" type="text" id="address_get" name="address_get" value="{% if search.address_get.value %}{{search.address_get.value}}{%endif%}"></input>
                    <span><small>{%trans "(OR)"%}</small></span>
                </div>

                <div class="py-3">
                    <label><b>{% trans  "Enter Latitude" %}</b></label>
                    <div class="d-flex justify-content-between">
                        <input class="form-control form-control-sm" style="width: 32%" placeholder='DEG' type="text" id="LAT_DEG" name="LAT_DEG" value="{% if search.LAT_DEG.value %}{{search.LAT_DEG.value}}{%endif%}"></input>
                        <input class="form-control form-control-sm" style="width: 32%" placeholder='MIN' type="text" id="LAT_MIN" name="LAT_MIN" value="{% if search.LAT_MIN.value %}{{search.LAT_MIN.value}}{%endif%}"></input>
                        <input class="form-control form-control-sm" style="width: 32%" placeholder='SEC' type="text" id="LAT_SEC" name="LAT_SEC" value="{% if search.LAT_SEC.value %}{{search.LAT_SEC.value}}{%endif%}"></input>
                    </div>
                    <span><small>{%trans "(OR)"%}</small></span>
                    <input class="form-control form-control-sm" placeholder='DECIMAL_DEG' type="text" id="LAT_DEG1" name="LAT_DEG1" value="{% if search.LAT_DEG1.value %}{{search.LAT_DEG1.value}}{%endif%}"></input>
                </div>

                <div class="py-3">
                    <label><b>{% trans  "Enter Longitude" %}</b></label>
                    <div class="d-flex justify-content-between">
                        <input class="form-control form-control-sm" style="width: 32%" placeholder='DEG' type="text" id="LON_DEG" name="LON_DEG" value="{% if search.LON_DEG.value %}{{search.LON_DEG.value}}{%endif%}"></input>
                        <input class="form-control form-control-sm" style="width: 32%" placeholder='MIN' type="text" id="LON_MIN" name="LON_MIN" value="{% if search.LON_MIN.value %}{{search.LON_MIN.value}}{%endif%}"></input>
                        <input class="form-control form-control-sm" style="width: 32%" placeholder='SEC' type="text" id="LON_SEC" name="LON_SEC" value="{% if search.LON_SEC.value %}{{search.LON_SEC.value}}{%endif%}"></input>
                    </div>
                    <span><small>{%trans "(OR)"%}</small></span>
                    <input class="form-control form-control-sm" placeholder='DECIMAL_DEG' type="text" id="LON_DEG1" name="LON_DEG1" value="{% if search.LON_DEG1.value %}{{search.LON_DEG1.value}}{%endif%}"></input>
                </div>
                <div class="py-3">
                    <label><b>{% trans  "Enter Nearness" %}</b></label>
                    <input class="form-control form-control-sm" placeholder="EX: 1.305 degree" type="text" id="precise" name="precise" value="{% if search.precise.value %}{{search.precise.value}}{%endif%}"></input>
                </div>
            </div>
        </div>
        

        
        <label class="text-left" data-toggle="collapse" data-target="#region">
            <h6>{%trans "5. Region"%}</h6>
        </label>
        <div id="region" class="collapse">
            <div class="pt-2 pb-3">
                <div class="d-flex justify-content-between">
                    {{ search.lon_min.errors }}
                    <input id="lon_min" class="form-control form-control-sm" style="width: 48%" placeholder='{% trans "Min-Lon" %}' type="text" name="lon_min" value="{% if search.lon_min.value %}{{search.lon_min.value}}{%endif%}"/>
                    {{ search.lon_max.errors }}
                    <input id="lon_max" class="form-control form-control-sm" style="width: 48%" placeholder='{% trans "Max-Lon" %}' type="text" name="lon_max" value="{% if search.lon_max.value %}{{search.lon_max.value}}{%endif%}"/>
                </div>
                <div class="d-flex justify-content-between">
                    {{ search.lat_min.errors }}
                    <input id="lat_min" class="form-control form-control-sm" style="width: 48%" placeholder='{% trans "Min-Lat" %}' type="text" name="lat_min" value="{% if search.lat_min.value %}{{search.lat_min.value}}{%endif%}" />
                    {{ search.lat_max.errors }}
                    <input id="lat_max" class="form-control form-control-sm" style="width: 48%" placeholder='{% trans "Max-Lat" %}' type="text" name="lat_max" value="{% if search.lat_max.value %}{{search.lat_max.value}}{%endif%}" />
                </div>
            </div>
        </div>

        
        <label data-toggle="collapse" data-target="#country">
            <h6>{% trans "6. Country" %}</h6>
        </label>
        <div id="country" class="collapse">
            <div class="pt-2 pb-3">
                {{search.country.errors}}
                {{search.country}}
            </div>
        </div>
         

        <label data-toggle="collapse" data-target="#continent">
            <h6>{% trans "7. Continent" %}</h6>
        </label>
        <div id="continent" class="collapse">
            <div class="pt-2 pb-3">
                {{search.contient.errors}}
                {{search.continent}}
            </div>
        </div>

        
        <label data-toggle="collapse" data-target="#username">
            <h6>{% trans "8. Username" %}</h6>
        </label>
        <div id="username" class="collapse">
            <div class="pt-2 pb-3">
                {{search.user.errors}}
                {{search.user}}
            </div>
        </div>
        

        <div class="d-flex row justify-content-around my-3">
            <div class="container">
                <div class="row justify-content-around">
                    <input class="col-4 btn btn-primary btn-sm ml-2 menu-button" type="button" onclick="getBoundarieslong()" value="Submit"></input>
                    <input class="col-4 btn btn-danger btn-sm mr-2 menu-button" type="button" onclick="allReset()" value="Reset""></input>
                </div>
            </div>
        </div>
    </fieldset>
</form>