{% extends "photos/base.html" %}

{% block head_extra %}
{{block.super}}
		<link rel="stylesheet" href="/media/css/demo_page.css" />
		<link rel="stylesheet" href="/media/css/demo_table.css" />
		<script type="text/javascript" language="javascript" src="/media/js/jquery.dataTables.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#users').dataTable();
				$('#countries').dataTable();
			} );
		</script>
{% endblock %}

{% block main %}
<h3>Users</h3>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="users">
    <thead>
		<tr>
        <th>User</th><th>Public</th><th>Private</th>
        </tr>
    </thead>
    <tbody>
    {% for u in users %}
        <tr>
            <td>{{u.username}}</td>
            <td class="center">{{u.public}}</td>
            <td class="center">{{u.private}}</td>
        </tr>
    {% endfor %}
	</tbody>
    </table>

<br/>
{%if countries%}
<h3>Countries</h3>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="countries">
    <thead>
		<tr>
        <th>Country</th><th>Public</th><th>Private</th>
        </tr>
    </thead>
    <tbody>
    {% for c in countries %}
        {% if c.public %}
        <tr>
            <td>{{c.name}}</td>
            <td class="center">{{c.public}}</td>
            <td class="center">{{c.private}}</td>
        </tr>
        {% endif %}
    {% endfor %}
	</tbody>
    </table>
<br/>
{% endif %}
{%if regions%}
<h3>Geographical Regions (Continents)</h3>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="countries">
    <thead>
		<tr>
        <th>Region</th><th>Public</th><th>Private</th>
        </tr>
    </thead>
    <tbody>
    {% for r in regions %}
        <tr>
            <td>{{r.name}}</td>
            <td class="center">{{r.public}}</td>
            <td class="center">{{r.private}}</td>
        </tr>
    {% endfor %}
	</tbody>
    </table>
<br/>
{% endif %}
{% endblock %}
