{% extends "aboutus/base.html" %}
{% load i18n %}
{% block title%}{% trans "CEOM Facilities: Remote sensing Laboratory" %}{% endblock%}

{% block content %}
<div class="well">
	<div class="grid" >
		<h2 style="color: #dc143c;">{% trans "The Remote Sensing Laboratory" %}</h2>
		<div class="hr"></div>
		<p>{% trans "This lab is equipped with a number of instruments for in-situ data collection in hyperspectral remote sensing, multi-spectral remote sensing, thermal remote sensing, as well as landscape and vegetation surveys." %}</p>
		<img style="display: block; margin-left: auto; margin-right: auto; vertical-align: baseline;" src="/static/images/rslab.png" alt="" />
		<h3 style="border-bottom: 1px solid #000;">{% trans "Optical remote sensing" %}</h3>
		<ul class="list-group">
			<li class="list-group-item">{% trans "One ASD FieldSpec@Handheld (325 &ndash; 1075 nm)" %}</li>
			<li class="list-group-item">{% trans "One ASD FieldSpec@3 (350 &ndash; 2500 nm)" %}</li>
			<li class="list-group-item">{% trans "ASD Integrated Sphere" %}</li>
			<li class="list-group-item">{% trans "Plant probe and leaf clip One ADC Agricultural Digital Camera" %}</li>
		</ul>
		
		<h3 style="border-bottom: 1px solid #000;">{% trans "Thermal remote sensing" %}</h3>

		<ul class="list-group">
			<li class="list-group-item"> {% trans "One FLIR R&amp;D infrared camera (FLIR SC600)" %}</li>
		</ul>

		<h3 style="border-bottom: 1px solid #000;">{% trans "Landscape surveys" %}</h3>

		<ul class="list-group">
			<li class="list-group-item">    {% trans "One Ford F-150 truck" %},</li>
			<li class="list-group-item">    {% trans "One GeoExplorer 2008 series high accuracy GPS receiver" %},</li>
			<li class="list-group-item">    {% trans "12 handheld GPS receivers, 44 GPS-digital cameras" %}</li>
		</ul>
		
		<h3 style="border-bottom: 1px solid #000;">{% trans "Vegetation analyses" %}</h3>
		<ul class="list-group">

			<li class="list-group-item">     {% trans "One LI-COR 2000 plant canopy analyzer" %},</li>
			<li class="list-group-item">     {% trans "One Li-COR 2200 plant canopy analyzer" %},</li>
			<li class="list-group-item">     {% trans "One oven for drying plant and soil samples" %},</li>
			<li class="list-group-item">     {% trans "One refrigerator" %}</li>
		</ul>
		<h3 style="border-bottom: 1px solid #000;">{% trans "Wild birds and biodiversity" %}</h3>
		<ul class="list-group">
			<li class="list-group-item">     {% trans "Two binocular for wild bird watch" %},</li>
			<li class="list-group-item">      {% trans "12 GPS data loggers" %}</li>
		</ul>

		<h3 style="border-bottom: 1px solid #000;">{% trans "Mobile workstations" %}</h3>
		</li>
		<ul class="list-group">
			<li class="list-group-item">    {% trans "Two mobile PCs (Thinkpad)" %},</li>
			<li class="list-group-item">    {% trans "One high-end mobile workstation for the field data collection" %}</li>
		</ul>
	</div>
</div>
{% endblock %}
