{% extends "gisday/base.html" %}
{% load extra_template_tags %}

{% block container %}
<div>
    <h2 style="color: #dc143c;">Exhibitor Registration for Booths</h2>
    <div class="hr"></div>
    <br>
    {{content|render}}
    <br>
    {% if registration_successful %}
        <h3 class="text-success mb-5">Your registration has been updated.</h3>
    {% elif error_code == 'registration_disabled'%}
        <h3 class="text-warning mb-5"><strong>Registration period ended or not open yet</strong></h3>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <h3 class="pb-1">Institution Type:</h3>
            <fieldset class='form-group'>
                <div class="row justify-content-around"></div>
                <div class="form-check ml-5">
                    <input class="form-check-input" type="radio" id="non-profit-radio" value="True" name="institution_type" {% if previous_responses.institution_type == 'True' %}checked{% endif %}>
                    <label class="form-check-label" for="non-profit-radio">
                        University / Government / Non-Profit: Free registration
                    </label>
                </div>
                <div class="form-check ml-5">
                    <input class="form-check-input" type="radio" id="for-profit-radio" value="False" name="institution_type" {% if previous_responses.institution_type == 'False' %}checked{% endif %}>
                    <label class="form-check-label" for="for-profit-radio">
                        Private Industry / For Profit: $300 registration fee
                    </label>
                </div>
            </fieldset>
            <h3 class="pb-1">Details:</h3>
            <div class="form-group">
                <div class="row justify-content-around">
                    <label for="institution-field" class="col-2 col-form-label">Institution</label>
                    <div class="col-3">
                        <input type="text" class="form-control {% if error_code == 'duplicate'%}is-invalid{% endif %}" id="institution-field" name="institution" value='{{ previous_responses.institution }}' required>
                        <div class="invalid-feedback">
                            <p>Your Institution and Department are already registered for this GISDay</p>
                        </div>
                    </div>
                    <label for="department-field" class="col-2 col-form-label">Department</label>
                    <div class="col-3">
                        <input type="text" class="form-control {% if error_code == 'duplicate'%}is-invalid{% endif %}" id="department-field" name="department" value='{{ previous_responses.department }}' required>
                        <div class="invalid-feedback">
                            <p>Your Institution and Department are already registered for this GISDay</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row justify-content-around">
                    <label for="firstname-field" class="col-2 col-form-label">First Name</label>
                    <div class="col-3">
                        <input type="text" class="form-control" id="firstname-field" name="firstname" value='{{ previous_responses.firstname }}' required>
                    </div>
                    <label for="lastname-field" class="col-2 col-form-label">Last Name</label>
                    <div class="col-3">
                        <input type="text" class="form-control" id="lastname-field" name="lastname" value='{{ previous_responses.lastname }}' required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row justify-content-around">
                    <label for="address1-field" class="col-2 col-form-label">Address 1</label>
                    <div class="col-3">
                        <input type="text" class="form-control" id="address1-field" name="address1" value='{{ previous_responses.address1 }}' required>
                    </div>
                    <label for="address2-field" class="col-2 col-form-label">Address 2</label>
                    <div class="col-3">
                        <input type="text" class="form-control" id="address2-field" name="address2" value='{{ previous_responses.address2 }}' >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row justify-content-around">
                    <label for="city-field" class="col-2 col-form-label">City</label>
                    <div class="col-3">
                        <input type="text" class="form-control" id="city-field" name="city" value='{{ previous_responses.city }}' required>
                    </div>
                    <label for="state-field" class="col-2 col-form-label">State</label>
                    <div class="col-3">
                        <input type="text" class="form-control" id="state-field" name="state" value='{{ previous_responses.state }}' required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row justify-content-around">
                    <label for="zip-field" class="col-2 col-form-label">Zipcode</label>
                    <div class="col-3">
                        <input type="text" class="form-control" id="zip-field" name="zipcode" value='{{ previous_responses.zipcode }}' required>
                    </div>
                    <label for="phone-field" class="col-2 col-form-label">Phone</label>
                    <div class="col-3">
                        <input type="text" class="form-control" id="phone-field" name="phone" value='{{ previous_responses.phone }}' required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row justify-content-around">
                    <label for="email-field" class="col-2 col-form-label">Email</label>
                    <div class="col-3">
                        <input type="email" class="form-control {% if error_code == 'email-mismatch'%}is-invalid{% endif %}" id="email-field" name="email" value='{{ previous_responses.email }}' required>
                        <div class="invalid-feedback">
                            <p>The emails do not match</p>
                        </div>
                    </div>
                    <label for="email-verify-field" class="col-2 col-form-label">Verify Email</label>
                    <div class="col-3">
                        <input type="email" class="form-control {% if error_code == 'email-mismatch'%}is-invalid{% endif %}" id="email-verify-field" name="verify_email" value='{{ previous_responses.verify_email }}' required>
                        <div class="invalid-feedback">
                            <p>The emails do not match</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-5">
                <label for="additional-attendees-field">Additional Attendees</label>
                <textarea class="form-control" id="additional-attendees-field" rows="3" name="additional_attendees">{{ previous_responses.additional_attendees }}</textarea>
            </div>
            <div class="form-group">
                <div class="row justify-content-around">
                    <label for="parking-permits-field" class="col-2 col-form-label">No. of Parking Permits Needed:</label>
                    <div class="col-3">
                        <input type="number" class="form-control" id="parking-permits-field" min="0" name="parking_permits" value='{{ previous_responses.parking_permits }}' >
                    </div>
                    <label for="display-size-field" class="col-2 col-form-label">Do you have a oversized exhibit or display?</label>
                    <div class="col-3">
                        <select class="form-control" id="display-size-field" name="oversized">
                            <option value="">Unknown</option>
                            <option value="True" {% if previous_responses.oversized == 'True' %}selected{% endif %}>Yes</option>
                            <option value="False" {% if previous_responses.oversized == 'False' %}selected{% endif %}>No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row justify-content-around">
                    <label for="tshirt1-field" class="col-2 col-form-label">T-Shirt Size 1</label>
                    <div class="col-3">
                        <select class="form-control" id="tshirt1-field" name="tshirt1">
                            <option value="UK" {% if previous_responses.tshirt2 == 'UK' %}selected{% endif %}>Unknown</option>
                            <option value="S" {% if previous_responses.tshirt2 == 'S' %}selected{% endif %}>Small</option>
                            <option value="M" {% if previous_responses.tshirt2 == 'M' %}selected{% endif %}>Medium</option>
                            <option value="L" {% if previous_responses.tshirt2 == 'L' %}selected{% endif %}>Large</option>
                            <option value="XL" {% if previous_responses.tshirt2 == 'XL' %}selected{% endif %}>Extra Large</option>
                            <option value="2XL" {% if previous_responses.tshirt2 == '2XL' %}selected{% endif %}>Extra Extra Large</option>
                        </select>
                    </div>
                    <label for="tshirt2-field" class="col-2 col-form-label">T-Shirt Size 2</label>
                    <div class="col-3">
                        <select class="form-control" id="tshirt2-field" name="tshirt2">
                            <option value="UK" {% if previous_responses.tshirt2 == 'UK' %}selected{% endif %}>Unknown</option>
                            <option value="S" {% if previous_responses.tshirt2 == 'S' %}selected{% endif %}>Small</option>
                            <option value="M" {% if previous_responses.tshirt2 == 'M' %}selected{% endif %}>Medium</option>
                            <option value="L" {% if previous_responses.tshirt2 == 'L' %}selected{% endif %}>Large</option>
                            <option value="XL" {% if previous_responses.tshirt2 == 'XL' %}selected{% endif %}>Extra Large</option>
                            <option value="2XL" {% if previous_responses.tshirt2 == '2XL' %}selected{% endif %}>Extra Extra Large</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group m-5">
                <label for="comments-field">Questions & Comments:</label>
                <textarea class="form-control" id="comments-field" rows="3" name="comments">{{ previous_responses.comments }}</textarea>
            </div>
            <div class="row justify-content-center pb-3">
                <button type="submit" value="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endif %}
</div>

{% endblock %}
