{% extends "gisday/base.html" %}
{% load extra_template_tags %}

<!-- {% load crispy_forms_tags %} -->

{% block container %}
<!-- 
<h3 align="left">GIS Day {{gisdate.date|date:"Y"}} at the University of Oklahoma, {{gisdate.date|date:"M d"}}<sup>th</sup> {{gisdate.date|date:"Y"}}
    <a href="https://www.facebook.com/OUGISDay" title="Visit OU GIS Day Facebook page"><img class='logo-tiny' src="/static/images/f_logo.png" style="width:45px;height:45px"></a>&nbsp;
    <a title="Visit OU GIS Day Twitter page" href="https://twitter.com/OUGISDay"><img src="/static/images/twitter_logo.png" style="width:64px;height:64px"></a>

</h3>
 -->
<div class="well">
	<div class="grid" >
		<h2  style="color: #dc143c;">Poster Update form - Update your regisration</h2>
		<div class="hr"></div>
		{{ content|render }}
	 	{% if form %}
			<form action="." method='post'>
				{% csrf_token %}
				{% crispy form %}
			</form>
		{% else %}
            {% if registration_successful %}
            <h3  style="color: #007f00;">Thank you for updating your information. Please direct any questions to Melissa Scott at mscott@ou.edu.
                </h3>
            {% else %}
			<h3 class="text-warning"><strong>Registration period ended or not open yet</strong></h3>
            {% endif %}
		{% endif %}
        
	</div>
</div>
<!-- {% if get %}
You got a get request response
{% endif %} -->

{% endblock %}
