{% extends "gisday/base.html" %}
{% load extra_template_tags %}
{% block container %}

<div class="mt-5">
    <h2 style="color: #dc143c;">Poster Update form - Update your regisration</h2>
    <hr />
    <br>
    {{content|render}}
    <br>
    {% if registration_successful %}
        <h3 class="text-success mb-5">Thank you for updating your information.</h3>
    {% elif error_code == 'registration_disabled' %}
        <h3 class="text-warning mb-5"><strong>Registration period ended or not open yet</strong></h3>
    {% else %}
		<form method='post'>
		{% csrf_token %}
		<div class="form-group">
			<div class="row justify-content-around">
				<label for="last_name" class="col-1">Last Name</label>
				<input type="last" class="form-control col-3" name="last_name" value="{{ previous_responses.last_name }}" placeholder="Last Name" required>
				<label for="first_name" class="col-1">First Name</label>
				<input type="first" class="form-control col-3" name="first_name" value="{{ previous_responses.first_name }}" placeholder="First Name" required>
			</div>
		</div>
		<div class="form-group">
			<div class="row justify-content-around">
				<label for="institution" class="col-1">Institution</label>
				<input type="institution" class="form-control col-3" name="institution" value="{{ previous_responses.institution }}"placeholder="Institution" required>
				<label for="department" class="col-1">Department</label>
				<input type="department" class="form-control col-3" name="department" value="{{ previous_responses.department }}" placeholder="Department" required>
			</div>
		</div>
		<div class="form-group">
            <div class="row justify-content-around">
                <label for="email" class="col-1">Email</label>
                <input type="email" class="form-control col-3 {% if error is not None %} is-invalid {% endif %}" name="email" placeholder="Email" value="{{ previous_responses.email }}"required>
                <label for="verify_email" class="col-1">Verify Email</label>
                <input type="verity_email" class="form-control col-3 {% if error is not None %} is-invalid {% endif %}" name="verify_email" value="{{ previous_responses.verify_email }}"placeholder="Verify Email" required>
            </div>
        </div>
		<div class="form-group">
            <div class="row justify-content-around">
                <label for="title" class="col-1">Title</label>
                <input type="title" class="form-control col-3" name="title" value="{{ previous_responses.title }}"placeholder="Title" required>
                <label for="category" class="col-1">Category</label>
                <select class="form-control col-3" name="category">
					{% for category in all_categories %}
					<option {% ifequal previous_responses.category category.name %}selected{% endifequal %}>{{ category.name }}</option>
					{% endfor %}
				</select>	
            </div>
        </div>
		<div class="form-group">
            <div class="row justify-content-around">
                <label for="abstract" class="col-1">Poster Abstract</label>
				<textarea class="form-control col-3" name="abstract" rows="3" required>{{ previous_responses.abstract }}</textarea>
                <label for="authors" class="col-1">Poster Author List</label>
                <textarea class="form-control col-3" name="authors" rows="3" required>{{ previous_responses.authors }}</textarea>
            </div>
        </div>
		<div class="form-group">
            <div class="row justify-content-around">
                <label for="comment" class="col-1">Questions & Comments</label>
                <textarea class="form-control col-3" name="comment" rows="3" required>{{ previous_responses.comment}}</textarea>
                <label for="preview" class="col-1">Preview</label>
                <input type="file" class="form-control-file col-3" name="preview" rows="3"></textarea>
            </div>
        </div>
		<div class="row justify-content-center">
            {% if error %}
            <div class="alert alert-danger">
                {% if error == 'email-mismatch' %}
                    The email fields do not match.
				{% elif error == 'duplicate-account' %}
					That email is already taken.
                {% else %}
                    {{error}}
                {% endif %}
            </div>
            {% endif %}
        </div>
		<div class="row justify-content-center pb-3">
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
		</form>
    {% endif %}
</div>
{% endblock %}
