{% extends "tropomi/base.html" %}

{% block content %}

<div class="col-12">
  	<h2 style="color: #dc143c;">Single Site Timeseries Request</h2>

    <dl class="dl-horizontal">
        <dt>Pixel X:</dt><dd>{{ task.pixelx }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Pixel Y:</dt><dd>{{ task.pixely }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Dataset:</dt><dd>TROPOMI</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Years:</dt><dd>{{ year_string }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Task_id</dt><dd>{{ task.task_id }}</dd>
    </dl>
    
    <hr>
    {% if not task.completed %}
    <div id="progress-panel">
        <p id='infoMessage' class="text-center text-info">Contacting server...</p>
        <div id='progressDiv' class="col-12 text-center">          
            <div id="progress_bars" class="progress">
                <div id="completed-bar" class="progress-bar progress-bar-striped bg-success" style="width: 0%;"></div>
                <div id="remaining-bar" class="progress-bar progress-bar-striped bg-warning" style="width: 0%;"></div>
                <div id="error-bar" class="progress-bar progress-bar-striped bg-danger" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    {% endif %}
    <div id="resultsDiv" class="text-center mt-2">
        <a id="downloadButton" class="btn btn-primary"><i class="icon-download-alt"></i> Download</a>
        <a class="btn btn-primary" onclick="alert('Function not available yet.')"><i class="icon-bar-chart"></i> Chart it!</a>
        <a href="/tropomi/timeseries/single/del={{task.task_id}}/" class="btn btn-danger"><i class="icon-trash"></i> Cancel</a>
    </div>
    
        
</div>

<script type="text/javascript">
    $('#resultsDiv').hide()
    let interval;

    var checkProgress = function(){
        $.ajax({
            url: "/tropomi/timeseries/single/progress/t={{task.task_id}}/",
            success: function (result) {
                if(result['error']) {
                    clearInterval(interval);
                    $('#completed-bar').css('width', '0%');
                    $('#remaining-bar').css('width', '0%');
                    $('#error-bar').css('width', '100%');
                    $('#infoMessage').html('An error has occured. Try re-submitting the request or ask support for more information.');
                }
                else if(result['completed']) {
                    clearInterval(interval);
                    console.log(result['result'])
                    $('#downloadButton').attr('href', result['result'])
                    $('#progress-panel').hide();
                    $('#resultsDiv').show();
                }
                else if(result['working']) {
                    $('#error-bar').css('width', '0%');
                    $('#infoMessage').html('Your task is being processed...');
                    
                    let percent_complete = parseFloat(result['percent_complete']) * 100;
                    let percent_remaining = 100 - percent_complete;

                    $('#completed-bar').css('width', percent_complete + '%');
                    $('#remaining-bar').css('width', percent_remaining + '%');
                    
                }
            }
        })
    }

    {% if task and not task.completed %}
    var delay = 3000
    interval = window.setInterval(checkProgress, delay);
    {% endif %}
</script>

{% endblock %}
