{% extends "maps/base.html" %}
<!-- This is for the ROI's map -->
<!-- Hi i am working -->
{% load i18n %} {% block title %} {% trans "Download ROIs" %} {% endblock %} {% block head_extra %}

{% endblock %} {% block content %}
<h3 style="color:maroon;">Filter/download ROIs</h3>
<form id="roi_form" action="." method="POST">
        {% csrf_token %} {{ form.non_field_errors }}
        <!-- ['lon', 'lat', 'tile', 'col', 'row', 'category', 'description', 'pixelsize', 'points'] -->
        <div class="span12">
            <div class="span3 offset1">
                {{ form.lon.errors }}<span style="font-size:20px;"> {{ form.lon.label_tag }}</span> {{ form.lon }}
            </div>
            <div class="span3 offset1">
                {{ form.lat.errors }}<span style="font-size:20px;"> {{ form.lat.label_tag }}</span> {{ form.lat }}
            </div>
            <div class="span3 offset1">
                {{ form.category.errors }}<span style="font-size:20px;"> {{ form.category.label_tag }}</span> {{ form.category }}
            </div>
        </div>
        <!-- <div class="span12">
        <div class="span6">
            <p>
                {{ form.tile.errors }}<span style="font-size:20px;"> {{ form.tile.label_tag }}</span> {{ form.tile }}
            </p>
            <p>
                {{ form.col.errors }}<span style="font-size:20px;"> {{ form.col.label_tag }}</span> {{ form.col }}
            </p>
            <p>
                {{ form.row.errors }}<span style="font-size:20px;"> {{ form.row.label_tag }}</span> {{ form.row }}
            </p>
        </div>
        </div> -->
        <div class="span12">
            <hr>
            <div class="span3 offset4">
                <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                <!-- <button class="btn btn-info" onclick="resetValues();">{% trans "Reset" %}</button> -->
            </div>
        </div>
    </form>
{% endblock %}
