<li class='leftmenu-category nav-header'>
    Maps
</li>
<li>
    <a href="/maps/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">Overview</p>
    </a>
</li>
<li class='leftmenu-category nav-header'>
    Data Generation
</li>
<li>
    <a href="/maps/geocatter/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">GeoCatter</p>
    </a>
</li>
<li> 
    <a href='/maps/leaderboard/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">Leaderboard</p>
    </a>
</li>
<li> 
    <a href='/maps/validation/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">Validation</p>
    </a>
</li>
