{% load i18n %}
 <nav class="card bg-light ml-5 shadow-sm text-center" style="margin-top: 10px">
                 <h4>{% trans "Categories" %}:</h4>
                <div class="hr"></div>
                <br>
       {% for category in categories %}
            <div class="span12 text-center">

                <img src="{{category.image.url}}" style="width:64px;height:64px" alt = "{{category.name}}">
                <h5 class="span12"> {% trans category.name %}</h5>
                
            </div>
       {% endfor %}

</nav>