{% extends "workshops/base.html" %}

<!-- {% load extra_template_tags %} -->
{% load i18n %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}
<style>
    @media screen and (min-width:575px) and (max-width: 1250px) {

        .title {
            font-size: min(max(3.9vw, 10px), 30px);
        }
    }

    @media screen and (max-width:575px) {

        .title {
            font-size: min(max(3.8vw, 23px), 30px);
        }
    }
</style>
<style>
    #submit-id-submit {
        padding: 15px;
        font-size: 20px;
    }
</style>
	<div class="well">
    <h1 class="text-center">{% trans "Registration" %}</h1>
    <div class="hr"></div>
    <br>
    <h2 class="text-center">{{workshop_reg.name}}</h2>
    <h3 class="text-center">{% trans "Date" %}: {{workshop_reg.date_start}} - {{workshop_reg.date_end}}</h3>
    <div class="hr"></div>
    <br>
    <div class="text-center" style="margin-left:auto;margin-right:auto; width:50%;min-width:400px"></div>
    {% if registration_successful%}
        <h5>{% trans "You have successfuly registered for this workshop. Please check your email for confirmation." %}</h5>
    {% else %}

    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="first_name" class="col-1">First Name</label>
                <input type="first" class="form-control col-3" name="first_name" placeholder="First Name" required>
                <label for="last_name" class="col-1">Last Name</label>
                <input type="last" class="form-control col-3" name="last_name" placeholder="Last Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="institution" class="col-1">Institution</label>
                <input type="institution" class="form-control col-3" name="institution" placeholder="Institution" required>
                <label for="position" class="col-1">Position</label>
                <input type="position" id="position" class="form-control col-3" name="position" placeholder="Position" required>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="address" class="col-1">Address</label>
                <input type="address" class="form-control col-3" name="address" placeholder="Address" required>
                <label for="area_of_expertise" class="col-1">Area of Expertise</label>
                <input type="area_of_expertise" class="form-control col-3" name="area_of_expertise" placeholder="Area of Expertise" required>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="email" class="col-1">Email</label>
                <input type="email" class="form-control col-3 {% if error is not None %} is-invalid {% endif %}" name="email" placeholder="Email" required>
                <label for="verify_email" class="col-1">Verify Email</label>
                <input type="verity_email" class="form-control col-3 {% if error is not None %} is-invalid {% endif %}" name="verify_email" placeholder="Verify Email" required>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="phone" class="col-1">Phone</label>
                <input type="phone" class="form-control col-3" name="phone" placeholder="Phone">
                <div class="col-1"></div>
                <div class="col-3"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% if error %}
            <div class="alert alert-danger">
                {% if error == 'email-mismatch' %}
                    The email fields do not match.
                {% elif error == 'duplicate-account' %}
                    That email is already taken.
                {% else %}
                    {{error}}
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="row justify-content-center pb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

 	{% endif %}
    </div>
    <div class="hr"></div>
    <h2 class="text-center pt-3"> {% trans "Registered participants" %}: 
    {% if validated_registrations %}<span class="badge badge-info">{{validated_registrations|length}} </span>{% endif %}
    {% if awaiting_validation_registrations %}<small> Awaiting validation:</small><span class="badge badge-error">{{awaiting_validation_registrations|length}} </span>{% endif %}
    </h2>
    <div class='mt-3 d-flex justify-content-center'>
        <div id="pagination" class="pagination">
            <ul class="pagination pagination-sm">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a style="color: black" class="page-link" href="#" onclick="selectionFunction(1, {{id}})" >&laquo;&laquo;</a>
                </li>
                <li class="page-item">
                  <a style="color: black" class="page-link" href="#" onclick="selectionFunction({{page_obj.previous_page_number}}, {{id}})">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;&laquo;</a>
                </li>
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in page_obj.paginator.page_range %}
                {% if i <= page_obj.number|add:3 and i >= page_obj.number|add:-3 %}
                  {% if page_obj.number == i %}
                    <li class="page-item active"><a class="current page-link">{{ i }}</a></li>
                  {% else %}
                    <li class="page-item"><a style="color: black" class="page-link" href="#" onclick="selectionFunction({{i}}, {{id}})">{{ i }}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a style="color: black" class="page-link" href="#" onclick="selectionFunction({{ page_obj.next_page_number }}, {{id}})">&raquo;</a>
                </li>
                <li class="page-item">
                  <a style="color: black" class="page-link" href="#" onclick="selectionFunction({{ page_obj.paginator.num_pages }}, {{id}})">&raquo;&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
                <li class="page-item disabled">
                  <a class="page-link">&raquo;&raquo;</a>
                </li>
              {% endif %}
            </ul/>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <label class="control-label"><b>Sort by: </b></label>
            <select class="menu-field" id="sortSelect" value={{sort_selection}} onChange="selectionFunction(1, {{id}})">
                    <option value="last_name-ascending">Name A-Z</option>
                    <option value="last_name-descending">Name Z-A</option>
                    <option value="institution-ascending">Institution A-Z</option>
                    <option value="institution-descending">Institution Z-A</option>
            </select>
        </div>
        <div class="col text-right">
            <label class="control-label"><b>Registrations per page: </b></label>
            <select class="menu-field" id="perPageSelect" value={{per_page_select}} onChange="selectionFunction(1, {{id}})">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>

    <br>
    <div class="span10 offset1">
        <table id="registrationTable" class="table table-striped">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Institution" %}</th>
            </tr>
            {% for registration in page_obj %}
                {% with count=forloop.counter0 %}
                    <tr>
                        <td>{{registration.last_name}}, {{registration.first_name}}</td>
                        <td>{{registration.institution}}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </table>
    </div>

<script type="text/javascript">
    
    function selectionFunction(page, workshopId) {
        sortSelectedValues = $('#sortSelect').val();
        sortBy = sortSelectedValues.split('-')[0];
        sortOrder = sortSelectedValues.split('-')[1];
        perPageSelect = $('#perPageSelect').val();

        $.ajax({
            url: '/outreach/workshops/register/' + workshopId + "?page=" + page,
            method: 'GET',
            data: {
                sortBy: sortBy,
                sortOrder: sortOrder,
                perPageSelect: perPageSelect
            },
            success: function (response) {
                var responseHtml = $(response);
                var newRegistrationTable = responseHtml.find('#registrationTable');
                var newPagination = responseHtml.find('#pagination');
                $('#pagination').html(newPagination.html());
                $('#registrationTable').html(newRegistrationTable.html());
            },   
        });
    }
</script>
    
{% endblock %}