{% extends "geohealth/base.html" %}

{% block title %} Data Visualization {% endblock %}

{% block head_extra %}
  <script src="/media/js/modis.js" type="text/javascript"></script>
  <script src="http://api.maps.yahoo.com/ajaxymap?v=3.0&amp;appid=euzuro-openlayers" type="text/javascript"></script>
  <script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAmuvLtH3m9h8LpbkjVzUDhBQyRLBZZgMo3VuWp3Pab5JM-oPN4hRjhrpJr4lifELK29a1ma50wKiWHg'></script>
  <script src="http://www.openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
  <script src="http://dev.openlayers.org/addins/scalebar/trunk/lib/OpenLayers/Control/ScaleBar.js"></script>
  <link rel="stylesheet" href="scalebar-thin.css" type="text/css" />
  <script type="text/javascript">
        var maps = new Array();
        var std_proj = new OpenLayers.Projection("EPSG:4326");
        var control_map = 0;
        var tile_size = 300;
        //var rswms = "/wms/modis.php";
        var rswms = "/service/modis";
        var cur_point = null;
        
        OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {                
            defaultHandlerOptions: {
                'single': true,
                'double': true,
                'pixelTolerance': 0,
                'delay': 100
            },

            initialize: function(options) {
                this.handlerOptions = OpenLayers.Util.extend(
                    {}, this.defaultHandlerOptions
                );
                OpenLayers.Control.prototype.initialize.apply(
                    this, arguments
                ); 
                this.handler = new OpenLayers.Handler.Click(
                    this, {
                        'click': this.onClick,
                    }, this.handlerOptions
                );
            }, 

            onClick: function(evt) {
                cur_point = evt.object.getLonLatFromPixel(evt.xy);
                for (var i = 0; i < maps.length; i++){
                    maps[i].panTo(cur_point)
                }
                cur_point.transform(std_proj, evn.object.getProjectionObject());
            },
        });
  
        function viewCurrentTS(){
            if (cur_point == null)
                alert("Click on the map to set your position");
            else{
                p = cur_point.transform(maps[0].getProjectionObject(),std_proj);
                timeSeries(p.lon,p.lat);
            }
        }
        
        function getLayers(){
            var jpl_wms = new OpenLayers.Layer.WMS("NASA Global Mosaic", 
                ["http://t1.hypercube.telascience.org/tiles?",
                 "http://t2.hypercube.telascience.org/tiles?",
                 "http://t3.hypercube.telascience.org/tiles?",
                 "http://t4.hypercube.telascience.org/tiles?"], 
                {layers: 'landsat7'}
            );
            
            var ghyb = new OpenLayers.Layer.Google(
                "Google Hybrid",
                {type: G_HYBRID_MAP, 'sphericalMercator': true}
            );
            var yahoosat = new OpenLayers.Layer.Yahoo(
                "Yahoo Satellite",
                {'type': YAHOO_MAP_SAT, 'sphericalMercator': true}
            );
            var yahoohyb = new OpenLayers.Layer.Yahoo(
                "Yahoo Hybrid",
                {'type': YAHOO_MAP_HYB, 'sphericalMercator': true}
            );
            var test = new OpenLayers.Layer.WMS( "TEST", "/wms/modis.php", {layers: "ncep", time:"2008-08-29"});
            return [jpl_wms, ghyb, yahoosat, yahoohyb, test];
            //return [jpl_wms, ghyb, yahoosat, yahoohyb];
        }

        function addMap(divname){

            var options = {
                controls: [
                        new OpenLayers.Control.PanZoomBar(), 
                        new OpenLayers.Control.LayerSwitcher(), 
                        new OpenLayers.Control.LayerSwitcher(), 
                        new OpenLayers.Control.MouseToolbar() 
                        ],
                        
                //projection: new OpenLayers.Projection("EPSG:900913"),
                projection: new OpenLayers.Projection("EPSG:3857"),
                displayProjection: new OpenLayers.Projection("EPSG:4326"),
                units: "m",
                maxResolution: 156543.0339,
                maxExtent: new OpenLayers.Bounds(-20037508, -20037508,   20037508, 20037508.34)
            };
            var click = new OpenLayers.Control.Click();
            var map = new OpenLayers.Map(divname, options);
            maps.push(map);
            map.tileSize = new OpenLayers.Size(tile_size,tile_size);
            
            var layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
                "http://labs.metacarta.com/wms/vmap0", {layers: 'basic'} );
                

            var day = "361";
            var year = "2000";
            var variable = "evi";
            var url = rswms + "/"+variable+"?day="+day+"&"+"year="+year+"&";
            
            var modis = new OpenLayers.Layer.WMS( "MODIS WMS", url, {layers: "TOP,BOT,ocean_mask", isBaseLayer: true}, {'buffer':0});
            var mask = new OpenLayers.Layer.WMS( "Ocean Mask", url, {layers: "ocean_mask"}, {'buffer':0});
            
            map.addLayers([modis, layer, mask].concat(getLayers()));
            map.setCenter(new OpenLayers.LonLat(0, 4), 2);
            
            map.addControl(click);
            click.activate();

            var legendURL = url+"version=1.1.1&request=getlegendgraphic&format=image/PNG&layer=";
            var legendHTML = '<a style="text-decoration: none;color: black;" target="_blank">'+variable.toUpperCase()+'</a><br/><img src="'+legendURL+'TOP"/><br/>';
            $("#"+divname+" .legend").html(legendHTML);
        }
        
        function addMapDiv(){
            var num = maps.length+1;
            $("#content").append($('<div id="map'+num+'" class="map"><div id="legend'+num+'" class="legend"></div></div>'));
            $("#content").append($("#info1").clone().attr("id","info"+num));
            $("#info"+num+" input[name='map_num']").val(num);
            return "map"+num;
        }
        
        function init(){
            addMap("map1");
            addMapWindow();
        }

        function updateMap(form) {
            var map_tmp, modis_tmp;
            var map_num = form["map_num"].value;
            var variable = form["products"].value;
            var day = form["days"].value;
            var year = form["years"].value;

            map_tmp = maps[parseInt(map_num)-1];
            modis_tmp = map_tmp.getLayersByName("MODIS WMS")[0];
            modis_tmp = map_tmp.layers[0];
            //modis_tmp.mergeNewParams({'day':day,'year':year,'prod':variable});
            var url = rswms + "/"+variable+"?day="+day+"&"+"year="+year+"&";

            map_tmp.removeLayer(modis_tmp);
            modis_tmp = new OpenLayers.Layer.WMS( "MODIS WMS", url, {layers: "TOP,BOT,ocean_mask", isBaseLayer: "true"});
            map_tmp.addLayer(modis_tmp);
            map_tmp.setBaseLayer(modis_tmp);
            
            var legendURL = url+"version=1.1.1&request=getlegendgraphic&format=image/PNG&layer=";
            var legendHTML = '<a style="text-decoration: none;color: black;" target="_blank">'+variable.toUpperCase()+'</a><br/><img src="'+legendURL+'TOP"/><br/>';
            var legendDiv = document.getElementById('legend'+map_num);
            legendDiv.innerHTML = legendHTML;
        }
        
        function synchZoom(form) {
            var map_tmp, modis_tmp;
            var map_num = form["map_num"].value;
            
            map_tmp = maps[parseInt(map_num)-1];
            modis_tmp = map_tmp.getLayersByName("MODIS WMS")[0];
            
            for (var i = 0; i < maps.length; i++){
                maps[i].zoomTo(map_tmp.zoom)
            }
        }
        function addMapWindow(){
            addMap(addMapDiv());
            return false;
        }
        
</script>
<style type="text/css">
.map  {position: relative; width: 658px; height: 370px; top: 25px; left: 0px; border: solid #999999 1px;}
.legend {position: absolute; top: 0px; left: 670px; text-align: left; z-index: 999999;}
.info  {position: relative; width: 648px; height: 25px; top: 20px; left: 0px; padding: 5px; background-color: #EEE; border: solid 1px #999999; text-align: left; overflow: auto; margin-bottom:20px}
#control {  position: absolute; top: 480px; left: 10px; z-index: 999999; }
</style>
{% endblock %}

{% block body_tag %}<body bgcolor="#FFFFFF" onload="init()">{% endblock %}
{% block content %}
        <h2>Multi-pane MODIS Browser</h2>
        <div id="top">Click within any map window in order to synchronize map windows views to the same center position.<br/>
                      To change map view independently drag the map or use select tool.<br>
                      To zoom all maps to the same altitude click the 'Synch Zoom' button.<br><br>
                      <a href='#' onClick='addMapWindow();return false'>Add map</a>
                      &nbsp;|&nbsp;&nbsp;<a href='#' onClick='viewCurrentTS();return false'>View MODIS time series data</a></div>
        <div id="map1" class="map"> 
        <div id="legend1" class="legend"></div>
        </div>
        <div id="info1" class="info">
            <form>
                {{product_form.products}}
                {{product_form.days}}
                {{product_form.years}}
                <input type="hidden" name="map_num" value="1" />
                <input type="button" value="Update Modis Map" onclick="javascript:updateMap(this.form);return false;"/>
                <input type="button" value="Synch Zoom" onclick="javascript:synchZoom(this.form);return false;"/>
            </form>
        </div>
{% endblock %}
