{% load i18n %}
<li class='leftmenu-category nav-header'>
    CEOM {% trans "Account" %}
</li>

{% if user.is_authenticated %}
<li>
    <a href="/accounts/profile/{{request.user.username}}/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "View Profile" %}</p>
    </a>
</li>
<li>
    <a href='/accounts/profile/edit/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Edit Profile" %}</p>
    </a>
</li>
<li>
    <a href='/accounts/password/change/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Change Password" %}</p>
    </a>
</li>
<li>
    <a href="/accounts/logout/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Log out" %}</p>
    </a>
</li>
{% else %}
<li>
    <a href='/accounts/login/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Log in" %}</p>
    </a>
</li>
<li>
    <a href='/accounts/register/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Register" %}</p>
    </a>
</li>
<li>
    <a href='/accounts/reset/' class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Reset Password" %}</p>
    </a>
</li>
{% endif %}
{% if user.is_staff %}
<li >
    <a href="/admin/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Admin Site" %}</p>
    </a>
</li>
{% endif %}
