{% extends "outreach/base.html" %}

{% load extra_template_tags %}
{% load i18n %}
{% block content %}
	<div class="well span12">
 	{{content|render}}
 	</div>
    {% if validated_registrations%}
    </div>
    <h2 class="text-center"> {% trans "Registered participants" %}: 
    {% if validated_registrations %}<span class="badge badge-info">{{validated_registrations|length}} </span>{% endif %}
    {% if awaiting_validation_registrations %}<small> {% trans "Awaiting validation" %}:</small><span class="badge badge-error">{{awaiting_validation_registrations|length}} </span>{% endif %}
    </h2>
    <br>
    <div class="span10 offset1">
        <table class="table table-striped">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Institution" %}</th>
            </tr>
            {% for registration in validated_registrations %}
            <tr>
                <td>{{registration.last_name}}, {{registration.first_name}}</td>
                <td>{{registration.institution}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
{% endblock %}
