{% extends "aboutus/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block title %}CEOM Group Photos{% endblock %}

{% block content %}
<style>
	.panel {
		border-radius: .25rem;
	}

	.img-thumb{
		padding: 4px;
		border: 1px solid #ddd;
		border-radius: 5px;
		margin: 10px;
		width: 200px;
		max-width: 200px;
		height: 150px;
	}
  	.carouselArrow {
		border-radius: 50%;
		width: 36px;
		height: 36px;
		background: #555;
		border: 2px solid #fff;
		color: #fff;
		text-align: center;
    }

  	.carouselArrowInterior {
		position: relative;
		color: white;
		font-size: 36pt;
		line-height: 41%;
	}
	.carousel-img {
		height: 300px;
	}
	.carousel-item {
		transition: transform 1s ease, opacity .5s ease-out;
	}
</style>
<div style="text-align: center;">
	<div>
		<h2 align="left" style="color: #dc143c;">{% trans "Group photos" %}</h2>
		<div class="hr"></div>&nbsp;		 
		{% if photos %}
			<ul class="nav nav-pills mb-4" role="tablist">
				{% for year in available_years %}
					{% ifchanged year %}
						{% if "20" in request.path %}
							<li class='nav-item panel mr-1 {% if "/aboutus/group_photos/"|add:year in request.path %}active{% endif %}'>
								<a class='nav-link link {% if "/aboutus/group_photos/"|add:year in request.path %}active{% endif %}' href="{{SITE_URL}}/aboutus/group_photos/{{year}}" role="tab" aria-controls="pills-home">{{year}}</a>
							</li>
						{% else %}
							<li class='nav-item panel mr-1 {% ifequal forloop.counter 1 %}active{% endifequal %}'>
								<a class='nav-link link {% ifequal forloop.counter 1 %}active{% endifequal %}' href="{{SITE_URL}}/aboutus/group_photos/{{year}}" role="tab" aria-controls="pills-home">{{year}}</a>
							</li>
						{% endif %}				
					{% endifchanged %}
				{% endfor %}
			</ul>
			<div class="hr"></div>&nbsp;
			<br>	
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:80%; display: inline-block;">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				  {% for photo in photos %}
					<li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}" {% ifequal forloop.counter 1 %}class="active"{% endifequal %}></li>
				  {% endfor %}
				</ol>
				<!-- Carousel items -->
				<div class="carousel-inner" style="display: inline-flex;">
				  {% for photo in photos %}
					{% thumbnail photo.picture "800x600" crop="center" as im %}
					  {% if forloop.counter == 1 %}
					  <div class="carousel-item active bg-dark"><div class="pagination-centered"> <a href="{{im.url}}}"><img class="d-block " src="{{im.url}}" style="max-width: 80%; max-height:60%; margin-left:auto;margin-right:auto"></a></div></div>
					  {% else %}
					  <div class="carousel-item bg-dark"><div class="pagination-centered"><a href="{{im.url}}"><img class="d-block " src="{{im.url}}" style="max-width: 80%; max-height:60%; margin-left:auto;margin-right:auto"></a></div></div>
					  {% endif %}
				  {% empty %}
					<p class="text-error">Image missing</p>
				  {% endthumbnail %}
				{%endfor%}
				</ol>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				  <div class="carouselArrow" aria-hidden="true">
					  <div class="carouselArrowInterior">&lsaquo;</div>
				  </div>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				  <div class="carouselArrow" aria-hidden="true">
					  <div class="carouselArrowInterior">&rsaquo;</div>
				  </div>
				  <span class="sr-only">Next</span>
				</a>
				</div>
		{% endif %}
	</div>
</div>
		{% endblock %}
