{% extends "aboutus/base.html" %}
{% load i18n %}
{% block content %}
<style>
	.tab-content>.active {
		display:inline
	}
</style>
<div class="card bg-light shadow-sm p-4">
	<div class="card-body grid">
		<h2 style="color: #dc143c;">{% trans "News" %}</h2>
				<div class="hr"></div>&nbsp;

		<div class="container">
			<div class="row">
				<div class="col-md-2 mb-3">
					<ul id="tab" class="nav nav-pills flex-column" role="tablist">
						{% for post in posts %}
						<li class="nav-item">
							<a class="nav-link {% ifequal forloop.counter 1 %}  active {% endifequal %}" role="tab" href="#tab{{forloop.counter}}" data-toggle="tab">{{post.date|date}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-10">
					<div class="tab-content">
					{% for post in posts %}
					<div class="tab-pane {% ifequal forloop.counter 1 %} active {% endifequal %}" id="tab{{forloop.counter}}" role="tabpanel" aria-labelledby="tab{{forloop.counter}}">
						<h4>{% trans post.title %}</h4>
						<h5>{{post.date}}</h5>
						<div class="hr"></div>
						<p>{{ post.content }}</p>
						{% if post.images.all%}
						<div class="hr"></div>
						</br >
						<h4 >{% trans "Images" %}</h4>
						<div id="myCarousel{{forloop.counter}}" class="carousel slide" style="width:100%; margin:auto;">
							<div class="carousel-inner" style="width:90%; margin:auto;">
								{% for photo in post.images.all %}
								{% if forloop.counter == 1 %}
              					<div class="active item"><div class="pagination-centered"> <a href="{{photo.image.url}}"><img src="{{photo.image.url}}"></a></div>
									<div class="carousel-caption">
									<p>{{photo.description|linebreaks|urlize}}</p>
									</div>
								</div>
              					{% else %}
              					<div class="item"><div class="pagination-centered"><a href="{{photo.image.url}}"><img src="{{photo.image.url}}"></a></div>
									<div class="carousel-caption">
									<p>{{photo.description|linebreaks|urlize}}</p>
									</div>
								</div>
              					{% endif %}
							{% endfor %}
							</ol>
							</div>
							{% if post.images.all|length > 1 %}
							<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
       						<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
							{% endif %}
						</div>
						{% endif %}
					</div>
					
					{% if post.files.all %}
					<div class="hr"></div>
					</br >
					<h4 align="center">{% trans "Files" %}</h4>
						<ul>
							{% for f in post.files.all %}
							 <li><a href="{{f.file_attached.url}}">{{f.title}}</a>:{{f.description}}	</li>
							{% endfor %}
						</ul>
					{% endif %}
					
					{% endfor %}
					</div><!--tab-content-->
				</div>
				
		</div><!--row -->
	</div>
</div>
</div>


{% endblock %}
