{% extends "gisday/base.html" %}
{% load extra_template_tags %}
{% block content %}
 <h1>Volunteer registration page</h1>
 <form action="." method='post'>
    {% csrf_token %}
    {{form}}
    <br>
    <input type="submit" value="Submit" />
 </form>
 <h4>Registered Volunteers</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Primary Role</th>
            <th>Lunch</th>
            <th>Tshirt Size</th>
        </tr>
    </thead>
    <tbody>
    	{% for items in data %}
    	<tr>
            {% for info in items %}
            <td>{{info}}</td>
            {% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

