{% extends "base.html" %}


{% block head_extra %}
    {{block.super}} 
    {{ head_extra|safe }}
    <style type="text/css">
    .hr{content:""; height:1px; width:100%; background:#272727; background:-webkit-gradient(linear,left top,right top,color-stop(0%,transparent),color-stop(50%,#272727),color-stop(100%,#dfecaf)); background:-webkit-linear-gradient(left,transparent 0%,#272727 50%,transparent 100%); background:-moz-linear-gradient(left,transparent 0%,#272727 50%,transparent 100%); background:-ms-linear-gradient(left,transparent 0%,#272727 50%,transparent 100%);
    </style>
{% endblock %}
{% block title %}
    {{block.super}}
    {% if title %}
        {{title}}
    {% else %}
        Workshops
    {% endif %}

{% endblock %}

{% block sidebar_extra %}
    {% if categories %}
         {% include "workshops/categories_legend.html" %}
    {% endif %}
    {% if workshop %}
        {% include "workshops/workshop_extra_menu.html" %}
    {% endif %}
    {% if sponsors %}
         {% include "workshops/sponsors.html" %}
    {% endif %}
{% endblock %}

{% block left_menu %}
    {% include "workshops/leftmenu.html" %}
{% endblock %}

