{% extends "workshops/base.html" %}

{% load i18n%}
{% block title %}{% trans "EOMF: Workshops overview" %}{% endblock %}
{% block content %}
	<div class="well">
		<h1 class="text-center"> {% trans "Workshops" %}</h1>
		<div class="hr"></div>
        <br>
        <div class="offset2 span8">
            <p>{% blocktrans %}The EOMF has hosted or co-hosted a number of workshops and project
                meetings in a variety of research areas, including disease ecology, remote
                sensing, land use and land cover change, terrestrial carbon cycle and
                climate change. Here you can read and download the materials related to
                the workshops and project meetings. {% endblocktrans %}</p>
        </div>
        
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item text-center"><img src="/media/workshops/images/workshop1.png" style="width:80%; margin-left:auto; margin-right:auto"></div>
            <div class="item text-center"><img src="/media/workshops/images/workshop2.png"  style="width:80%; margin-left:auto; margin-right:auto"></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
	</div>
{% endblock %}
