{% extends "gisday/base.html" %}

{%block content %}
<style>
.img-thumb{
padding: 4px;
border: 1px solid #ddd;
border-radius: 5px;
margin: 10px;
width: 200px;
max-width: 200px;
height: 150px;
}
</style>

<h4>GIS Day 2012 photo gallery</h4>

<div id="myCarousel" class="carousel slide">

<div class="carousel-inner" style="width:90%; margin:auto;">
    {% for photo in photos %}
		{% if forloop.counter == 1 %}
		<div class="active item"><div class="pagination-centered"> <a href="{{photo}}"><img src="{{photo}}"></a></div></div>
		{% else %}
		<div class="item"><div class="pagination-centered"><a href="{{photo}}"><img src="{{photo}}"></a></div></div>
		{% endif %}
    {%endfor%}
    <ol class="carousel-indicators" >
		{% for photo in photos %}
			{% if forloop.counter == 1 %}
				<li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
			{% else %}
			<li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
			{% endif %}
		{% endfor %}
</ol>
</div>
        <!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>
<div class="row-fluid">
    
        {% for photo in photos %}
            <a href="{{photo}}"><img src="{{photo}}" class="img-thumb">
        {%endfor%}

</div>
{% endblock %}
