{% extends "outreach/base.html" %}
{% load i18n %}
{% load extra_template_tags %}

{% load crispy_forms_tags %}
{% block content %}
<style>
    @media screen and (min-width: 1250px) {
                #title {
                  font-size: 3vw;
                }
                #date {
                    font-size: 2vw;
                    text-align: center;
                }
                #subtitle {
                  font-size: 1.5vw;
                }
        	}
        
        	@media screen and (min-width: 1110px) and (max-width: 1250px) {
                #title {
                  font-size: 2.8vw;
                }
                #date {
                    font-size: 2.3vw;
                    text-align: center;
                }
                #subtitle {
                  font-size: 1.8vw;
                }
            }
            
            @media screen and (min-width:575px) and (max-width: 1110px) {
                #title {
                  font-size: 2.9vw;
                }
                #date {
                    font-size: 2.4vw;
                    text-align: center;
                }
                #subtitle {
                  font-size: 2vw;
                }
            }

            @media screen and (max-width:575px) {
                /* #well {
                    display: inline-flex;
                    flex-direction: column;
                } */
                #title {
                  font-size: 4vw;
                }
                #date {
                    font-size: 3.5vw;
                    text-align: center;
                }
                #subtitle {
                  font-size: 3vw;
                }
            }
</style>
<div id="well" class="well span12">
    <h1 id="title" class="text-center">{% trans "Presentations" %}  <small id="subtitle">{{workshop.name}}</small></h1>
    <div class="hr"></div>
   
    <div class="span10 offset1">
    {% if presentations %}
    {% for p in presentations %} 
        {% ifchanged p.time_ini.date|date:"Y-m-d"%}
            {% ifnotequal forloop.counter 1 %}
            </table>
            {% endifnotequal %}
        
        <h3 id="date"> {{p.time_ini.date|date:"l F d, Y"}}</h3>
        <table class="table table-striped">
            <tr>
                <th>{% trans "Time" %}</th>
                <th>{% trans "title" %}</th>
                <th>{% trans "Presenter" %}</th>
                <th>{% trans "Institution" %}</th>
                <th>{% trans "Link" %}</th>
            </tr> 
            
        {% endifchanged %}
            <tr>    
                <td>{{p.time_ini|date:"H:i" }}{% if p.time_end %} - {{p.time_end|date:"H:i"}} {% endif %} </td>
                <td>{{p.title}}</td>
                <td>{{p.last_name}}, {{p.first_name}}{% if p.other_presenters %} ({{p.other_presenters}}){% endif %}</td>
                <td><a href="{{p.institution.link}}">{{p.institution.name}}</a></td>
                <td>{% if p.content %}<a class="btn btn-primary" href="{{p.content.url}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg></a>{% endif %}</td>
            </tr>
        
    {% endfor %}
        </table>
    {% endif %}
    </div>
</div>
{% endblock %}
