{% load i18n %}
<ul class="nav nav-list">
<li class='nav-header'>{% trans "GeoHealth" %}</li>
<li><a href="/visualization/gemap/">{% trans "Google Earth browser" %}</a></li>
</ul>
<ul class="nav nav-list">
        <li class='nav-header'>{% trans "Wild birds" %}</li>      
        <li><a href="/birds/">{% trans "Wild bird tracking data" %}</a></li>
    </ul>       
    <ul class="nav nav-list">
        <li class='nav-header'>{% trans "Avian Influenza" %}</li> 
        <li><a href="/h5n1/">{% trans "Avian Influenza tracking data" %}</a></li>
    </ul>