{% extends "photos/base.html" %}
{% load photos_tags i18n %}
{% load thumbnail %}
{% block head_extra %}
{{block.super}}
{{ form.media }}
<style type="text/css">
table td {
    border-top: none;
    width:100px;
}

.table th, .table td { 
     border-top: none; 
     width:100px;
 }
.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
visibility:none;
display: none;
} 
.grp-help {
max-width: 758px;
padding: 5px 0 0;
color: #9a9a9a;
font-size: 11px !important;
line-height: 13px;
white-space: normal !important;
}
</style>
<link href="/static/css/datepicker.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("form").change(function(e){
		console.log("this");
	});
	var l = olwidget_id_point.getLayersByName("Point");
	l.onFeatureInsert = function(f){
		console.log(f);
	};
    $('#id_takendate').datepicker();
});
function wkt(){};
</script>
{% endblock %}
{% block content %}
<div class="well">
    <div class="grid" >
		<h2 style="color: #dc143c;">{% trans "Edit Photo" %}</h2>
		<div class="hr"></div>&nbsp;

		<form action="." method="post">{% csrf_token %}
			<table class='table' style="max-width:700px;">
				<tr>
					<td>{% trans "Photo" %}</td>
					<td>
						<a href='{{photo.file.url}}'>
						{% if photo.file|photoexists %}
							{% thumbnail photo.file "300x300" as im %}
								<img class="thumb" src='{{im.url}}' alt='{{photo.name}} thumbnail '>
							{% endthumbnail %}
						{% else %}
				            <img class="thumb" src='' alt='Image not available' style="width:300px;height:300px;">
			            {% endif %}
						</a>
					</td>
				</tr>
				<tr>
					<td>{% trans "Location" %}</td>
					<td>{{form.point}}</td>
					<td>{{form.point.errors}}</td>
				<small><tr style="width:100%;"><td></td><td style=" top:-10px; cellpadding-top:none;" class="grp-help">({% trans "In Latitude and Longitude" %} {{form.lat.help_text}})</td></tr></small>
				<tr>
					<td>{% trans "Latitude" %}</td>
					<td>{{form.lat}} {% trans "Decimal degrees" %}.</td>
					<td>{{form.lat.errors}}</td>
				</tr>
				<tr>
					<td>{% trans "Longitude" %}</td>
					<td>{{form.lon}} {% trans "Decimal degrees" %}.</td>
					<td>{{form.lon.errors}}</td>
				</tr>
				
				<tr>
					<td>{% trans "Altitude" %}</td>
					<td>{{form.alt}} {% trans "Meters" %}.</td>
					<td>{{form.alt.errors}}</td>
				</tr>
				<tr>
					<td>{% trans "Taken Date" %}</td>
					<td>{{form.takendate}}</td>
					<td>{{form.takendate.errors}}</td>
				</tr>
				<tr>
					<td>{% trans "Direction" %}</td>
					<td>{{form.dir_card}} {% trans "Cardinal direction" %}.<!-- Currently <b><pre>{{form.instance.get_dir_card_display}}({{form.dir_card.value}})={{photo.dir_card}}</pre></b>--></td>
					<td>{{form.dir_card.errors}}</td>
				</tr>
				<tr>
					<td>{% trans "Status" %}</td>
					<td>{{form.status}}</td>
					<td>{{form.status.errors}}</td>
				</tr>
				<tr>
					<td>{% trans "Category" %}</td>
					<td>{{form.category}}</td>
					<td>{{form.category.errors}}</td>
				</tr>
				<tr>
					<td>{% trans "Field Notes" %}</td>
					<td>{{form.notes}}</td>
					<td>{{form.notes.errors}}</td>
				</tr>
				<tr>
					<td colspan="2" align="right">
					{% if 'ref' in request.GET %}
					<input class='btn btn-info' type="submit" name="Save_and_Goto_Prev_Photo" value="{% trans 'Save & go Previous' %}"/>
					{% endif %}
					<input class='btn btn-primary' type="submit" name="save" value="{% trans 'Save' %}"/>
					{% if 'ref' in request.GET %}
					<input class='btn btn-info' type="submit" name="Save_and_Goto_Next_Photo" value="{% trans 'Save & go next' %}"/>
					{% endif %}
					</td>
				</tr>
				<!--<tr>
					<td>
					<input class='btn btn-danger' style ="margin-bottom:5px;" onclick="return confirm('Are you sure, you want to delete?');" type="submit" name="del" value="Delete"/>
					</td>
				</tr>-->
				<tr>
					<td colspan="2" align="left">
					</td></tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}
