{% load i18n %}

        <li class='nav-header'>{% trans "Photos Actions" %}</li>
        <li {% if request.path == '/photos/' %}class='active' {%endif%}> 
            <a href='/photos/'>{% trans "Overview" %}</a>
        </li>
        <li {% if request.path == '/photos/browse/' %}class='active' {%endif%}> 
            <a href='/photos/browse/'>{% trans "Browse" %}</a>
        </li>
        <li {% if request.path == '/photos/map/' %}class='active' {%endif%}> 
            <a href='/photos/map/'>{% trans "Map" %}</a>
        </li>
        {% if request.user.is_authenticated %}
        <li {% if request.path == '/photos/user/' %}class='active' {%endif%}> 
            <a href='/photos/user/'>{% trans "My Photos" %}</a>
        </li>
        <li {% if request.path == '/photos/upload/' %}class='active' {%endif%}> 
            <a href='/photos/upload/'>{% trans "Upload" %}</a>
        </li>
            {% if request.session.workset %}
            <li {% if request.path == '/photos/workset/' %}class='active' {%endif%}> 
                <a href='/photos/workset/'>{% trans "Working Photos" %}</a>
            </li>
            {%endif%}
        <li > 
            <a href='/accounts/logout/'>{% trans "Log out" %}</a>
        </li>
        {% else %}
        <li {% if request.path == '/photos/login/' %}class='active' {%endif%}> 
            <a href='/accounts/login/?next={{request.path}}'>{% trans "Log in" %}</a>
        </li>
        <li {% if request.path == '/photos/register/' %}class='active' {%endif%}> 
            <a href='/accounts/register/'>{% trans "Register" %}</a>
        </li>
        {% endif %}
        {% if user.is_staff %}
        <li><a href="/admin/photos/">{% trans "Admin Site" %}</a></li>
        {% endif %}

	<!-- <div style="margin-top: 0px; margin-left: 18px;">
	<p><a href="https://www.facebook.com/pages/Field-Photos/556179751100992"><img style="height: 20px; width: 20px;" alt="facebook" src="/static/images/facebook_logo.png" border="0"></a>
	<a href="https://twitter.com/Field_Photos"><img style="height: 30px; width: 30px;" alt="twitter_logo" src="/static/images/twitter_logo.png" border="0"></a></p>
	</div> -->
	

    <div style="margin-top: 10px; margin-left: 18px;">

	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style "> 
		<!-- <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a> -->
	<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51d4550f5a005e88"></script>
	<!-- AddThis Button END -->
	</div>

