{% extends "photos/base.html" %}
{% load photos_tags %}

{% load i18n %}
{% block title %}{% trans "EOMF Photo details" %} {% endblock %}

{% block head_extra %}
{{block.super}}
{{ form.media }}
<style type="text/css">
table td {
    border-top: none;
    width:100px;
}

.table th, .table td { 
     border-top: none; 
     width:100px;
 }
.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
visibility:none;
display: none;
} 
.grp-help {
max-width: 758px;
padding: 5px 0 0;
color: #9a9a9a;
font-size: 11px !important;
line-height: 13px;
white-space: normal !important;
}
</style>
<link href="/static/css/datepicker.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("form").change(function(e){
		console.log("this");
	});
	var l = olwidget_id_point.getLayersByName("Point");
	l.onFeatureInsert = function(f){
		console.log(f);
	};
    $('#id_takendate').datepicker();
});
function wkt(){};
</script>
{% endblock %}
{% block content %}
<div class="well">
    <div class="grid" >
		<h2 style="color: #dc143c;">{% trans "Edit Photo" %}</h2>
		<div class="hr"></div>&nbsp;

        <table class='table' style="max-width:700px;">
            <tr>
                <td>{% trans "Photo" %}</td>
                <td>
                    <a href='{{photo.file.url}}'>
                        <img class="thumb" src='{{ photo.file|thumbnail:"150x150"}}'>
                    </a>
                </td>
            </tr>
            <tr>
                <td>{% trans "Location" %}</td>
                <td>{{photo.point}}</td>
            <small><tr style="width:100%;"><td></td><td style=" top:-10px; cellpadding-top:none;" class="grp-help">(In Latitude and Longitude {{form.lat.help_text}})</td></tr></small>
            <tr>
                <td>{% trans "Latitude" %}</td>
                <td>{{photo.lat}} Decimal degrees.</td>
            </tr>
            <tr>
                <td>{% trans "Longitude" %}</td>
                <td>{{photo.lon}} Decimal degrees.</td>
            </tr>
            
            <tr>
                <td>{% trans "Altitude" %}</td>
                <td>{{photo.alt}} Meters.</td>
            </tr>
            <tr>
                <td>{% trans "Taken Date" %}</td>
                <td>{{photo.takendate|date:"DATETIME_FORMAT"}}</td>
            </tr>
            <tr>
                <td>{% trans "Direction" %}</td>
                <td>{{photo.dir_card}} Cardinal direction.<!-- Currently <b><pre>{{form.instance.get_dir_card_display}}({{form.dir_card.value}})={{photo.dir_card}}</pre></b>--></td>
            </tr>
            <tr>
                <td>{% trans "Status" %}</td>
                <td>{{photo.status}}</td>
            </tr>
            <tr>
                <td>{% trans "Category" %}</td>
                <td>{{photo.category}}</td>
            </tr>
            <tr>
                <td>{% trans "Field Notes" %}</td>
                <td>{{photo.notes}}</td>
            </tr>
            <tr>
                <td colspan="2" align="left">
                </td></tr>
        </table>
	</div>
</div>
{% endblock %}
                                                                                                                                                                                                        