{% extends "gisday/base.html" %}
{% load crispy_forms_tags %}
{% load extra_template_tags %}
{% block content %}

<h3 align="left">GIS Day {{gisdate.date|date:"Y"}} at the University of Oklahoma, {{gisdate.date|date:"M d"}}<sup>th</sup> {{gisdate.date|date:"Y"}}
<a href="https://www.facebook.com/OUGISDay" title="Visit OU GIS Day Facebook page"><img class='logo-tiny' src="/static/images/f_logo.png" style="width:45px;height:45px"></a>&nbsp;
<a title="Visit OU GIS Day Twitter page" href="https://twitter.com/OUGISDay"><img src="/static/images/twitter_logo.png" style="width:64px;height:64px"></a>

	</h3>

<div class="well">
	<div class="grid" >
		<h2 style="color: #dc143c;">Georeferenced Field Photo Contest</h2>
		<div class="hr"></div>&nbsp;
		
		{{content|render}}

	</div>		
</div>

{% endblock %}

