{% extends "gisday/base.html" %}
{% load extra_template_tags %}
{% block head_extra %}
<style type="text/css">
.grid {
	padding: 20px 20px 10px 20px;
	max-width: 100%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	overflow: hidden;
}

.grid li {
	display: inline-block;
	width: 250px;
	height: 250px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}
.grid figure h5 {
	margin-left: 15%;
	margin-top: 15%;
	margin-right: 15%;
	padding: 0;
	vertical-align:middle;
	color: #ae2341;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.grid figure {
	margin: 0;
	position: relative;
	
	width: 250px;
	height: 250px;
	display:table;
}

.grid>div {
	max-width: 100%;
	display: block;
	position: relative;
	background-color: #fff;
		width: 250px;
	height: 250px;
}
.grid figure img {
	position: absolute;
	margin: 0;
	padding: 0;
	z-index:-1;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;

	background: #2c3f52;
	color: #ed4e6e;
	z-index:1;
}
.grid figcaption h5 {
	padding: 0;
	color: #f4867b;
	margin-top:0px;
}
.grid figcaption p {

	padding: 0;
	color: #000;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 80%;
	width: 100%;
	color: #fff;

}

.author span:before {
	content: 'by ';
	color: gray;
	font-size: 0.75em;
}
.author span{
	font-size: 0.95em;
}
.institution {
	font-size: 0.95em;
	color:#226b36 ;
	text-align: center;
	font-weight: bold;
}
.department {
	text-align: center;
	font-size: 0.95em;
	color:#226b36 !important;
}

/* Individual Caption Styles */

/* Caption Style 1 */
/*.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}*/

/*.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}
*/

/*.cs-style-1 figure:hover figcaption{
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}
*/

.cs-style-1 span {
		display: inline-block;
		color: #00a89c;
}

.crop {
  width:170px;
  overflow:hidden;
  max-height: 60px;
 
  font-size: 14px;
  overflow-wrap: break-word;
}​

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 10px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
	#content{
		display:inline-flex;
	}
}

</style>
{% endblock %}
{% block content %}
<h3 align="left">GIS Day {{gisdate.date|date:"Y"}} at the University of Oklahoma, {{gisdate.date|date:"M d"}}<sup>th</sup> {{gisdate.date|date:"Y"}}</h3>
<div class="well">
		{{content|render}}
		
	 	{% if not form_done %}
		<form method='POST'>
		{% csrf_token %}
		<div class="form-group">
			<div class="row justify-content-around">
				<label for="last_name" class="col-1">Last Name</label>
				<input type="last" class="form-control col-3" name="last_name" value="{{ previous_responses.last_name }}" placeholder="Last Name" required>
				<label for="first_name" class="col-1">First Name</label>
				<input type="first" class="form-control col-3" name="first_name" value="{{ previous_responses.first_name }}" placeholder="First Name" required>
			</div>
		</div>
		<div class="form-group">
			<div class="row justify-content-around">
				<label for="institution" class="col-1">Institution</label>
				<input type="institution" class="form-control col-3" name="institution" value="{{ previous_responses.institution }}" placeholder="Institution" required>
				<label for="department" class="col-1">Department</label>
				<input type="department" class="form-control col-3" name="department" value="{{ previous_responses.department }}" placeholder="Department" required>
			</div>
		</div>
		<div class="form-group">
            <div class="row justify-content-around">
                <label for="email" class="col-1">Email</label>
                <input type="email" class="form-control col-3 {% if error is not None %} is-invalid {% endif %}" value="{{ previous_responses.email }}" name="email" placeholder="Email" required>
                <label for="verify_email" class="col-1">Verify Email</label>
                <input type="verity_email" class="form-control col-3 {% if error is not None %} is-invalid {% endif %}" value="{{ previous_responses.verify_email }}" name="verify_email" placeholder="Verify Email" required>
            </div>
        </div>
		<div class="form-group">
            <div class="row justify-content-around">
                <label for="title" class="col-1">Title</label>
                <input type="title" class="form-control col-3" name="title" value="{{ previous_responses.title }}" placeholder="Title" required>
                <label for="category" class="col-1">Category</label>
                <select class="form-control col-3" name="category">
					{% for category in all_categories %}
					<option {% ifequal previous_responses.category category.name %}selected{% endifequal %}>{{ category.name }}</option>
					{% endfor %}
				</select>	
            </div>
        </div>
		<div class="form-group">
            <div class="row justify-content-around">
                <label for="abstract" class="col-1">Poster Abstract</label>
				<textarea class="form-control col-3" name="abstract" rows="3" required>{{ previous_responses.abstract }}</textarea>
                <label for="authors" class="col-1">Poster Author List</label>
                <textarea class="form-control col-3" name="authors" rows="3" required>{{ previous_responses.authors }}</textarea>
            </div>
        </div>
		<div class="form-group">
            <div class="row justify-content-around">
                <label for="comment" class="col-1">Questions & Comments</label>
                <textarea class="form-control col-3" name="comment" rows="3" required>{{ previous_responses.comment }}</textarea>
                <label for="preview" class="col-1">Preview</label>
                <input type="file" class="form-control-file col-3" name="preview" rows="3"></textarea>
            </div>
        </div>
		<div class="row justify-content-center">
            {% if error %}
            <div class="alert alert-danger">
                {% if error == 'email-mismatch' %}
                    The email fields do not match.
				{% elif error == 'duplicate-account' %}
					That email is already taken.
                {% else %}
                    {{error}}
                {% endif %}
            </div>
            {% endif %}
        </div>
		<div class="row justify-content-center pb-3">
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
		</form>
		{% else %}
            {% if registration_successful %}
            <h3  style="color: #007f00;">Congratulations, you have successfully registered for  the poster contest. </br >
                </h3>
            {% else %}
			<h3 class="text-warning"><strong>Registration period ended or not open yet</strong></h3>
            {% endif %}
		{% endif %}
</div>
<div class="hr"></div>
<br>
<h2 class="text-center" style="color:#000099">Registered Posters</h4>
<ul class="grid cs-style-1">
    {% for v in posters %}
		{% if forloop.counter <= 30 %}
		{% ifchanged v.category %}
		</ul>
		<h2 class="text-center">{{v.category}}</h4>
		<ul class="grid cs-style-1">
		
		{% endifchanged %}
			<li>
				<figure>
					<img style="max-width: 100%;max-height: 107%;"src="/static/gisday/gallery/postit.png">
					<h5 class="crop author pt-2">{{v.title}} </h5>
					<div class="text-center" style="height:25px"><span>{{v.last_name}}, {{v.first_name}}</span></div>
					<p class="institution">{{v.institution}}</p>
					<div class="text-center">
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#posterModal{{v.id}}"><i class="icon-fullscreen"></i> Details</button>
						<!-- Update button goes here -->
						<button class="btn btn-light btn-outline-secondary" style="border-width: 1.6px;" onclick="set_email({{pyear}},{{v.id}})">Update</button>
						<!-- <a href="#posterModal{{v.id}}" role="button" class="btn btn-info" toggle="modal">View details</a> -->
					</div>
					
					
				</figure>
			</li>
		{% endif %}
		
    {% endfor %}
 </ul>
 <!-- Modal -->
					
					<!-- <figcaption>
						<h5>Abstract:</h5>
						{% if v.preview %}<a href="{{v.preview.url}}" style="color:yellow;"><h4>Click to view poster</h4></a> {% endif %}
						<p>{{v.abstract}}</p>
					</figcaption> -->		
	{% for v in posters %}
		<div id="posterModal{{v.id}}" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="myModalLabel">{{v.title}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					<h5>Author</h5>
						  <p>{{v.last_name}}, {{v.first_name}}</p>
						  <h5>Institution (department)</h5>
						  <p>{{v.institution}} <small>({{v.department}})</small></p>
						  <h5>Preview:</h5>
						  {% if v.preview %}
							  <a href="{{v.preview.url}}" target="_blank"><h4>Click to view poster</h4></a> 
						{% else %}
							<p class="text-info">Preview not available</p>
						  {% endif %}
						<h5>Abstract:</h5>
						<p>{{v.abstract}}</p>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				  </div>
				</div>
			  </div>
		</div>
	{% endfor %}
<!-- Same function usage as in booth update -->
<script>
function set_email(year,id,email){
    //take the email and redirect them.
    var email = prompt("Please enter your email (This should be the same email as your initial registration with us)");
    console.log(email,year,id);
    if(email!=null){
        var build_web = "/outreach/gisday/"+String(year)+"/poster-contest/update?id="+String(id)+"&email="+email;
        console.log("redirect url:",build_web);
        window.location.href = build_web;//similar to clicking on a link

    }

}
</script>
{% endblock %}


