{% extends "gisday/base.html" %}
{% load extra_template_tags %}
{% block content %}

<h3 align="left">GIS Day {{gisdate.date|date:"Y"}} at the University of Oklahoma, {{gisdate.date|date:"M d"}}<sup>th</sup> {{gisdate.date|date:"Y"}}</h3>

<div class="well">
    <div class="grid">
        <h2  style="color: #dc143c;">Survey</h2>
        <div class="hr"></div>
        <br>
        {{content|render}}
        <br>
    {% if not form_done %}
    <h3 class="pb-3">Demographics</h3>
    <form action="." method='POST'>
        {% csrf_token %}
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="institution" class="col-2">Participant Institution</label>
                <select class="form-control col-3" name="institution">
                    <option>Oklahoma State University</option>
                    <option>Samuel Roberts Noble Foundation</option>
                    <option>University of Oklahoma</option>
                    <option>University of Tulsa</option>
                    <option>Other</option>
                </select>
                <label for="other_institution" class="col-2">If other, please specify</label>
                <input type="other_institution" class="form-control col-3" name="other_institution" placeholder="Other">
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="position" class="col-2">Participant Position</label>
                <select class="form-control col-3" name="position">
                    <option>Community College Faculty</option>
                    <option>Doctoral Student</option>
                    <option>EPSCoR Staff</option>
                    <option>Government Staff</option>
                    <option>Graduate Faculty</option>
                    <option>Higher Education Faculty</option>
                    <option>K-12 Administrator</option>
                    <option>K-12 Teacher</option>
                    <option>K-12 Student</option>
                    <option>Master's Student</option>
                    <option>Other Pre-College Teachers</option>
                    <option>Post-Doctoral Researcher</option>
                    <option>Researcher</option>
                    <option>REU Participant</option>
                    <option>Technical School Faculty</option>
                    <option>Technical School Student</option>
                    <option>Staff - Technical</option>
                    <option>Staff - Non-Technical</option>
                    <option>Undergraduate Faculty</option>
                    <option>Undergraduate Student</option>
                    <option>Other</option>
                </select>
                <label for="other_position" class="col-2">If other, please specify</label>
                <input type="other_position" class="form-control col-3" name="other_position" placeholder="Other">
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="highest_degree" class="col-2">Highest Degree Obtained</label>
                <select class="form-control col-3" name="highest_degree" required>
                    <option>High School</option>
                    <option>Associate</option>
                    <option>Bachelor's</option>
                    <option>Master's</option>
                    <option>Doctoral</option>
                </select>
                <label for="gender" class="col-2">Gender</label>
                <select class="form-control col-3" name="gender">
                    <option>Female</option>
                    <option>Male</option>
                    <option>Prefer not to respond</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="ethnicity" class="col-2">Ethnicity</label>
                <select class="form-control col-3" name="ethnicity">
                    <option>Hispanic/Latino</option>
                    <option>Not Hispanic/Latino</option>
                    <option>Prefer not to respond</option>
                </select>
                <label for="citizenship" class="col-2">Citizenship</label>
                <select class="form-control col-3" name="citizenship">
                    <option>US Citizen</option>
                    <option>Permanent Resident</option>
                    <option>Non-US Citizen</option>
                    <option>Prefer not to respond</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="race" class="col-2">Race</label>
                <select class="form-control col-3" name="race">
                    <option>American Indian or Alaskan Native</option>
                    <option>Asian</option>
                    <option>Black or African American</option>
                    <option>Native Hawaiian or Pacific Islander</option>
                    <option>White</option>
                    <option>Prefer not to respond</option>
                    <option>Other (please specify)</option>
                </select>
                <label for="other_race" class="col-2">If other, please specify</label>
                <input type="other_race" class="form-control col-3" name="other_race" placeholder="Other">
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="disability" class="col-2">Disability</label>
                <select class="form-control col-3" name="disability">
                    <option>Hearing Impairment</option>
                    <option>Mobility/Orthopedic Impairment</option>
                    <option>Visual Impairment</option>
                    <option>None</option>
                    <option>Prefer not to respond</option>
                    <option>Other (please specify)</option>
                </select>
                <label for="other_disability" class="col-2">If other, please specify</label>
                <input type="other_disability" class="form-control col-3" name="other_disability" placeholder="Other">
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="parents_degree" class="col-2">In your family, which of your parents/guardians received college degrees?</label>
                <select class="form-control col-3" name="parents_degree">
                    <option>Neither my mother or father (neither of my guardians)</option>
                    <option>Both my mother and father (both my guardians)</option>
                    <option>Only my father (male guardian)</option>
                    <option>Only my mother (female guardian)</option>
                    <option>I do not know</option>
                    <option>Prefer not to respond</option>
                </select>
                <label class="col-2"></label>
                <label class="col-3"></label>
            </div>
        </div>
        
        <h3 class="pb-3">Survey</h3>
        <div class="form-group row pl-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="participate_again" style="width:20px">
                <label class="form-check-label pl-2" for="participate_again">I would like to participate in the event again</label>
              </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="role" class="col-2">What was your primary role in the event?</label>
                <select class="form-control col-3" name="role">
                    <option>Organizing Committee</option>
                    <option>Faculty Poster Judge</option>
                    <option>Student Poster Contestant</option>
                    <option>Booth Exhibitor</option>
                    <option>Poster Exhibitor</option>
                    <option>Student Facilitator/Volunteer</option>
                    <option>Staff Facilitator</option>
                    <option>Other (please specify)</option>
                </select>
                <label for="other_role" class="col-2">If other, please specify</label>
                <input type="other_role" class="form-control col-3" name="other_role" placeholder="Other">
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-around">
                <label for="beneficial_aspects" class="col-2">What was the most beneficial or interesting aspect of the event?</label>
                <textarea class="form-control col-3" name="beneficial_aspects" rows="3" required></textarea>
                <label for="comments_and_suggestions" class="col-2">Please provide any additional comments or suggestions:
                </label>
                <textarea class="form-control col-3" name="comments_and_suggestions" rows="3"></textarea>
            </div>
        </div>
        <div class="row justify-content-center pb-3">
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
            <br/>
        {% else %}
            {% if registration_successful %}
            <h3 style="color: #007f00;">Your opinion is most valuable to us and will help us to improve GISday next year . Thank you!</h3>
            {% else %}
            <h3 class="text-warning">Survey ended or not open yet</h3>
            {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}
