{% extends "gisday/base.html" %}
{% load crispy_forms_tags %}
{% load extra_template_tags %}
{% block content %}
<style>
.form-horizontal .control-label {
    font-size: 20px;
    font-weight: bold;
}

</style>
<h3 align="left">GIS Day {{gisdate.date|date:"Y"}} at the University of Oklahoma, {{gisdate.date|date:"M d"}}<sup>th</sup> {{gisdate.date|date:"Y"}}</h3>

<div class="well">
	<div class="grid" >
		<h2  style="color: #dc143c;">Visitor Registration</h2>
		<div class="hr"></div>
		{{content|render}}
			
		{% if form %}
			<form action="." method='post' class='form-horizontal'>
			{% csrf_token %}
			{% crispy form %}
			<!-- <b>Note : Please enter the result in the Captcha Field</b> -->
			</form>
			<br/>
		{% else %}
		{% if registration_successful %}

		<h3 style="color: #007f00;">Congratulations, you have successfully registered for GIS Day.</h3>
		<p>Proceed to find out about schedule, directions, and contest following the links above.</p>
		
		{% else %}
		
		<h3 class="text-warning"> Registration period ended or not open yet</h3>
		
		{% endif %}
			
		{% endif %}

		

	</div>
</div>

<script>
$(document).ready(function() {
	$("#id_captcha_0").attr('placeholder', 'Enter Result');
})
</script>
{% endblock %}
