{% extends "modis/base.html" %}
{% load i18n %}
{% block title %} {% trans "CEOM MODIS timeseries Single Site" %} {% endblock %}

{% block head_extra %}
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo98LuzUr-aVpxRZPFHkBl2m4ogHeROGQ&callback=init"></script>
{% endblock %}


{% block content %}

<div>
    <h3 style="color:#999900;"><strong>Instructions</strong></h3>

    <p>Here you can retrieve time series MODIS data for a single study site, in other words, the time series MODIS data from one MODIS pixel that contains your study site. The data you get are in ASCII text file and Microsoft Excel *.csv file. </p>
    <ol>
        <li>
            <p><strong>Define the location </strong> of your study site</p>
            <ul>
                <li>
                    <p>Enter an address (e.g., street address, or city, or state)</p>
                </li>
                <li>
                    <p>Enter latitude and longitude of your study using Degree, Minute and Second Units</p>
                </li>
                <li>
                    <p>Enter latitude and longitude of your study using Decimal degree Unit</p>
                </li>
            </ul>
            <p><b>(OR)</b></p>
            <p><strong>Zoom-in the Google map</strong> and then <strong>click on a point</strong> of interest to adjust the location if required.<br \>
                    <small>Note: The rectangle in Google Map is the boundary of one MODIS pixel, and the red dot is the location of your study site within the MODIS pixel.</small>
            </p>
        </li>
        <li>
            <p><strong>Select product and year(s)</strong><br \>
                <small>You may choose one MODIS product over one year or several years.</small> </p>
        </li>
        <li>
            <p><strong> Submit</strong> your request. <small> Note: Upon submitting make sure you have done all previous steps or an error message will appear </small></p>
        </li>
    </ol>

</div>
<h2 style="color: #dc143c;">Retrieve time series MODIS data for a single study site</h2>

<legend><strong>1a. Select an address or a Point on the Map</strong> </legend>

<div id="div_address">
    <div class="row">
        <label class="col-sm-2 my-1">Enter the address:</label>
        <input class="form-control col-sm-3 mx-2 my-1" id="Taddress" type="text" name="address">
        <button class="btn btn-light btn-outline-secondary col-sm-1 mx-2 my-1" id="addressGo" style="border-width: 1.6px;">{% trans "Go" %}</button>
    </div>
</div>
<p><b>(OR)</b></p>
<div>
    <legend class="pt-2"><strong>1b. Enter the latitude & longitude information</strong> </legend>
    <div class="row">
        <label class="col-sm-2"></label>
        <label class="col-sm-2 mx-2" style="text-align:center">Degrees</label>
        <label class="col-sm-2 mx-2" style="text-align:center">Minutes</label>
        <label class="col-sm-2 mx-2" style="text-align:center">Seconds</label>
    </div>
    <div class="row">
        <label class="col-sm-2 my-1 pt-1" style="text-align:center">Latitude:</label> <!-- DMS Lat -->
        <input id="LAT_DEG" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="1" placeholder="Degrees">
        <input id="LAT_MIN" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="1" placeholder="Minutes">
        <input id="LAT_SEC" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="any" placeholder="Seconds">
    </div>

    <div class="row">
        <label class="col-sm-2 my-1 pt-1" style="text-align:center">Longitude:</label> <!-- DMS Lon -->
        <input id="LON_DEG" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="1" placeholder="Degrees">
        <input id="LON_MIN" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="1" placeholder="Minutes">
        <input id="LON_SEC" class="DMSField form-control col-sm-2 mx-2 my-1" type="number" step="any" placeholder="Seconds">
        <button class="btn btn-light btn-outline-secondary col-sm-1 mx-2 my-1" onclick="enterCoordsDMS();" style="border-width: 1.6px;">{% trans "Go" %}</button>
    </div>
    <label class="pt-2 my-1">or enter <strong>Decimal degrees</strong> below:</label> <!-- decimal degrees -->
    <div class="row">
        <label class="col-sm-2 my-1 pt-1" style="text-align:center">Latitude:</label>
        <input id="LAT_DEC" class="DECField form-control col-sm-2 mx-2 my-1 offset1" type="number" step="any" placeholder="Latitude">
        <label class="col-sm-2 my-1 mx-2 pt-1" style="text-align:center">Longitude:</label>
        <input id="LON_DEC" class="DECField form-control col-sm-2 mx-2 my-1 offset1" type="number" step="any" placeholder="Longitude">
        <button class="btn btn-light btn-outline-secondary col-sm-1 mx-2 my-1" id="RedirectControl" onclick="enterCoordsLatLon();" name="RedirectControl" style="border-width: 1.6px;">Go</button>
    </div>
</div>

<div class="pt-2">
    <p><b>(OR)</b></p>
</div>
<legend class="text-left"><strong>1c. Zoom-in the map and then click on a point of interest </strong></legend>

<div id="map" class="mr-auto" style="width: 90%; height: 450px"></div>

<div class="row">
    <div class="col-sm-3">
        <input type="checkbox" id="auto_zoom" name="auto_zoom" checked /> Zoom to Modis Pixel</div>
    <div class="col-sm-5">
        <small>
            <label style="color:blue;">Blue pixel : 250 M</label> |
            <label style="color:red;">Red pixel : 500 M</label> |
            <label style="color:green;">Green pixel : 1000 M/1 KM</label>
        </small>
    </div>
</div>
<legend class="text-left"><strong>2. Select a product and year(s) </strong></legend>
<div>
    <div class="row">
        <div class="col-lg">
            <label class="col-sm-1">Dataset</label>
            <select id="datasets" class="form-control col-sm-6" size="4">
            </select>
        </div>
        <div id="Modis_long">

        </div>
        <div class="col-lg">
            <label class="col-sm-1">Year</label>
            <select id="years" class="form-control col-sm-6" multiple="multiple">
            </select>
        </div>
    </div>
    <legend class="text-left mt-2"><strong>3. Submit your request</strong></legend>

    <div align="center" class="mr-5">
        <button class="btn btn-primary" onclick="showResults();">Submit</button>
        <button class="btn btn-info" onclick="resetValues();">Reset</button>
    </div>
</div>
<div id="data-output"></div>
<script>
    let options = JSON.parse("{{ options|escapejs }}");

    updateDatasetList()
    updateYearList()
    $("#datasets").change(function() {updateYearList();});

    function toDMS(decimalVal) {
        var degree = Math.trunc(decimalVal);
        var minute = Math.trunc((decimalVal - degree) * 60);
        var second = Math.trunc(((decimalVal - degree) * 60 - minute ) * 60);

        return [degree, minute, second];
    }
    


    var radians = function(x){
        return x * Math.PI / 180.0; 
    };

    var degrees = function(x){
        return x * 180.0 / Math.PI;
    };
    let map, marker;
    let polygon, polygon2, polygon3;

    function init() {

        let startLocation = {
            lat: 0,
            lng: 0,
        };

        map = new google.maps.Map(document.getElementById('map'), { 
            zoom: 2,
            center: startLocation,
            gestureHandling: 'cooperative',
            mapTypeId: 'satellite',
        });
        
        polygon = new google.maps.Polygon({ 
            strokeColor: "#FF3300",                 
            strokeOpacity: 0.9,
            strokeWeight: 2,                                 
            fillOpacity: 0,
            clickable: false,                 
        });
        polygon2 = new google.maps.Polygon({ 
            strokeColor: "Blue",                 
            strokeOpacity: 0.9,
            strokeWeight: 2,                                 
            fillOpacity: 0,
            clickable: false,                 
        });
        polygon3 = new google.maps.Polygon({ 
            strokeColor: "#75FF30",                 
            strokeOpacity: 0.8,
            strokeWeight: 2,                                 
            fillOpacity: 0,
            clickable: false,                 
        });
     
        marker = new google.maps.Marker({
            position: startLocation,
            map: map,
            draggable: true,
        });

        google.maps.event.addListener(marker, 'dragend', async function (evt) {
            let lat = evt.latLng.lat().toFixed(4);
            let lon = evt.latLng.lng().toFixed(4);

            let dms_lat = toDMS(lat);
            let dms_lon = toDMS(lon);

            $('#LAT_DEG').val(dms_lat[0])
            $('#LAT_MIN').val(dms_lat[1])
            $('#LAT_SEC').val(dms_lat[2])

            $('#LON_DEG').val(dms_lon[0])
            $('#LON_MIN').val(dms_lon[1])
            $('#LON_SEC').val(dms_lon[2])

            $('#LAT_DEC').val(lat)
            $('#LON_DEC').val(lon)
            marker.setPosition({lat: evt.latLng.lat(), lng: evt.latLng.lng()});
            if($("#auto_zoom").is(":checked")) {
                let mzs = new google.maps.MaxZoomService();
                let zoomobj = await mzs.getMaxZoomAtLatLng(marker.getPosition());
                map.setZoom(Math.min(zoomobj.zoom, 15));
                map.setCenter(marker.getPosition())
            }
            updatePixelDisplay(lat, lon);
        });

        google.maps.event.addListener(map, 'click', async function (evt) {
            let lat = evt.latLng.lat().toFixed(4);
            let lon = evt.latLng.lng().toFixed(4);

            let dms_lat = toDMS(lat);
            let dms_lon = toDMS(lon);

            $('#LAT_DEG').val(dms_lat[0])
            $('#LAT_MIN').val(dms_lat[1])
            $('#LAT_SEC').val(dms_lat[2])

            $('#LON_DEG').val(dms_lon[0])
            $('#LON_MIN').val(dms_lon[1])
            $('#LON_SEC').val(dms_lon[2])

            $('#LAT_DEC').val(lat)
            $('#LON_DEC').val(lon)
            marker.setPosition({lat: evt.latLng.lat(), lng: evt.latLng.lng()});
            if($("#auto_zoom").is(":checked")) {
                let mzs = new google.maps.MaxZoomService();
                let zoomobj = await mzs.getMaxZoomAtLatLng(marker.getPosition());
                map.setZoom(Math.min(zoomobj.zoom, 15));
                map.setCenter(marker.getPosition())
            }
            updatePixelDisplay(lat, lon);
        });

        $(".DMSField").change(async function() {
            //... get new DMS coords (just reading from the fields, not using (this.value)...
            let lat_deg = parseFloat($('#LAT_DEG').val() || 0);
            let lat_min = parseFloat($('#LAT_MIN').val() || 0);
            let lat_sec = parseFloat($('#LAT_SEC').val() || 0);
            let lon_deg = parseFloat($('#LON_DEG').val() || 0);
            let lon_min = parseFloat($('#LON_MIN').val() || 0);
            let lon_sec = parseFloat($('#LON_SEC').val() || 0);

            //... update Decimal degrees fields... // Remember to use JQuery $().value to update the Decimal Degrees field.
            let lat_dec = lat_deg + parseFloat(parseFloat(lat_min + (lat_sec / 60)) / 60);
            let lon_dec = lon_deg + parseFloat(parseFloat(lon_min + (lon_sec / 60)) / 60);
            $('#LAT_DEC').val(lat_dec.toFixed(4))
            $('#LON_DEC').val(lon_dec.toFixed(4))
            //...update map...
            marker.setPosition({lat: lat_dec, lng: lon_dec});
            if($("#auto_zoom").is(":checked")) {
                let mzs = new google.maps.MaxZoomService();
                let zoomobj = await mzs.getMaxZoomAtLatLng(marker.getPosition());
                map.setZoom(Math.min(zoomobj.zoom, 15));
                map.setCenter(marker.getPosition())
            }
            updatePixelDisplay(lat_dec, lon_dec);
        });       

        $(".DECField").change(async function() {
            let lat_dec = parseFloat($('#LAT_DEC').val() || 0);
            let lon_dec = parseFloat($('#LON_DEC').val() || 0);

            let dms_lat = toDMS(lat_dec);
            let dms_lon = toDMS(lon_dec);

            $('#LAT_DEG').val(dms_lat[0])
            $('#LAT_MIN').val(dms_lat[1])
            $('#LAT_SEC').val(dms_lat[2])
            $('#LON_DEG').val(dms_lon[0])
            $('#LON_MIN').val(dms_lon[1])
            $('#LON_SEC').val(dms_lon[2])

            marker.setPosition({lat: lat_dec, lng: lon_dec});
            if($("#auto_zoom").is(":checked")) {
                let mzs = new google.maps.MaxZoomService();
                let zoomobj = await mzs.getMaxZoomAtLatLng(marker.getPosition());
                map.setZoom(Math.min(zoomobj.zoom, 15));
                map.setCenter(marker.getPosition())
            }
            updatePixelDisplay(lat_dec, lon_dec); 
        });
        
        marker.setMap(map);
        polygon.setMap(map);
        polygon2.setMap(map);
        polygon3.setMap(map);
        const geocoder = new google.maps.Geocoder();
        document.getElementById("addressGo").addEventListener("click", () => {
            geocodeAddress(geocoder);
        });

        {% if photoRedirect %}
            let latRe = {{latRedirect}}
            let lonRe = {{lonRedirect}}
            $('#LAT_DEC').val(latRe.toFixed(4));
            $('#LON_DEC').val(lonRe.toFixed(4));
            let dms_lat_re = toDMS(latRe);
            let dms_lon_re = toDMS(lonRe);

            $('#LAT_DEG').val(dms_lat_re[0]);
            $('#LAT_MIN').val(dms_lat_re[1]);
            $('#LAT_SEC').val(dms_lat_re[2]);

            $('#LON_DEG').val(dms_lon_re[0]);
            $('#LON_MIN').val(dms_lon_re[1]);
            $('#LON_SEC').val(dms_lon_re[2]);

            marker.setPosition({lat: latRe, lng: lonRe});
            map.setZoom(15);
            map.setCenter(marker.getPosition());
            updatePixelDisplay(latRe, lonRe);
        {% endif %}
    }

    function geocodeAddress(geocoder) {
        const address = document.getElementById("Taddress").value;
        geocoder
            .geocode({ address: address })
            .then(({ results }) => {
                marker.setPosition(results[0].geometry.location);
                let lat = results[0].geometry.location.lat().toFixed(4);
                let lon = results[0].geometry.location.lng().toFixed(4);
              
                let dms_lat = toDMS(parseFloat(lat));
                let dms_lon = toDMS(parseFloat(lon));
                
                $('#LAT_DEG').val(dms_lat[0]);
                $('#LAT_MIN').val(dms_lat[1]);
                $('#LAT_SEC').val(dms_lat[2]);

                $('#LON_DEG').val(dms_lon[0]);
                $('#LON_MIN').val(dms_lon[1]);
                $('#LON_SEC').val(dms_lon[2]);

                $('#LAT_DEC').val(lat);
                $('#LON_DEC').val(lon);
                updatePixelDisplay(lat, lon);
                map.setCenter(marker.getPosition());
            })
            .catch((e) =>
            alert("Geocode was not successful for the following reason: " + e)
            );        
    }

    function updatePixelDisplay(lat, lng) {
        let box = latlon2pixel(lat, lng, 2400.0);
        let box2 = latlon2pixel(lat, lng, 4800.0);
        let box3 = latlon2pixel(lat, lng, 1200.0);
        polygon.setPath(box);
        polygon2.setPath(box2);
        polygon3.setPath(box3);
    }

    // Sinusoidal Grid: 0-35h (horizontal) & 0-17v (vertical) | g : the pixel number from the starting point (0) (=global) | xi : pixel x inside a tile | npix : number of pixels
    let sin2latlon = function(ih, iv, xi, yi, npix) {
        let cons =(36.0 * npix)/(2.0 * Math.PI);
        let yg = iv * npix + yi;
        let xg = ih * npix + xi;

        let lat = degrees((9.0 * npix) - yg) / cons; 
        let lon = degrees(xg - 18.0 * npix) / (cons * Math.cos(radians(lat)));
        
        return {lat:lat, lon:lon};
    };
    
    let latlon2sin = function(lat, lon, npix) {
        let cons =(36.0 * npix)/(2.0 * Math.PI);
        let yg = 9.0 * npix - radians(cons * lat);
        let xg = radians(cons*lon*Math.cos(radians(lat))) + 18.0 * npix;

        let ih = Math.floor(xg/npix);
        let iv = Math.floor(yg/npix);

        let x = xg-ih*npix;
        let y = yg-iv*npix;

        let xi = Math.floor(x);
        let yi = Math.floor(y);

        return {h: ih, v: iv, x: xi, y: yi};
    };
    
    let latlon2pixel = function(lat, lon, npix){
        let sin = latlon2sin(lat, lon, npix);
        let ih = sin.h, iv = sin.v, xi = sin.x, yi = sin.y;
        let bbox = [];
        let p;
       
        p = sin2latlon(ih, iv, xi + 0, yi + 0, npix);
        bbox.push({lat: p.lat, lng: p.lon});
        p = sin2latlon(ih, iv, xi + 0, yi + 1, npix);
        bbox.push({lat: p.lat, lng: p.lon});
        p = sin2latlon(ih, iv, xi + 1, yi + 1, npix);
        bbox.push({lat: p.lat, lng: p.lon});
        p = sin2latlon(ih, iv, xi + 1, yi + 0, npix);
        bbox.push({lat: p.lat, lng: p.lon});
        return bbox;
    };

    async function enterCoordsDMS() {
        let lat_deg = parseFloat($('#LAT_DEG').val() || 0);
        let lat_min = parseFloat($('#LAT_MIN').val() || 0);
        let lat_sec = parseFloat($('#LAT_SEC').val() || 0);
        let lon_deg = parseFloat($('#LON_DEG').val() || 0);
        let lon_min = parseFloat($('#LON_MIN').val() || 0);
        let lon_sec = parseFloat($('#LON_SEC').val() || 0);

        let lat_dec = lat_deg + parseFloat(parseFloat(lat_min + (lat_sec / 60)) / 60);
        let lon_dec = lon_deg + parseFloat(parseFloat(lon_min + (lon_sec / 60)) / 60);
        $('#LAT_DEC').val(lat_dec.toFixed(4))
        $('#LON_DEC').val(lon_dec.toFixed(4))
      
        marker.setPosition({lat: lat_dec, lng: lon_dec});
        updatePixelDisplay(lat_dec, lon_dec);
        
        let mzs = new google.maps.MaxZoomService();
        let zoomobj = await mzs.getMaxZoomAtLatLng(marker.getPosition());
        map.setZoom(Math.min(zoomobj.zoom, 15));
        map.setCenter(marker.getPosition());
    }
    async function enterCoordsLatLon() {
        let lat_dec = parseFloat($('#LAT_DEC').val() || 0);
        let lon_dec = parseFloat($('#LON_DEC').val() || 0);

        let dms_lat = toDMS(lat_dec);
        let dms_lon = toDMS(lon_dec);

        $('#LAT_DEG').val(dms_lat[0])
        $('#LAT_MIN').val(dms_lat[1])
        $('#LAT_SEC').val(dms_lat[2])
        $('#LON_DEG').val(dms_lon[0])
        $('#LON_MIN').val(dms_lon[1])
        $('#LON_SEC').val(dms_lon[2])

        marker.setPosition({lat: lat_dec, lng: lon_dec});
        updatePixelDisplay(lat_dec, lon_dec);
        
        let mzs = new google.maps.MaxZoomService();
        let zoomobj = await mzs.getMaxZoomAtLatLng(marker.getPosition());
        map.setZoom(Math.min(zoomobj.zoom, 15));
        map.setCenter(marker.getPosition())
    }

    var showResults = function(){
        var selectedYears = $('#years').val();
        var selectedDataset = $('#datasets').val();
        var lat = parseFloat(marker.position.lat()).toFixed(4);
        var lon = parseFloat(marker.position.lng()).toFixed(4);
       
        if(lat.length == 0 || lon.length == 0){
            alert('Please follow steps 1 and 2 to pick a point');
            return ;
        }else if (selectedDataset==null){
            alert('Please select a dataset');
            return ;
        }else if (selectedYears?.length == 0){
            alert('Please select the desired years for the dataset');
            return ;
        }

        //All data is correct, generating links
        showData(lon, lat, selectedYears, selectedDataset);
    }

    var showData = function(lon, lat, yearsArray, dataset){
        if(lat.length == 0 || lon.length == 0){
            alert('Please pick a point');
        }else{
            let str = "";
            str += "<hr><div>"
            str += "<dl class='dl-horizontal'>"
            str += "<div class='row'><dt>Latitude:</dt><dd class='pl-2'>" + lat + "</dd></div>";
            str += "<div class='row'><dt>Longitude:</dt><dd class='pl-2'>" + lon + "</dd></div>";
            str += "<div class='row'><dt>Dataset:</dt><dd class='pl-2'>" + dataset + "</dd></div>";
            str += "<div class='row'><dt>Years:</dt><dd class='pl-2'>" + yearsArray + "</dd></div>";
            
            str += '<form action="." method="post">{% csrf_token %}"';
            str += "<input type='hidden' name='lat' value='" + lat +"'>";
            str += "<input type='hidden' name='lon' value='" + lon +"'>";
            str += "<input type='hidden' name='dataset' value='" + dataset +"'>";
            
            yearsArray.forEach(year => {
                str += "<input type='hidden' name='years[]' value=" + year + " />";
            });

            str += "<button class='btn btn-primary' type='submit'>Start Task</button>";
            str += "</form>";
            $('#data-output').append(str);
        }
    };

    var resetValues = function(){
        vectors.removeAllFeatures();
        $("#datasetPane").prop('disabled', true);
        $("#datasetPane").val([]);
        $("#yearsPane").prop('disabled', true);
        $("#yearsPane").val([]);
        $('#LAT_DEG').val("");
        $('#LAT_MIN').val("");
        $('#LAT_SEC').val("");
        $('#LON_DEG').val("");
        $('#LON_MIN').val("");
        $('#LON_SEC').val("");
        $('#LAT_DEC').val("");
        $('#LON_DEC').val("");
    }


    function updateDatasetList() {
        let productList = Object.keys(options)
        productList.forEach(element => {
            $("#datasets").append($("<option></option>").attr("value", element).text(element));
        });
    }

    function updateYearList() {
        let selectedProduct = $("#datasets").val()

        if(!selectedProduct) {
            return
        }

        let yearList = options[selectedProduct]

        $("#years").empty()
        yearList.forEach(element => {
            $("#years").append($("<option></option>").attr("value", element).text(element));
        });
    }
</script>
{% endblock %}