{% extends "modis/remote_sensing_datasets.html" %}

{% load i18n %}
{% block title %}{% trans "CEOM Map availability for " %}{{ds.name|upper}}{% endblock %}
{% block head_extra %}
{{ block.super }}
    <script type="text/javascript" src="/static/js/wz_jsgraphics.js"></script>
    <script type="text/javascript" src="/static/js/tile_coords.js"></script>
    <script type="text/javascript">
    // <!--
    var square_size = 16;
    var cols=35;
    var rows=17;
    var xo = 34;
    var yo = 51;
    var width = 13;
    var height = 13;
    var margin = 3;
    var goodlist = [{% for tile in good_list %}[{{ tile.h }},{{ tile.v }}]{% if not forloop.last %},{% endif %}{% endfor %}];
    var badlist = [{% for tile in bad_list %}[{{ tile.h }},{{ tile.v }}]{% if not forloop.last %},{% endif %}{% endfor %}];
    function drawHV(c, h, v){
        c.drawRect(xo+(square_size)*h,yo+(square_size)*v,width,height);
    }
    
    function printTiles(canvas, list){
        for (var i in list){
            drawHV(canvas,list[i][0],list[i][1]);
        }
    }
    
    function loadPage(h,v){
        //alert("This will be a popup for tile: h"+h+"v"+v);
        window.open("/modis/{{dataset}}/tile-h"+h+"v"+v+'/',
                    "Tile Inventory", "menubar=no,width=400, height=600, toolbar=no,scrollbars=yes");
    }

    function showInfo(h,v){
        var hi = parseInt(h);
        var vi = parseInt(v);
        var t = Tile_Coords[vi][hi];
        //$("#mapinfo #continent").text("Continent: "+t[6]);
        $("#mapinfo #h").text("{% trans 'Horizontal' %}: "+h);
        $("#mapinfo #v").text("{% trans 'Vertical' %}:   "+v);
        $("#mapinfo #lon_min").text("{% trans 'Lon min' %}: "+t[2].toString());
        $("#mapinfo #lon_max").text("{% trans 'Lon max' %}: "+t[3].toString());
        $("#mapinfo #lat_min").text("{% trans 'Lat min' %}: "+t[4].toString());
        $("#mapinfo #lat_max").text("{% trans 'Lat max' %}: "+t[5].toString());
    }
    

    function hoverTile(c, h, v){
        showInfo(h,v);
        c.setColor("red");
        c.setStroke(2);
        drawHV(c, h, v);
        c.paint();
    }
    
    function unhoverTile(c){
        c.clear();
    }

    function goodTileDraw(c){
        c.setColor("#00ff00");
        c.setStroke(2);
        printTiles(c, goodlist);
        c.paint();
    }

    function badTileDraw(c){
        c.setColor("#ffff00");
        c.setStroke(2);
        printTiles(c, badlist);
        c.paint();
    }
    
    function image_map(){
        for (i=0; i<=rows; i++) {
            var y0=yo+i*square_size; 
            var y1=y0+square_size;
                for (j=0; j<=cols; j++) {
                    var x0=xo+j*square_size;
                    var x1=x0+square_size;
                    var line = "<area shape=\"rect\" coords=\""+x0+","+y0+","+x1+","+y1+
                            "\" href=\"#\" onclick=\"loadPage("+j+","+i+"); return false;\" "+
                            " onmouseover=\"javascript:hoverTile(bc,"+j+","+i+")\" "+
                            " onmouseout=\"javascript:unhoverTile(bc);\">";
                    document.writeln(line);
                }
        }
    }

    $(document).ready(function(){
        //$("#container").css("height", "820px");
    });
    // -->
    </script>{% endblock %}

{% block content %}
<div class='row-fluid' style='height: 800px;'>
    <h3>{% trans "Dataset" %}</h3>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/modis/inventory/{{dataset.name}}/{{2000}}/">{{dataset.name|upper}}</a> {{dataset.long_name}}
        {% if year_list %}
            <ul class="nav nav-pills">
            {% for y in year_list %}
                <li class="nav-item {% if year_int == y %}active{% endif %}">
                    <a class="nav-link {% if year_int == y %}active{% endif %}" href="/modis/inventory/{{dataset.name}}/{{y}}/">{{y}}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </ul>

    <h3 align="center">{% trans "MODIS Global Datasets " %} <font size="-1">{% trans "(via Sinusoidal Grid )" %}</font> </h3>
    <div id="badmap" style="position:relative;margin:auto;height:380px;width:650px;">
        <div id="tilemap" style="position:relative;height:380px;width:650px;">
            <img name="chooser" border="0" src="/static/images/sinusoidal.png" width="650" height="380" usemap="#tabselect" alt="Sinusoidal Map"/>
        </div>
    <div>

    <script type="text/javascript">
        var bc = new jsGraphics("badmap");
        var gc = new jsGraphics("tilemap");
        goodTileDraw(gc);
        badTileDraw(gc);
    </script> 

    <map id = "tabselect" name="tabselect">
        <script type="text/javascript">
        image_map() 
        </script>
       <area shape="default" nohref onmouseover="javascript: unhoverTile(bc)" alt="" />
    </map>
    <div id="mapinfo" class='well'>
        <table width="650px" align="center" cellpadding="3">
        <tr><td width="25%"> {% trans "Viewing" %}: {{ dataset|upper }} </td> 
            <td  width="25%"> <div id="h"> </div> </td> 
            <td width="25%"> <div id="lat_min"></div> </td> 
            <td width="25%"> <div id="lon_min"></div> </td> 
        </tr>
        <tr><td> {% trans "Year" %}: {{ year }} </td> 
            <td> <div id="v"> </div></td>
            <td> <div id="lat_max"></div> </td>
            <td> <div id="lon_max"></div> </td> 
        </tr>
        </table>
        <div id="continent"></div>
    
        <ul>
            <li>{% trans "Tiles are 10 degrees by 10 degrees at the equator." %} </li>
            <li>{% trans "The tile coordinate system starts at (0,0) (horizontal tile number,vertical tile number) in the upper left corner and proceeds right (horizontal) and downward (vertical). The tile in the bottom right corner is (35,17)." %} </li>
        </ul>
    </div>
</div>
{% endblock %}
