{% load i18n %}
<li class='leftmenu-category nav-header'>
    {% trans "GeoHealth" %}
</li>
<li>
    <a href="/visualization/gemap/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Google Earth browser" %}</p>
    </a>
</li>
<li class='leftmenu-category nav-header'>
    {% trans "Wild birds" %}
</li>      
<li>
    <a href="/birds/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Wild bird tracking data" %}</p>
    </a>
</li>
<li class='leftmenu-category nav-header'>
    {% trans "Avian Influenza" %}
</li> 
<li>
    <a href="/h5n1/" class="btn btn-light btn-block rounded-0 p-0">
        <p class="leftmenu-text mx-4 m-0 text-left">{% trans "Avian Influenza tracking data" %}</p>
    </a>
</li>