{% extends "photos/base.html" %}
{% load photos_tags %}
{% load thumbnail %}
{% load i18n %}
{% block head_extra %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_date_min').datepicker().on('show',function(){
                console.log('show');
            });
            $('#id_date_max').datepicker();
        });
    </script>
    {{block.super}}
{% endblock %}
{% block sidebar_extra %}
<nav class="card bg-light ml-5 mt-3 shadow-sm">
    {% include "photos/search_form.html" %}
</nav>


{% endblock %}

{% block content %}
<div class="span12" style="margin-left:0px;">
    <h2 class="legend" style="color: #0f4ba4;">{% trans "Global Geo-Referenced Field Photo Library" %}</h2>
    <div class="container-fluid" style="padding-left:0px;">
    <div class="span12" style="height:50px; margin-left:0px !important;">
        <div class='span4 text-left'>
            <label><b>{% trans "Search Results" %}:</b> <span class="badge">{{paginator.count}}</span></label>
        </div>
        <div class='span4 text-center'>
            <div class="pagination pagination-small pagination-centered" style="margin:0px !important; padding:0px;">
                <ul>
                    {% if photos.has_previous %}
                        <li><a href="?page=1&amp;ppp={{ppp}}">&laquo;&laquo;</a></li>
                        <li><a href="?page={{ photos.previous_page_number }}&amp;ppp={{ppp}}">&laquo;</a></li>
                    {% endif %}
                    {% for n in page_range %}
                        {% if photos.number != n %}
                            <li><a href="?page={{n}}&amp;ppp={{ppp}}">{{n}}</a></li>
                        {% else %}
                            <li class="active"><a href='#'>{{n}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if photos.has_next %}
                        <li><a href="?page={{ photos.next_page_number }}&amp;ppp={{ppp}}">&raquo;</a></li>
                        <li><a href="?page={{ paginator.num_pages }}&amp;ppp={{ppp}}"> &raquo;&raquo; </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class='span2 text-right'>
            <form class="form-horizontal"> 
                <div class="control-group">
                    <label class="control-label" style='padding-left: 0px;' for='ppp'><b>{% trans "Photos per page" %}</b></label>
                    <div class='controls'>
                        <select class="input-mini" id='ppp' onChange="location.assign('/photos/browse/?ppp='+this.options[selectedIndex].text);">
                            <option {% if ppp == "25" %}selected{%endif%}>25</option>
                            <option {% if ppp == "50" %}selected{%endif%}>50</option>
                            <option {% if ppp == "100" %}selected{%endif%}>100</option>
                            <option {% if ppp == "500" %}selected{%endif%}>500</option>
                            <!--<option {% if ppp == "192" %}selected{%endif%}>192</option>-->
                            <!--<option {% if ppp == "all" %}selected{%endif%}>All</option>-->
                        </select>
                    </div>
                </div>
            </form>
        </div>
   
</div>


{% if checkbox %}
<form method='post' name="download" action="/photos/download/">
{% endif %}
<div class="span12" style="height:50px; margin-left:0px !important;">
{% if checkbox %}
    <span class='span2 offset0'>
    <div>Select All: <input type="checkbox" name="selector" value="Off"  onclick="selectAll(event);"></div>
    </span>
    <!--Image Format: --> 
    <select name="format" class='span3' >
        <option value="option1" disabled>{% trans " Image Format." %}</option>
        <option value="csv">{% trans "CSV file and images." %}</option>
        <option value="kmz">{% trans "KML: KML and images." %}</option>
        <!--<option value="shp">ESRI Shapefile/DBF.</option>-->
    </select>
    <!-- Image Size: --> 
    <select name="img" class='span3 offset1' >
        <option value="option1" disabled>{% trans " Image Size." %}</option>
        <option value="big">{% trans "Original images." %}</option>
        <option value="small">{% trans "Downsized images." %}</option>
    </select>
    
    <input type="submit" class='btn btn-primary span2' value="{% trans 'Download' %}" style="margin-bottom: 10px;  width:initial">

</div>
<!-- </div>
</div> -->





<input type='button' class="btn btn-info" id='hideshow' value='Click Here to Batch Edit Selected Photos' style="width:initial">
    
    <div class="span4" id="batchedit-fade">
        {% csrf_token %}
        <!--<strong style="padding-bottom:5px;">Batch Edit Selected Photos:</strong><br/>-->
        <table>{{form.as_table|safe}}</table>
        <input class='btn' type="submit" value="batchedit" formaction="/photos/batchedit/?next={{request.get_full_path}}">
    </div>
<hr/>
<div class="container-fluid">
    {% for photo in photos %}
        {% include "photos/photo_tile.html" %}
    {% endfor %}
</div>


</form>
{% endif %}

</div>

    
<script>
//**************************************************************
//(BATCHEDITING STUFF)
//***********************BEGIN**********************************
//this code is for div showing on hideshow button click
var countChecked = function() {
  var n = $( "input:checked" ).length;
  if(n>1) { 
    if( $("#batchedit-fade").is(':hidden') ) {
        $("#hideshow").show(200);
    }
  }
  else { 
    $("#hideshow").hide(200);
    $("#batchedit-fade").hide(200);
  }
};

countChecked(); 
$( "input[type=checkbox]" ).on( "click", countChecked );
$('#batchedit-fade').hide(); //initially hide div on first page load
$("#hideshow").hide();  //hide button on first page load

//below code is for hideshow button
jQuery(document).ready(function(){
    jQuery('#hideshow').live('click', function(event) {        
         jQuery('#batchedit-fade').toggle('show');
         $("#hideshow").hide();
    });
});
//***************************END**********************************
//****************************************************************
</script>
<script>
$(document).ready(function(){
    // $(":checkbox").wrap("<span style='background-color:green'>");//removed green background
    $(":checkbox").wrap("<span style='background-color'>");
    });
    </script>

{% endblock %}
