{% extends "photos/base.html" %}
{% load photos_tags %}
{% load thumbnail %}
{% load i18n %}
{% block head_extra %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_date_min').datepicker().on('show',function(){
                console.log('show');
            });
            $('#id_date_max').datepicker();
        });
    </script>
    {{block.super}}
{% endblock %}
{% block sidebar_extra %}
<nav class="card bg-light ml-5 mt-3 shadow-sm">
    {% include "photos/search_form.html" %}
</nav>


{% endblock %}

{% block content %}
<nav id="span12" style="margin-left:0px;">
    <h2 class="legend" style="color: #0f4ba4; font-size: min(max(4vw, 20px),50px)">{% trans "Global Geo-Referenced Field Photo Library" %}</h2>
    <div class="container-fluid" style="padding-left:0px;">
        <div class="row" style="margin-left:0px !important;">
            <div class='span4 text-left col-sm' style="padding-left: 18px; margin-top: 5px">
                <label><b>{% trans "Search Results" %}:</b> <span class="badge badge-pill badge-secondary">{{paginator.count}}</span></label>
            </div>
            <div class='span4 text-center col-sm' >
                <div class="pagination" style="margin:0px !important; padding:0px;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if photos.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1&amp;ppp={{ppp}}" area-label="Previous">
                                    <span aria-hidden="true"> &laquo;&laquo;</span>
                                    <span class="sr-only">PreviousX2</span>
                                </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ photos.previous_page_number }}&amp;ppp={{ppp}}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" area-label="Previous">
                                    <span aria-hidden="true"> &laquo;&laquo;</span>
                                    <span class="sr-only">PreviousX2</span>
                                </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for n in page_range %}
                                {% if photos.number != n %}
                                    <li class="page-item"><a class="page-link" href="?page={{n}}&amp;ppp={{ppp}}">
                                        <span aria-hidden="true">{{n}}</span>
                                        <span class="sr-only">{{n}}</span></a> 
                                    </li>
                                {% elif photos.number == n %}
                                    <li class="page-item active"><a class="page-link" href='#'>{{n}}
                                        <span class="sr-only">{{n}}</span></a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href='#'>{{n}}
                                        <!-- <span aria-hidden="true">{{n}}</span> -->
                                        <span class="sr-only">{{n}}</span>
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            {% if photos.has_next %}
                                <li><a class="page-link" href="?page={{ photos.next_page_number }}&amp;ppp={{ppp}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span></a>
                                </li>
                                <li><a class="page-link" href="?page={{ paginator.num_pages }}&amp;ppp={{ppp}}"> 
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                    <span class="sr-only">NextX2</span>
                                </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span></a>
                                </li>
                                <li class="page-item disabled"><a class="page-link" href="#"> 
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                    <span class="sr-only">NextX2</span>
                                </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class='span2 text-right col-sm col-lg-2' >
                <form class="form-horizontal" id="photo-per-page"> 
                    <div class="control-group row justify-content-around">
                        <label class="control-label" style='padding-left: 0px;' for='ppp'><b>{% trans "Photos per page" %}</b></label>
                        <div class='controls'>
                            <select class="input-mini" id='ppp' onChange="location.assign('/photos/browse/?ppp='+this.options[selectedIndex].text);">
                                <option {% if ppp == "25" %}selected{%endif%}>25</option>
                                <option {% if ppp == "50" %}selected{%endif%}>50</option>
                                <option {% if ppp == "100" %}selected{%endif%}>100</option>
                                <option {% if ppp == "500" %}selected{%endif%}>500</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        

        {% if checkbox %}
        <form method='post' name="download" action="/photos/download/">
        {% endif %}
            <div class="row" style=" margin-left:0px !important; display: inline-flex;">
            {% if checkbox %}
                <span class='span2 offset0 '>
                    <div class='col-sm' id="select-all" style=" margin-right: -15px; width: 400px; display: inline-block; font-size: min(max(3vw, 13px),20px)">Select All: <input type="checkbox" name="selector" value="Off"  onclick="selectAll(event);"></div>
                </span>
                <!--Image Format: --> 
                <select id="row2-1" name="format" class='span3 col-sm'style="margin-right: 10px; height: 35px">
                    <option value="option1" disabled>{% trans " Image Format." %}</option>
                    <option value="csv">{% trans "CSV file and images." %}</option>
                    <option value="kmz">{% trans "KML: KML and images." %}</option>
                    <!--<option value="shp">ESRI Shapefile/DBF.</option>-->
                </select>
                <!-- Image Size: --> 
                <select id="row2-2" name="img" class='span3 offset1 col-sm' style="margin-right: 10px; height: 35px">
                    <option value="option1" disabled>{% trans " Image Size." %}</option>
                    <option value="big">{% trans "Original images." %}</option>
                    <option value="small">{% trans "Downsized images." %}</option>
                </select>
                
                <input id="row2-3" type="submit" class='btn btn-primary span2' value="{% trans 'Download' %}" style="margin-bottom: 10px; margin-right: 10px; height: 35px">

            </div>
            <input type='button' class="btn btn-info" id='hideshow' value='Click Here to Batch Edit Selected Photos' style="width:initial; display: block">
            <div class="span4" id="batchedit-fade">
                {% csrf_token %}
                <!--<strong style="padding-bottom:5px;">Batch Edit Selected Photos:</strong><br/>-->
                <table>{{form.as_table|safe}}</table>
                <input class='btn' type="submit" value="batchedit" formaction="/photos/batchedit/?next={{request.get_full_path}}">
            </div>
            <hr/>
            <div class="container-fluid">
                {% for photo in photos %}
                    {% include "photos/photo_tile.html" %}
                {% endfor %}
            </div>


        </form>
        {% endif %}
    </div>
</nav>

<script>
//**************************************************************
//(BATCHEDITING STUFF)
//***********************BEGIN**********************************
//this code is for div showing on hideshow button click
var countChecked = function() {
  var n = $( "input:checked" ).length;
  if(n>1) { 
    if( $("#batchedit-fade").is(':hidden') ) {
        $("#hideshow").show(200);
    }
  }
  else { 
    $("#hideshow").hide(200);
    $("#batchedit-fade").hide(200);
  }
};

countChecked(); 
$( "input[type=checkbox]" ).on( "click", countChecked );
$('#batchedit-fade').hide(); //initially hide div on first page load
$("#hideshow").hide();  //hide button on first page load

//below code is for hideshow button
jQuery(document).ready(function(){
    jQuery('#hideshow').live('click', function(event) {        
         jQuery('#batchedit-fade').toggle('show');
         $("#hideshow").hide();
    });
});
//***************************END**********************************
//****************************************************************
</script>
<script>
$(document).ready(function(){
    // $(":checkbox").wrap("<span style='background-color:green'>");//removed green background
    $(":checkbox").wrap("<span style='background-color'>");
    });
    </script>

{% endblock %}
