{% extends "photos/base.html" %}

{% load i18n %}
{% block title %}{% trans "EOMF Field Photo overview" %} {% endblock %}
{% block content1 %}
{% block sidebar_extra %}
<div class="well sidebar-nav span12" style="margin-left: 0px; margin-bottom: 0px">
    <div class='row-fluid'>
    {% include "photos/leftmenu_crowdsourcing.html" %}
    </div>

    </div>


{% endblock %}
{% endblock %}
{% block content %}
<!-- July 2017 Event -->

<div class="controls controls-row">
     <label data-toggle="collapse" data-target="#july4">
<h3>"Field Photo Weekend" July 1-4, 2017 . . . Celebrate the long Fourth of July weekend by taking a few photos!</h3>
<a href="http://www.southernclimate.org/fieldphotos/" ><img src="/static/images/FieldPhotoJULY17.png" width=500 px height=300 px border="0"/></a>
<div id="july4" class="collapse">
<p>Here’s your chance to join hundreds of other CoCoRaHS observers to see what our landscapes look like on our nation’s 241st birthday. If you have participated before, this is a great chance to go back to your favorite spots and see what has changed.  All you have to do is:</p>  

<ul><li>Take your camera or smartphone</li>
<li>Find a landscape in your community (streams, lakes, rivers, reservoirs, a forest, a crop field, a pasture, etc.) 
</li>
<li>Take a single photo or a panorama in four different directions (N, E, S, W) from where you are standing. And then take one looking down.
  </li></ul>

<p>There are four ways to post your photos</p> 

<ul><li>Use the “Field Photo” App on your phone, which can be downloaded from the “Apple Store” and “Google Play Store”. Enter metadata to describe the landscape and add #CoCoRaHSJuly17” as a keyword. </li>
<li>Email your photos with your location to: fieldphotos@southernclimate.org.  When uploading your photos please include the words #CoCoRaHSJuly17 in the notes field. Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. </li>
<li>Upload photos directly to the (EOMF) Earth Observation and Modeling Facility's photo archive website: <a href="http://www.eomf.ou.edu/photos"target="_blank"> &ldquo;http://www.eomf.ou.edu/photos&rdquo;</a>.</li>
<li>Or post your photos on your phone or online to our new partners at iSeeChange.org, a climate and weather journal that collects stories about change.</li></ul>

<p>Field Photo Weekend is a partnership between CoCoRaHS, the Southern Climate Impacts Planning Program (SCIPP) and the Earth Observation and Modeling Facility (EOMF) to help ground truth through photos, what is going on with our landscapes throughout the country. It's not just drought we are looking for either, it could be flooding, fire, or whatever state the landscape is now in.  For detailed instructions, click here: <a href="http://www.southernclimate.org/documents/Field_Photos_Reference_Sheet_July_2017.pdf"target="_blank">INSTRUCTIONS</a>. </p> 

<p>As you have seen in past campaigns, Field Photo Weekend added a new partnership last year with ISeeChange, to help tell stories about the photos you’re taking. If you have an interesting observation about the landscape you are photographing ISeeChange would like to hear from you. They take observations and questions from citizens about the changes citizens are seeing in the environment and then write stories about the underlying science. Plus you can send photos and stories anytime. Check it out at <a href="https://www.iseechange.org/"target="_blank">ISEECHANGE.ORG</a> </p> 


<p>In a few weeks this weekend's photos will be posted and you'll be able to see your photos and those taken by other volunteers. Reference the <a href="http://www.southernclimate.org/documents/Field_Photos_Reference_Sheet_July_2017.pdf"target="_blank">VIEWING PHOTOS</a>. </p> 

<p>Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. That address again is:  <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>. When uploading your photos please include the words #CoCoRaHSJuly17 in the notes field.</p>  

<p>Finally, please view the <a href="https://youtu.be/xHUl0eF5WZU"target="_blank">SHORT ANIMATION</a> about our Field Photo Weekends.  It captures all you’ll need to know and we think you will find it very helpful.</p>  

<p>Thanks in advance for participating during the Fourth of July . . . be careful with those fireworks  . . . and thanks for your photos!</p> 
            <br/>
            <br/>
        </div>
    </div>

<!-- May 27-29 EVENT -->
<div class="controls controls-row">
        <label data-toggle="collapse" data-target="#may27">
        <h3>"Field Photo Weekend” May 27 - 29, 2017 . . . Celebrate Memorial Day Weekend by taking a photo or two!</h3></label>
        <a href="http://www.southernclimate.org/fieldphotos/" ><img src="/static/images/FieldPhotoMay17.png" width=500 px height=300 px border="0"/></a>
        <div id="may27" class="collapse">
        <p>Here’s your chance to join hundreds of other CoCoRaHS observers to see what our landscapes look like in mid-winter. If you have participated before, this is a great chance to go back to your favorite spots and see what has changed.  All you have to do is:</p>  

<ul><li>Take your camera or smartphone </li>
<li>Find a landscape in your community (streams, lakes, rivers, reservoirs, a forest, a crop field, a pasture, etc.) 
</li>
<li>Take a single photo or a panorama in four different directions (N, E, S, W) from where you are standing. And then take one looking down.
  </li></ul>

<p>There are four ways to post your photos</p> 

<ul><li>Use the “Field Photo” App on your phone, which can be downloaded from the “Apple Store” and “Google Play Store”. Enter metadata to describe the landscape and add #CoCoRaHSMay17” as a keyword. </li>
<li>Email your photos with your location to: fieldphotos@southernclimate.org.  When uploading your photos please include the words #CoCoRaHSMay17 in the notes field. Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. </li>
<li>Upload photos directly to the (EOMF) Earth Observation and Modeling Facility's photo archive website: <a href="http://www.eomf.ou.edu/photos"target="_blank"> &ldquo;http://www.eomf.ou.edu/photos&rdquo;</a>.</li>
<li>Or post your photos on your phone or online to our new partners at iSeeChange.org, a climate and weather journal that collects stories about change.</li></ul>


<p>Field Photo Weekend is a partnership between CoCoRaHS, the Southern Climate Impacts Planning Program (SCIPP) and the Earth Observation and Modeling Facility (EOMF) to help ground truth through photos, what is going on with our landscapes throughout the country. It's not just drought we are looking for either, it could be flooding, fire, or whatever state the landscape is now in.  For detailed instructions, click here: <a href=“MARK please insert URL”</a> </p> 

<p>As you have seen in past campaigns, Field Photo Weekend added a new partnership last year with ISeeChange, to help tell stories about the photos you’re taking. If you have an interesting observation about the landscape you are photographing ISeeChange would like to hear from you. They take observations and questions from citizens about the changes citizens are seeing in the environment and then write stories about the underlying science. Plus you can send photos and stories anytime. Check it out at <a href="https://www.iseechange.org/"target="_blank"> &ldquo;ISEECHANGE.ORG&rdquo;</a> </p> 


<p>In a few weeks this weekend's photos will be posted and you'll be able to see your photos and those taken by other volunteers. Reference the <a href=“MARK please insert URL”</a>  page to see how to view the photos.</p>


<p>Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. That address again is:  <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>. When uploading your photos please include the words #CoCoRaHSMay17 in the notes field.</p>  

<p>Thanks in advance for participating during Memorial Day weekend . . . thanks for snapping!</p> 
            <br/>
            <br/>
        </div>
        </div>


<!--FEB 18-20 EVENT  --> 
        <div class="controls controls-row">
        <label data-toggle="collapse" data-target="#feb18">
        <h3>"Field Photo Weekend" February 18, 19, 20, 2017 . . . Celebrate President’s Day Weekend by taking a photo or two!</h3></label>
        <a href="http://www.southernclimate.org/fieldphotos/" ><img src="/static/images/FieldPhotoFeb17.jpg" width=500 px height=300 px border="0"/></a>
        <div id="feb18" class="collapse">
        <p>Here’s your chance to join hundreds of other CoCoRaHS observers to see what our landscapes look like in mid-winter. If you have participated before, this is a great chance to go back to your favorite spots and see what has changed.  All you have to do is:</p>  

        <ul><li>Take your camera or smartphone </li>
        <li>Find a landscape in your community (streams, lakes, rivers, reservoirs, a forest, a crop field, a pasture, etc.) 
        </li>
        <li>Take a single photo or a panorama in four different directions (N, E, S, W) from where you are standing. And then take one looking down.
        </li></ul>

        <p>There are four ways to post your photos</p> 

        <ul><li>Use the “Field Photo” App on your phone, which can be downloaded from the “Apple Store” and “Google Play Store”. Enter metadata to describe the landscape and add #CoCoRaHSFeb17” as a keyword. </li>
        <li>Email your photos with your location to: fieldphotos@southernclimate.org.  When uploading your photos please include the words #CoCoRaHSFeb17 in the notes field. Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. </li>
        <li>Upload photos directly to the (EOMF) Earth Observation and Modeling Facility's photo archive website: <a href="http://www.eomf.ou.edu/photos"target="_blank"> &ldquo;http://www.eomf.ou.edu/photos&rdquo;</a>.</li>
        <li>Or post your photos on your phone or online to our new partners at iSeeChange.org, a climate and weather journal that collects stories about change.</li></ul>


        <p>Field Photo Weekend is a partnership between CoCoRaHS, the Southern Climate Impacts Planning Program (SCIPP) and the Earth Observation and Modeling Facility (EOMF) to help ground truth through photos, what is going on with our landscapes throughout the country. It's not just drought we are looking for either, it could be flooding, fire, or whatever state the landscape is now in.  For detailed instructions, click here: <a href="http://www.southernclimate.org/pages/news/presidents-day-field-photo-weekends-feb.-18-20-2017"target="_blank"> &ldquo;FIELD PHOTO WEEKENDS&rdquo;</a> </p> 

        <p>As you have seen in past campaigns, Field Photo Weekend has a new partnership this year with ISeeChange, to help tell stories about the photos you’re taking. If you have an interesting observation about the landscape you are photographing ISeeChange would like to hear from you. They take observations and questions from citizens about the changes citizens are seeing in the environment and then write stories about the underlying science. Plus you can send photos and stories anytime. Check it out at <a href="https://www.iseechange.org/"target="_blank"> &ldquo;ISEECHANGE.ORG&rdquo;</a> </p> 


        <p>In a few weeks this weekend's photos will be posted and you'll be able to see your photos and those taken by other volunteers. Reference the <a href="http://www.southernclimate.org/pages/news/presidents-day-field-photo-weekends-feb.-18-20-2017"target="_blank"> &ldquo;FIELD PHOTO WEEKENDS&rdquo;</a>  page to see how to view the photos.</p>


        <p>Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. That address again is:  <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>. When uploading your photos please include the words #CoCoRaHSFeb17 in the notes field.</p>  

        <p>Thanks in advance for participating during President’s Day weekend . . . thanks for snapping!</p> 
            <br/>
            <br/>
        </div>
        </div>



<div class="controls controls-row">
<label data-toggle="collapse" data-target="#sept16"><h3>"Field Photo Weekend" September 3rd-5th . . . Celebrate the unofficial end of summer this Labor Day Weekend by taking a photo or two!</h3></label>
<a href="http://www.southernclimate.org/fieldphotos/" ><img src="/static/images/FieldPhotoSept5.png" width=500 px height=300 px border="0"/></a>
 <div id="sept16" class="collapse">
<p>Here’s your chance to join hundreds of other CoCoRaHS observers to see what our landscapes look like in late summer. If you have participated before, this is a great chance to go back to your favorite spots and see what has changed.  All you have to do is:</p>  
 
<ul><li>Take your camera or smartphone </li>
<li>Find a landscape in your community (streams, lakes, rivers, reservoirs, a forest, a crop field, a pasture, etc.) 
</li>
<li>Take a single photo or a panorama in four different directions (N, E, S, W) from where you are standing. And then take one looking down.
  </li></ul>
 
<p>There are four ways to post your photos</p> 
 
<ul><li>Use the “Field Photo” App on your phone, which can be downloaded from the “Apple Store” and “Google Play Store”. Enter metadata to describe the landscape and add #CoCoRaHSSep16” as a keyword. </li>
<li>Email your photos with your location to: fieldphotos@southernclimate.org.  When uploading your photos please include the words #CoCoRaHSSep16 in the notes field. Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. </li>
<li>Upload photos directly to the (EOMF) Earth Observation and Modeling Facility's photo archive website: <a href="http://www.eomf.ou.edu/photos"target="_blank"> &ldquo;http://www.eomf.ou.edu/photos&rdquo;</a>.</li>
<li>Or post your photos on your phone or online to our new partners at iSeeChange.org, a climate and weather journal that collects stories about change.</li></ul>
 
 
<p>Field Photo Weekend is a partnership between CoCoRaHS, the Southern Climate Impacts Planning Program (SCIPP) and the Earth Observation and Modeling Facility (EOMF) to help ground truth through photos, what is going on with our landscapes throughout the country. It's not just drought we are looking for either, it could be flooding, fire, or whatever state the landscape is now in.  For detailed instructions, click here: <a href="http://cocorahs.org/Media/docs/FieldPhotosReferenceSheetMay16.pdf"target="_blank"> &ldquo;FIELD PHOTO WEEKENDS&rdquo;</a> </p> 
 
<p>As you have seen in past campaigns, Field Photo Weekend has a new partnership this year with ISeeChange, to help tell stories about the photos you’re taking. If you have an interesting observation about the landscape you are photographing ISeeChange would like to hear from you. They take observations and questions from citizens about the changes citizens are seeing in the environment and then write stories about the underlying science. Plus you can send photos and stories anytime. Check it out at <a href="https://www.iseechange.org/"target="_blank"> &ldquo;ISEECHANGE.ORG&rdquo;</a> </p> 
 
 
<p>In a few weeks this weekend's photos will be posted and you'll be able to see your photos and those taken by other volunteers. Reference the <a href="http://cocorahs.org/Media/docs/FieldPhotosReferenceSheetSep16.pdf"target="_blank"> &ldquo;FIELD PHOTO WEEKENDS&rdquo;</a>  page to see how to view the photos.</p>
 
 
<p>Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. That address again is:  <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>. When uploading your photos please include the words #CoCoRaHSSep16 in the notes field.</p>  
 
<p>Thanks in advance for participating during the long Labor Day weekend . . . thanks for snapping!</p> 
            <br/>
            <br/>
            </li>
</div>
</div>
<div class="controls controls-row">
            <!-- JUNE field photo event -->
            <label data-toggle="collapse" data-target="#july16"><h3>"Field Photo Weekend" July 2nd-4th . . . Celebrate the Fourth of July Weekend by taking a photo or two!"</h3></label>
            <a href="http://www.southernclimate.org/fieldphotos/" ><img src="/static/images/FieldPhotoJULY2.png" width=500 px height=300 px border="0"/></a>
           <div id="july16" class="collapse">
           <p>Here’s your chance to join hundreds of other CoCoRaHS observers to see what our landscapes look like during early summer. If you have participated before, this is a great chance to go back to your favorite spots and see what has changed. All you have to do is:</p>
           <ul>
               <li>Take your camera or smartphone</li> 
               <li>Find a landscape in your community (streams, lakes, rivers, reservoirs, a forest, a crop field, a pasture, etc.)</li>
               <li>Take a single photo or a panorama in four different directions (N, E, S, W) from where you are standing. And then take one looking down.</li> 
            </ul>
            <br>
           <p>There are four ways to post your photos</p>
           <ul>
                <li>Use the “Field Photo” App on your phone, which can be downloaded from the “Apple Store” and “Google Play Store”. Enter metadata to describe the landscape and add #CoCoRaHSJuly16” as a keyword.</li>
                <li>Email your photos with your location to: <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>. When uploading your photos please include the words #CoCoRaHSJuly16 in the notes field. Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward.</li>
                <li>Upload photos directly to the (EOMF) Earth Observation and Modeling Facility's photo archive website: <a href="http://www.eomf.ou.edu/photos" target="_blank">“http://www.eomf.ou.edu/photos”</a>.</li>
                <li>Or post your photos on your phone or online to our new partners at <a href="http://iSeeChange.org" target="blank">iSeeChange.org</a>, a climate and weather journal that collects stories about change.</li>
            </ul>
            <br>
            <p>Field Photo Weekend is a partnership between CoCoRaHS, the Southern Climate Impacts Planning Program (SCIPP) and the Earth Observation and Modeling Facility (EOMF) to help ground truth through photos, what is going on with our landscapes throughout the country. It's not just drought we are looking for either, it could be flooding, fire, or whatever state the landscape is now in. For detailed instructions, click here: <a href="http://cocorahs.org/Media/docs/FieldPhotosReferenceSheetJuly16.pdf" target="blank">“FIELD PHOTO WEEKENDS”</a></p>
            
            <p>This year - Field Photo Weekend has a new partnership with ISeeChange, to help tell stories about the photos you’re taking. If you have an interesting observation about the landscape you are photographing ISeeChange would like to hear from you. They take observations and questions from citizens about the changes citizens are seeing in the environment and then write stories about the underlying science. Plus you can send photos and stories anytime. Check it out at <a href="http://iSeeChange.org" target="blank">“ISEECHANGE.ORG”</a></p>
            
            <p>In a few weeks this weekend's photos will be posted and you'll be able to see your photos and those taken by other volunteers. Reference the <a href="http://cocorahs.org/Media/docs/FieldPhotosReferenceSheetJuly16.pdf" target="blank">“FIELD PHOTO WEEKENDS”</a> page to see how to view the photos. Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. That address again is: <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>. When uploading your photos please include the words #CoCoRaHSJuly16 in the notes field.</p>
            
            <p>Thanks in advance for participating during the long July 4th weekend-Have fun snapping! </p>
            <br/>
            <br/>
            </li>
        </div>
</div>
<div class="controls controls-row">
            <!--May Field photo event -->
            <label data-toggle="collapse" data-target="#may16"><h3>"Field Photo Weekend" May 28-30th . . . Celebrate Memorial Day Weekend by taking a photo or two!</h3></label>
            <a href="http://www.southernclimate.org/fieldphotos/" ><img src="/static/images/FieldPhotoMay16.png" width=500 px height=300 px border="0"/></a>
            <div id="may16" class="collapse">
            <p>What does your landscape look like in mid-spring? Have you participated in the CoCoRaHS Field Photos Weekends before?  If not, here's your chance to join hundreds of other CoCoRaHS observers to see what our landscapes looks like. If you have participated before, this is a great chance to go back to your favorite spots and see what has changed. This weekend, May 28-30th, you can help by participating in our twelveth "Field Photo Weekend".</p>  

            <p>All you have to do is take your camera or smartphone, find a landscape in your community (streams, lakes, rivers, reservoirs, a forest, a crop field, a pasture, etc.) and take a single photo or a panorama in four different directions (N, E, S, W) from where you are standing. After that you can either email your photos with your location to: <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>, or upload them directly to the Earth Observation and Modeling Facility's photo archive website: <a href="http://www.eomf.ou.edu/photos"target="_blank"> &ldquo;http://www.eomf.ou.edu/photos&rdquo;</a>.   For detailed instructions, click here: <a href="http://www.southernclimate.org/documents/Field_Photos_Reference_Sheet_Correct.pdf"target="_blank"> &ldquo;FIELD PHOTO WEEKENDS&rdquo;</a> </p> 

            <p>If you have a GPS smartphone, you can use the “Field  Photo” app, which is now freely available in the  <a href="https://itunes.apple.com/us/app/field-photo/id717945301"target="_blank"> &ldquo;Apple Store&rdquo;</a> and <a href="https://play.google.com/store/apps/details?id=com.eomf"target="_blank"> &ldquo;Google Play Store&rdquo;</a>.  You can use your smartphone to take a photo in the field, enter metadata to describe the landscape, and then upload the photo and metadata into the EOMF photo archive website directly from your phone when you have access to WI-FI.  When your enter metadata, you may also add “#CoCoRaHSMay16” keyword. </p>  

            <p>If you want to see what others have submitted before, go to <a href="http://www.eomf.ou.edu/photos/map/" target="_blank">Global Geo-Referenced Field Photo Library</a>, do a search by a keyword “CoCoRaHS” and/or date, and click on any of the dots (these photos were from Labor Day weekend last September).</p> 

            <p>Field Photo Weekend is a partnership between CoCoRaHS, the Southern Climate Impacts Planning Program (SCIPP) and the Earth Observation and Modeling Facility (EOMF) to help ground truth through photos, what is going on with our landscapes throughout the country. It's not just drought we are looking for either, it could be flooding, fire, or whatever state the landscape is now in. There is the possibility that we may hold additional "Field Photo Weekends" during the year to show how conditions to your landscape may have changed over time. This should be fun!</p>  

            <p>In a few weeks this weekend's photos will be posted and you'll be able to see your photos and those taken by other volunteers. Reference the <a href="http://www.southernclimate.org/documents/Field_Photos_Reference_Sheet_Correct.pdf"target="_blank"> &ldquo;FIELD PHOTO WEEKENDS&rdquo;</a>  page to see how to view the photos.</p>


            <p>Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. That address again is:  <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>. When uploading your photos please include the words #CoCoRaHSMay16 in the notes field.</p>  

            <p>Thanks in advance for participating during the long Memorial Day weekend!</p> 
            <br/>
            <br/>
            </li>
          </div> 
        </div>


         <!--FEBRUARY EVENT  --> 
        <div class="controls controls-row">
            <label data-toggle="collapse" data-target="#feb16"><h3>"Field Photo Weekend" February 13-15th . . . Celebrate President’s Day Weekend by taking a photo or two!</h3></label>
            <a href="http://www.southernclimate.org/fieldphotos/" ><img src="/static/images/FieldPhotoFeb16.png" width=500 px height=300 px border="0"/></a>
            <div id="feb16" class="collapse">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><big>What does your landscape look like in mid-winter or early spring?</big></strong> Have you participated in the CoCoRaHS Field Photos Weekends before?  If not, here's your chance to join hundreds of other CoCoRaHS observers to see what our landscapes looks like. If you have participated before, this is a great chance to go back to your favorite spots and see what has changed. This weekend, February 13-15th, you can help by participating in our eleventh "Field Photo Weekend".</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All you have to do is take your camera or smartphone, find a landscape in your community (streams, lakes, rivers, reservoirs, a forest, a crop field, a pasture, etc.) and take a single photo or a panorama in four different directions (N, E, S, W) from where you are standing. After that you can either email your photos with your location to: <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>, or upload them directly to the Earth Observation and Modeling Facility's photo archive website: <a href="http://www.eomf.ou.edu/photos" target="_blank"> “http://www.eomf.ou.edu/photos”</a>.   For detailed instructions, click here: <a href="http://www.southernclimate.org/documents/Field_Photos_Reference_Sheet_Correct.pdf" target="_blank"> “FIELD PHOTO WEEKENDS”</a> </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you have a GPS smartphone, you can use the “Field  Photo” app, which is now freely available in the  <a href="https://itunes.apple.com/us/app/field-photo/id717945301" target="_blank"> “Apple Store”</a> and <a href="https://play.google.com/store/apps/details?id=com.eomf" target="_blank"> “Google Play Store”</a>.  You can use your smartphone to take a photo in the field, enter metadata to describe the landscape, and then upload the photo and metadata into the EOMF photo archive website directly from your phone when you have access to WI-FI.  When your enter metadata, you may also add “#CoCoRaHSFeb16” keyword. </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you want to see what others have submitted before, go to <a href="http://www.eomf.ou.edu/photos/map/" target="_blank">Global Geo-Referenced Field Photo Library</a>, do a search by a keyword “CoCoRaHS” and/or date, and click on any of the dots (these photos were from Labor Day weekend last September).</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Field Photo Weekend is a partnership between CoCoRaHS, the Southern Climate Impacts Planning Program (SCIPP) and the Earth Observation and Modeling Facility (EOMF) to help ground truth through photos, what is going on with our landscapes throughout the country. It's not just drought we are looking for either, it could be flooding, fire, or whatever state the landscape is now in. There is the possibility that we may hold additional "Field Photo Weekends" during the year to show how conditions to your landscape may have changed over time. This should be fun!</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In a few weeks this weekend's photos will be posted and you'll be able to see your photos and those taken by other volunteers. Reference the <a href="http://www.southernclimate.org/documents/Field_Photos_Reference_Sheet_Correct.pdf" target="_blank"> “FIELD PHOTO WEEKENDS”</a>  page to see how to view the photos.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. That address again is:  <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>. When uploading your photos please include the words #CoCoRaHSFeb16 in the notes field.</p>
            <p>Thanks in advance for participating during the long President’s Day weekend!</p>
            <br/>
            <br/>
        </div>
        </div>
            <!--SEPTEMBER EVENT  -->
        <div class="controls controls-row">
            <label data-toggle="collapse" data-target="#sept15"><h3>"Field Photo Weekend" September 5-7th . . . Celebrate the end of summer and Labor Day Weekend by taking a photo or two!</h3></label>
            <a href="http://www.southernclimate.org/fieldphotos/" ><img src="/static/images/fieldphoto_sep.png" width=500 px height=300 px border="0"/></a>
            <div id="sept15" class="collapse">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><big>What does your landscape look like in late summer?</big></strong> Have you participated in the CoCoRaHS Field Photos Weekends before? If not, here's your chance to join hundreds of other CoCoRaHS users to see what our landscapes looks like. If you have participated before, this is a great chance to go back to your favorite spots and see what has changed. During September 5-7th, you can help by participating in our tenth "Field Photo Weekend".</p>  
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All you have to do is take your camera or smartphone, find a landscape in your community (streams, lakes, rivers, reservoirs, a forest, a crop field, a pasture, etc.) and take a single photo or a panorama in four different directions (N, E, S, W) from where you are standing. After that you can either email your photos with your location to: <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>, or upload them directly to the Earth Observation and Modeling Facility's photo archive website: <a href="http://www.eomf.ou.edu/photos" target="_blank"> &ldquo;http://www.eomf.ou.edu/photos&rdquo;</a>.   For detailed instructions, click here: <a href="http://www.southernclimate.org/documents/Field_Photos_Reference_Sheet.pdf" target="_blank"> &ldquo;FIELD PHOTO WEEKENDS&rdquo;</a> </p> 
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you have a smartphone, you can use the “Field  Photo” app, which is now freely available in the  <a href="https://itunes.apple.com/us/app/field-photo/id717945301" target="_blank"> &ldquo;Apple Store&rdquo;</a> and <a href="https://play.google.com/store/apps/details?id=com.eomf" target="_blank"> &ldquo;Google Play Store&rdquo;</a>.  You can use your smartphone to take a photo in the field, enter metadata to describe the landscape, and then upload the photo and metadata into the EOMF photo archive website directly from your iPhone when you have access to WI-FI.  When your enter metadata, you may add “#CoCoRaHSSep15” keyword. </p>  
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you want to see what others have submitted before, go to <a href="http://www.eomf.ou.edu/photos/cocorahsmay15/" target="_blank"> &ldquo;http://www.eomf.ou.edu/photos/cocorahsmay15/&rdquo;</a> and click on any of the dots (these photos were from Memorial Day weekend last May). We are working on going back to the earlier events and tagging all those photos so you will be able to easily find all the ones from our past weekends. If you upload photos directly to the EOMF website, you can help us by adding a tag #CoCoRaHSASep15 in the Field Notes section.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Field Photo Weekend is a partnership between CoCoRaHS, the Southern Climate Impacts Planning Program (SCIPP) and the Earth Observation and Modeling Facility (EOMF) to help ground truth through photos, what is going on with our landscapes throughout the country. It's not just drought we are looking for either, it could be flooding, or whatever state the landscape is now in. There is the possibility that we may hold additional "Field Photo Weekends" during the year to show how conditions to your landscape may have changed over time. This should be fun!</p>  
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In a few weeks this weekend's photos will be posted and you'll be able to see your photos and those taken by other volunteers. Reference the <a href="http://www.southernclimate.org/documents/Field_Photos_Updated_Reference_Sheet_.pdf" target="_blank"> &ldquo;FIELD PHOTO WEEKENDS&rdquo;</a>  page to see how to view the photos.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remember you don't have to email your photos this weekend, just take them, but we do encourage you to email them soon afterward. That address again is:  <a href="mailto:fieldphotos@southernclimate.org">fieldphotos@southernclimate.org</a>. When uploading your photos please include the words #CoCoRaHSSep15 in the notes field.</p>  
            <p>Just think if all 20,000+ CoCoRaHS volunteers take photos! <big><b>Wow!</b></big></p>  
            <p>Thanks in advance for participating and have a great Labor Day weekend!</p> 
        </div>
        </div>
</li>
          </ol>

        </p>
{% endblock %}