<style>
    .img-thumbnail:hover {
        border-color: #0088cc;
    }
    #edit {
        height:25px; 
        width:26%; 
        font-size:small; 
        display:inline-flex; 
        align-items:center;
        justify-content: center;
    }
    #remove {
        height:25px; 
        width:26%; 
        font-size:small; 
        display:inline-flex; 
        align-items:center;
        justify-content: center;
    }
    #modis {
        height:25px; 
        width:26%; 
        font-size: x-small; 
        display:inline-flex; 
        align-items:center;
        justify-content: center 
    }
</style>

{% load photos_tags %}

{% load i18n %}

{% load thumbnail %}
<div class='photo-tile'>
    <div class='row-fluid container'>
        <div class="row pull-left" style="padding-bottom: 2px;">
            <a  href='/photos/view/{{photo.pk}}/' {% if '/photos/photos.html' in request.path %} target="_blank" {%endif%} class="thumbnail">

                {% if photo.file|photoexists %}
                    {% thumbnail photo.file "150x150" as im %} 
                    
                    {% if im.height > im.width %}
                        <img style="height: 160px; width: 120px" src='{{im.url}}' alt='{{photo.basename}}' class="img-thumbnail"/>
                    {% else %}
                        <img style="width: 160px; height: 120px" src='{{im.url}}' alt='{{photo.basename}}' class="img-thumbnail"/>
                    {%endif%}
                    {% empty %}
                    {% trans "Image file missing" %}
                    {% endthumbnail %}
                {% else %}
                    <img src='' alt='{% trans "Image not available" %}' style="width:150px;height:150px;"/>
                {% endif %}
            </a>
        </div>
        {% if checkbox %}
            <div class='row photo-checkbox justify-content-start'>
                <input style="width:15px; margin-left: 15px;" type="checkbox" id="{{photo.pk}}" name="ids" value="{{photo.pk}}" onClick="check(event)"/>
            </div>
        {% endif %}
    </div>
    <!-- Get rid of "pull-left"-->
    <div class='row-fluid pull-left'>
        <div class='span12'>
            <ul class="list-unstyled">
                <li>{{photo.takendate}}</li>
                {% if photo.lon and photo.lat %}
                <li>{{photo.point|point2str}}</li>
                {% endif %}
                {% if photo.category %}
                <li>{% trans photo.category.name %}</li>
                {% else %}
                <li>{% trans "Category not set" %}</li>
                {% endif %}
                <li style="padding-top:4px">
                    {% if modis_timeseries %}
                    <a id="modis" class="btn btn-light btn-small btn-outline-dark btn3d" href="/modis/visualization/gmap/{{photo.lat}}_{{photo.lon}}" onclick='timeSeries({{photo.lon}},{{photo.lat}}); return true'>
                        <abbr title="{% trans 'View MODIS data for this photo. Click on this button and scroll down to the bottom of the page and to select appropriate dataset and year' %}">MODIS</abbr>
                    </a>
                {% endif %}
                {% if photo.user == request.user or request.user.is_superuser %}
                <!--<div class="container" style="padding-left: 0px; padding-right:0px">-->
                    <a id="edit" class='btn btn-light btn-outline-secondary btn-small' href="/photos/edit/{{photo.id}}">{% trans "Edit" %}</a>
                    <a id="remove" class='btn btn-danger btn-small' onclick="return confirm('Are you sure, you want to delete?');" href="/photos/delete/{{photo.id}}/?next={{request.get_full_path|urlencode}}">{% trans "Delete" %}</a>
                <!-- </div> -->
                {% endif %}
                
                </li>
            </ul>
        </div>
    </div>
</div>