{% load photos_tags %}

{% load i18n %}

{% load thumbnail %}
<div class='photo-tile'>
    <div class='row-fluid'>
        <div class='pull-left'>
            <a href='/photos/view/{{photo.pk}}/' {% if '/photos/photos.html' in request.path %} target="_blank" {%endif%} class="thumbnail">

                {% if photo.file|photoexists %}
                    {% thumbnail photo.file "150x150" as im %} 
                    <img src='{{im.url}}' alt='{{photo.basename}}' class="img-thumbnail"/>
                    {% empty %}
                    {% trans "Image file missing" %}
                    {% endthumbnail %}
                {% else %}
                    <img src='' alt='{% trans "Image not available" %}' style="width:150px;height:150px;"/>
                {% endif %}
            </a>
        </div>
        {% if checkbox %}
        <div class='photo-checkbox' style="margin-left:-105px">
            <input  type="checkbox" id="{{photo.pk}}" name="ids" value="{{photo.pk}}" onClick="check(event)"/>
        </div>
        {% endif %}
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <ul class="list-unstyled">
                <li>{{photo.takendate}}</li>
                {% if photo.lon and photo.lat %}
                <li>{{photo.point|point2str}}</li>
                {% endif %}
                {% if photo.category %}
                <li>{% trans photo.category.name %}</li>
                {% else %}
                <li>{% trans "Category not set" %}</li>
                {% endif %}
                <li style="padding-top:4px">
                {% if photo.user == request.user or request.user.is_superuser %}
                <a class='btn btn-light btn-outline-secondary btn-small' href="/photos/edit/{{photo.id}}">{% trans "Edit" %}</a>
                <a class='btn btn-danger btn-small' onclick="return confirm('Are you sure, you want to delete?');" href="/photos/delete/{{photo.id}}/?next={{request.get_full_path|urlencode}}">{% trans "Delete" %}</a>
                {% endif %}
                {% if modis_timeseries %}
                    <a class="btn btn-light btn-small btn-outline-dark btn3d" style="padding-top:1px; margin-top:4px" href="/modis/visualization/gmap/{{photo.lat}}_{{photo.lon}}" onclick='timeSeries({{photo.lon}},{{photo.lat}}); return true'>
                        <abbr title="{% trans 'View MODIS data for this photo. Click on this button and scroll down to the bottom of the page and to select appropriate dataset and year' %}">MODIS</abbr>
                    </a>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>