{% extends "photos/base.html" %}
{% load i18n %}
{% block title %}{% trans "EOMF photo upload" %} {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<h4>{% trans "Upload" %}</h4>

<div class="upload-container">
    <ul>
        <li>{% trans "You can select multiple files, drag&amp;drop files into the window with Firefox, Safari, Chrome" %}</li>
        <li><span style="color:red"><big>{% trans "Don't forget to click"%}<b> {%trans "'Save Uploaded Images'"%} </b> {%trans "after uploading all the images" %}</big></span></li>
        <li>{% trans "The default setting for photos is public, if you want to change it to private, then check the 'private box'"%}
            <input id="checkbox2" type="checkbox" class="toggle"></li>
    </ul>

    <input id="file-select-input" type="file" name="files[]" style="display: none;" multiple />

    <button id="file-select-button" type="button" class="btn btn-success">
        <span>{% trans "Add Files..." %}</span>
    </button>

    <button id="file-submit-button" type="submit" class="btn btn-primary">
        <span>{% trans "Start upload" %}</span>
    </button>

    <button type="reset" class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{% trans "Cancel upload" %}</span>
    </button>

    <button type="button" class="btn btn-danger">
        <span>{% trans "Delete" %}</span>
    </button>

    <button id="selectall1" type="button" class="btn btn-secondary">
        <span>{% trans "Select All/None" %}</span>
    </button>

    <!-- The global progress bar -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div id="file-list"></div>

    <form enctype="multipart/form-data" action="." method="POST">
        {% csrf_token %}
        {% trans "The default setting for photos is public, do you want to change it to private?" %}
        <input id="checkbox1" type='checkbox' class="toggle" name='private' value='Yes'>
        <input type="hidden" name="subupload" value="1">
        <input id="submithide" type="submit" class="btn btn-primary" value="Save Uploaded Images">
    </form>
</div>
<hr />

<div>
    <h3>{% trans "Notes" %}</h3>
    <ul>
        <li>{% trans "Please upload individual images (<strong>JPEG, PNG, GIF</strong>)" %}</li>
        <li>{% trans "Total upload limit is set at 650MB, but it is recommended you do not upload files bigger than <strong>25MB</strong>." %}</li>
        <li>{% trans "If you are having trouble uploading big files (over 25M) select multiple smaller files in the file browse window." %}</li>
        <li>{% trans "You can <strong>drag &amp; drop</strong> files from your desktop on this webpage with Google Chrome, Mozilla Firefox and Apple Safari." %}</li>
    </ul>
</div>

<!-- gallery-modal is the modal dialog used for the image gallery -->
<div id="gallery-modal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3 class="title"></h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <a class="btn primary next">{% trans "Next" %}</a>
        <a class="btn info prev">{% trans "Previous" %}</a>
        <a class="btn success download" target="_blank">{% trans "Download" %}</a>
    </div>
</div>
</div>

{% else %}
{% trans "Please Log in to upload photos." %}
{% endif %}

<script>
    $(function () {
        let fileSelectInput = $('#file-select-input');
        let fileSelectButton = $('#file-select-button');
        let fileSubmitButton = $('#file-submit-button');
        let fileList = $('#file-list');
        let files = [];

        fileSelectInput.change(function () {
            let newFiles = [];

            for (let index = 0; index < fileSelectInput[0].files.length; index++) {
                let file = fileSelectInput[0].files[index];
                newFiles.push(file);
                files.push(file);
            }

            newFiles.forEach(file => {
                let fileElement = $(`<p>${file.name}</p>`);
                fileElement.data('fileData', file);
                fileList.append(fileElement);

                fileElement.click(function (event) {
                    let fileElement = $(event.target);
                    let indexToRemove = files.indexOf(fileElement.data('fileData'));
                    fileElement.remove();
                    files.splice(indexToRemove, 1);
                });
            });
        });

        fileSelectButton.click(function () {
            fileSelectInput.click();
        });

        fileSubmitButton.click(function () {
            let formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            files.forEach(file => {
                formData.append('file', file);
            });

            console.log('Sending...');

            $.ajax({
                url: './preload/',
                data: formData,
                type: 'POST',
                success: function (data) {
                    console.log('SUCCESS !!!');
                },
                error: function (data) {
                    console.log('ERROR !!!');
                },
                cache: false,
                processData: false,
                contentType: false
            });
        });





        $("#checkbox1").change(function () {
            if ($("#checkbox2").is(":checked")) {
                $("#checkbox2").attr('checked', false);
            } else {
                $("#checkbox2").attr('checked', true);
            }
        });
        $("#checkbox2").change(function () {
            if ($("#checkbox1").is(":checked")) {
                $("#checkbox1").attr('checked', false);
            } else {
                $("#checkbox1").attr('checked', true);
            }
        });
    });
</script>
{% endblock %}